@model schliessanlagen_konfigurator.Models.Options;
<div class="modal-content" id="modalka">
    @Html.HiddenFor(x => x.Id)
    <div class="modal-header">
        <button class=" btn btn-success close" id="close" data-dismiss="modal" area-hidden="true">X</button>
        <button class=" btn btn-success " id="Add_options" data-dismiss="modal" area-hidden="true"><a href="@Url.Action("Add_All_Options","Home")">Add options</a></button>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">

            <dt>Zylinderfärbung</dt>
            <select class="form-select">
                @foreach (var item in ViewBag.c)
                {
                    <option>@item.Zylinderfärbung</option>
                }
            </select>

            <dt>Schließbart</dt>
            <select class="form-select">
                @foreach (var item in ViewBag.c)
                {
                    <option>@item.Schließbart</option>
                }
            </select>

            <dt>Schließweg</dt>

            <select class="form-select">
                @foreach (var item in ViewBag.c)
                {
                    <option>@item.Schließweg</option>
                }
            </select>
            <dt>Schließhebel</dt>
            <select class="form-select">
                @foreach (var item in ViewBag.c)
                {
                    <option>@item.Schließhebel</option>
                }
            </select>
         
            <dt>Zubehör</dt>
            <select class="form-select">
                @foreach (var item in ViewBag.c)
                {
                    <option>@item.Zubehör</option>
                }
            </select>
        </dl>
    </div>
</div>
<script>
    let closeButton = document.getElementById('close');
    let modal = document.getElementById('modDialog');

    closeButton.addEventListener('click', () => {
        modal.style.visibility = 'hidden';
    })
</script>