@model schliessanlagen_konfigurator.ViewComponent.FooterViewModel

<style>
    .modal-body {
        text-align: start;
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
    }
</style>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-2 p-2">
                <div>
                    <img src="@Url.Content("~/compression/basi.webp")" alt="Basi" height="50" width="50" />
                </div>

                <ul style="margin-top:20px;margin-left: -30px;">
                    @foreach (var t in Model.Basi)
                    {
                        <li><a data-bs-toggle="modal" id="footerItem" onclick="system_name('@t.NameSysteam','@t.Id')" data-bs-target="#FooterItemRender">@t.NameSysteam</a></li>
                    }
                </ul>
            </div>
            <div class="col-md-4 mt-2 p-2">
                <div>
                    <img src="@Url.Content("~/Image/logo_ces.svg")" alt="CES" height="50" width="50" />
                </div>
               
             
                <ul style="margin-top:20px;margin-left: -30px;">
                    @foreach (var t in Model.Ces)
                    {
                        <li><a data-bs-toggle="modal" id="footerItem" onclick="system_name('@t.NameSysteam','@t.Id')" data-bs-target="#FooterItemRender">@t.NameSysteam</a></li>
                    }
                </ul>
            </div>
            <div class="col-md-4 mt-2 p-2">
                <div>
                    <img src="@Url.Content("~/compression/ABUS.svg.webp")" alt="ABUS" height="50" width="100" />
                </div>
               
                <ul style="margin-top:20px;margin-left: -30px;">
                    @foreach (var t in Model.ABUS)
                    {
                        <li><a data-bs-toggle="modal" id="footerItem" onclick="system_name('@t.NameSysteam','@t.Id')" data-bs-target="#FooterItemRender">@t.NameSysteam</a></li>
                    }
                </ul>
            </div>

            <div class="col-md-4 mt-2 p-2">
                
                <div>
                    <img src="@Url.Content("~/compression/EVVA.webp")" alt="EVVA" height="50" width="100" />
                </div>

                <ul style="margin-top:20px;margin-left: -30px;">
                    @foreach (var t in Model.EVVA)
                    {
                        <li><a data-bs-toggle="modal" id="footerItem" onclick="system_name('@t.NameSysteam','@t.Id')" data-bs-target="#FooterItemRender">@t.NameSysteam</a></li>
                    }
                </ul>
            </div>
            <div class="col-md-4 mt-2 p-2">
                <div>
                    <h3>Zahlungsarten:</h3>
                </div>
                <div>
                    <img style="background:#323232" src="@Url.Content("~/compression/Zahlungsmethodennew.svg")" alt="Zahlungsmethod" height="89" width="275" />
                </div>

                
            </div>
        </div>
    </div>

    <div class="modal fade" id="FooterItemRender" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <header class="modal-title" id="footer_item_title" style="color:black"></header>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="card shadow-lg mb-4 bg-body-tertiary rounded">
                        <div class="row g-0">
                            <div>
                                <div class="card-body">
                                    <div class="card-text" id="FooterItemRenderDescriptions" style="color:black"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn danger" data-bs-dismiss="modal">Schließen</button>
                </div>
            </div>
        </div>
    </div>

    <hr style="height: 3px;">
    <h2><a href="@Url.Action("Impressum", "Home")">Impressum</a></h2>
    <h2><a href="@Url.Action("datenschutzbelehrung", "Home")">Datenschutzerklärung</a></h2>
    <h2><a href="@Url.Action("AGB", "Home")">AGB</a></h2>
</div>
