 @model schliessanlagen_konfigurator.Models.Options;

@{
    ViewData["Title"] = "Edit";
}

<h1>Add Options</h1>

<div>
    <div>
        <details>
            <summary> Profil - Dopppelzylinder</summary>
            @using (Html.BeginForm("Add_All_Options", "Home", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <p class="pb-3" style="display:flex">
                    Find by name: @Html.TextBox("SearchDopppelzylinder", "", new { @class = "form-control" })
                    <input type="submit" class="btn btn-success" value="Search" />
                </p>
            }
            @using (Html.BeginForm("Create_Options", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                int x = 0;
                <table class="table table-bordered">
                    <tbody>
                        <tr id="TableOptions">
                            <th>Name </th>
                            <th>Image</th>
                            @foreach (var item in ViewBag.dop)
                            {
                                x = item.Id;
                                <td id="rowTable doppelZylinder" class="table-info ">@item.Name </td>
                                <td id="rowTable" class="table-info "> <img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                            }
                        </tr>
                    </tbody>
                </table>
                <h1 id="dP">@x</h1>
                <div id="createColum">

                    @Html.EditorFor(m => m.IdProfil_Doppelzylinder, new { htmlAttributes = new { @class = "form-control", @id = "Values" } })

                    <label>NG Funktion</label>
                    @Html.EditorFor(m => m.NG_Funktion, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Freilauf</label>
                    @Html.EditorFor(m => m.Freilauf, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Zylinderfärbung</label>
                    @Html.EditorFor(m => m.Zylinderfärbung, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Bohrschutz</label>
                    @Html.EditorFor(m => m.Bohrschutz, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Witterungsschutz</label>
                    @Html.EditorFor(m => m.Witterungsschutz, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Schließbart</label>
                    @Html.EditorFor(m => m.Schließbart, new { htmlAttributes = new { @class = "form-control" } })


                    <label>Modulbauweise</label>
                    @Html.EditorFor(m => m.Modulbauweise, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Zubehör</label>
                    @Html.EditorFor(m => m.Zubehör, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <input type="submit" class="btn btn-success" id="input" value="Create Options Doppelzylinder" />
                <hr />

            }
        </details>



        <details>
            <summary> Profil - Halibzylinder</summary>
            @using (Html.BeginForm("Add_All_Options", "Home", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <p class="pb-3" style="display:flex">
                    Find by name: @Html.TextBox("SearchHalbzylinder", "", new { @class = "form-control" })
                    <input type="submit" class="btn btn-success" value="Search" />
                </p>
            }
            @using (Html.BeginForm("Create_Options", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                int x = 0;
                <table class="table table-bordered">
                    <tbody>
                        <tr id="TableOptions">
                            <th>Name </th>
                            <th>Image</th>
                            @foreach (var item in ViewBag.halb)
                            {
                                x = item.Id;
                                <td id="rowTable doppelZylinder" class="table-info ">@item.Name </td>
                                <td id="rowTable" class="table-info "> <img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                            }
                        </tr>
                    </tbody>
                </table>
                <h1 id="HalbP">@x</h1>
                <div id="createColum">

                    @Html.EditorFor(m => m.IdProfil_Halbzylinder, new { htmlAttributes = new { @class = "form-control", @id = "ValuesHalbP" } })

                    <label>Freilauf</label>
                    @Html.EditorFor(m => m.Freilauf, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Zylinderfärbung</label>
                    @Html.EditorFor(m => m.Zylinderfärbung, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Bohrschutz</label>
                    @Html.EditorFor(m => m.Bohrschutz, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Witterungsschutz</label>
                    @Html.EditorFor(m => m.Witterungsschutz, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Schließbart</label>
                    @Html.EditorFor(m => m.Schließbart, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Modulbauweise</label>
                    @Html.EditorFor(m => m.Modulbauweise, new { htmlAttributes = new { @class = "form-control" } })


                </div>
                <hr />
                <input type="submit" class="btn btn-success" id="input" value="Create Options Halbzylinder" />
            }

        </details>

        <details>

            <summary> Profil - Knaufzylinder</summary>
            @using (Html.BeginForm("Add_All_Options", "Home", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <p class="pb-3" style="display:flex">
                    Find by name: @Html.TextBox("SearchKnaufzylinder", "", new { @class = "form-control" })
                    <input type="submit" class="btn btn-success" value="Search" />
                </p>
            }
            @using (Html.BeginForm("Create_Options", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                int x = 0;
                <table class="table table-bordered">
                    <tbody>
                        <tr id="TableOptions">
                            <th>Name </th>
                            <th>Image</th>
                            @foreach (var item in ViewBag.knayf)
                            {
                                x = item.Id;
                                <td id="rowTable doppelZylinder" class="table-info ">@item.Name </td>
                                <td id="rowTable" class="table-info "> <img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                            }
                        </tr>
                    </tbody>
                </table>
                <h1 id="knayfP">@x</h1>
                <div id="createColum">

                    @Html.EditorFor(m => m.IdProfil_Knaufzylinder, new { htmlAttributes = new { @class = "form-control", @id = "id_knayfP" } })

                    <label>Freilauf</label>
                    @Html.EditorFor(m => m.Freilauf, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Zylinderfärbung</label>
                    @Html.EditorFor(m => m.Zylinderfärbung, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Bohrschutz</label>
                    @Html.EditorFor(m => m.Bohrschutz, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Witterungsschutz</label>
                    @Html.EditorFor(m => m.Witterungsschutz, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Schließbart</label>
                    @Html.EditorFor(m => m.Schließbart, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Zylinderknauf</label>
                    @Html.EditorFor(m => m.Zylinderknauf, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Modulbauweise</label>
                    @Html.EditorFor(m => m.Modulbauweise, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                <hr />
                <input type="submit" class="btn btn-success" id="input" value="Create Options Knayfzylinder" />
            }
        </details>

        <details>
            <summary>Hebelzylinder</summary>
            @using (Html.BeginForm("Add_All_Options", "Home", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <p class="pb-3" style="display:flex">
                    Find by name: @Html.TextBox("SearchHebelzylinder", "", new { @class = "form-control" })
                    <input type="submit" class="btn btn-success" value="Search" />
                </p>
            }
            @using (Html.BeginForm("Create_Options", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                int x = 0;
                <table class="table table-bordered">
                    <tbody>
                        <tr id="TableOptions">
                            <th>Name </th>
                            <th>Image</th>
                            @foreach (var item in ViewBag.hebel)
                            {
                                x = item.Id;
                                <td id="rowTable doppelZylinder" class="table-info ">@item.Name </td>
                                <td id="rowTable" class="table-info "> <img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                            }
                        </tr>
                    </tbody>
                </table>
                <h1 id="hebelzylinder">@x</h1>
                <div id="createColum">
                    @Html.EditorFor(m => m.IdHebelzylinder, new { htmlAttributes = new { @class = "form-control", @id = "id_hebelzylinder" } })

                    <label>Zylinderfärbung</label>
                    @Html.EditorFor(m => m.Zylinderfärbung, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Schließbart</label>
                    @Html.EditorFor(m => m.Schließbart, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Schließweg</label>
                    @Html.EditorFor(m => m.Schließweg, new { htmlAttributes = new { @class = "form-control" } })

                    <label>Schließhebel</label>
                    @Html.EditorFor(m => m.Schließhebel, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <hr />
                <input type="submit" class="btn btn-success" id="input" value="Create Options Hebelzylinder" />
            }
        </details>

        <details>
            <summary>Vorhangschloss</summary>
            @using (Html.BeginForm("Add_All_Options", "Home", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <p class="pb-3" style="display:flex">
                    Find by name: @Html.TextBox("SearchVorhangschloss", "", new { @class = "form-control" })
                    <input type="submit" class="btn btn-success" value="Search" />
                </p>
            }
            @using (Html.BeginForm("Create_Options", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                int x = 0;
                <table class="table table-bordered">
                    <tbody>
                        <tr id="TableOptions">
                            <th>Name </th>
                            <th>Image</th>
                            @foreach (var item in ViewBag.vorhangschloos)
                            {
                                x = item.Id;
                                <td id="rowTable doppelZylinder" class="table-info ">@item.Name </td>
                                <td id="rowTable" class="table-info "> <img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                            }
                        </tr>
                    </tbody>
                </table>
                <h1 id="vorhangschloss">@x</h1>
                <div id="createColum">

                    @Html.EditorFor(m => m.IdVorhangschloss, new { htmlAttributes = new { @class = "form-control", @id = "id_vorhangschloss" } })
                    <label>Bügelhöhe</label>
                    @Html.EditorFor(m => m.Bügelhöhe, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <hr />
                <input type="submit" class="btn btn-success" id="input" value="Create Options Vorhangschloss" />
            }
        </details>

        <details>
            <summary>Aussenzylinder</summary>
            @using (Html.BeginForm("Add_All_Options", "Home", FormMethod.Get, new { enctype = "multipart/form-data" }))
            {
                <p class="pb-3" style="display:flex">
                    Find by name: @Html.TextBox("SearchAussenzylinder_Rundzylinder", "", new { @class = "form-control" })
                    <input type="submit" class="btn btn-success" value="Search" />
                </p>
            }
            @using (Html.BeginForm("Create_Options", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                int x = 0;
                <table class="table table-bordered">
                    <tbody>
                        <tr id="TableOptions">
                            <th>Name </th>
                            <th>Image</th>
                            @foreach (var item in ViewBag.aussenzylinder)
                            {
                                x = item.Id;
                                <td id="rowTable doppelZylinder" class="table-info ">@item.Name </td>
                                <td id="rowTable" class="table-info "> <img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                            }
                        </tr>
                    </tbody>
                </table>
                <h1 id="aussen">@x</h1>
                <div id="createColum">

                    @Html.EditorFor(m => m.IdAussenzylinder_Rundzylinder, new { htmlAttributes = new { @class = "form-control", @id = "id_aussen" } })

                    <label>Zylinderfärbung</label>
                    @Html.EditorFor(m => m.Zylinderfärbung, new { htmlAttributes = new { @class = "form-control" } })

                </div>
                <hr />
                <input type="submit" class="btn btn-success" id="input" value="Create Options Aussenzylinder / Rundzylinder" />
            }
        </details>

    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
<script>

    let dP = document.getElementById('dP');
    let id_dopelzylinder = document.getElementById('Values');

    let HalbP = document.getElementById('HalbP');
    let id_HalbP = document.getElementById('ValuesHalbP');

    let knayfP = document.getElementById('knayfP');
    let id_knayfP = document.getElementById('id_knayfP');

    let hebelzylinder = document.getElementById('hebelzylinder');
    let id_hebelzylinder = document.getElementById('id_hebelzylinder');

    let vorhangschloss = document.getElementById('vorhangschloss');
    let id_vorhangschloss = document.getElementById('id_vorhangschloss');

    let aussen = document.getElementById('aussen');
    let id_aussen = document.getElementById('id_aussen');
    const buttonFreilauf = document.createElement('div');
    const div = document.createElement('div');



    function hebelzylinderProfile() {
        hebelzylinder.style.display = 'none';
        id_hebelzylinder.value = hebelzylinder.innerHTML;
        id_hebelzylinder.style.display = 'none';
    }
    hebelzylinderProfile();

    function vorhangschlossProfile() {
        vorhangschloss.style.display = 'none';
        id_vorhangschloss.value = vorhangschloss.innerHTML;
        id_vorhangschloss.style.display = 'none';
    }
    vorhangschlossProfile();

    function aussenzylinderProfile() {
        aussen.style.display = 'none';
        id_aussen.value = aussen.innerHTML;
        id_aussen.style.display = 'none';
    }
    aussenzylinderProfile();


    function knayfProfile() {
        knayfP.style.display = 'none';
        id_knayfP.value = knayfP.innerHTML;
        id_knayfP.style.display = 'none';
    }
    knayfProfile();

    function Dp() {
        dP.style.display = 'none';
        id_dopelzylinder.value = dP.innerHTML;
        id_dopelzylinder.style.display = 'none';
    }
    Dp();

    function HalbProfile() {
        HalbP.style.display = 'none';
        id_HalbP.value = HalbP.innerHTML;
        id_HalbP.style.display = 'none';
    }
    HalbProfile();


    function HalbProfile() {
        HalbP.style.display = 'none';
        id_HalbP.value = HalbP.innerHTML;
        id_HalbP.style.display = 'none';
    }
    HalbProfile();



</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



