@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Alle Bestellungen";
    int v = 0;
    int i = 0;
}
<style>
    #Table {
        display: grid;
        grid-template-columns: repeat(12, auto);
    }
</style>
@if (User.IsInRole("admin"))
{

    <h1>@ViewData["Title"]</h1>
    <div>

        <div>
            <a href="@Url.ActionLink("Schipeed", "Home")" class="btn danger">Schipeed</a>
        </div>
        <div>

        </div>


        <div id="Tabele" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            <div>
                <h4 id="input">ALLE Profil Doppelzylinder</h4>
            </div>

            <div id ="Table">
                <div class="Thead">
                    <h5>Bestelldaten</h5>
                </div>
                <div class="Thead">
                    <h5>Benutzername</h5>
                </div>
                <div class="Thead">
                    <h5>E-Mail</h5>
                </div>
                <div class="Thead">
                    <h5>Address</h5>
                </div>
                <div class="Thead">
                    <h5>Produktname</h5>
                </div>
                <div class="Thead">
                    <h5>Bestellsumme</h5>
                </div>
                <div class="Thead">
                    <h5>Status der Bestellung</h5>
                </div>

                <div class="Thead">
                    <h5>Datum der Zahlung</h5>
                </div>
                <div class="Thead">
                    <h5>Status der Versendung</h5>
                </div>

                <div class="Thead">
                    <h5>Datei</h5>
                </div>
                <div class="Thead">
                    <h5>Rechnungs</h5>
                </div>
                <div class="Thead">
                    <h5>Bestellung bearbeiten</h5>
                </div>

                @foreach (var list in ViewBag.Order)
                {
                    i++;
                    <div id="rowTable"><h6>@list.createData </h6></div>
                    <div id="rowTable"><h6>@list.FirstName @list.LastName</h6></div>
                    <div id="rowTable"><h6>@list.Email</h6></div>
                    <div id="rowTable"><h6>@list.Address</h6></div>
                    <div id="rowTable"><h6>@list.ProductName</h6></div>
                    <div id="rowTable"><h6>@list.OrderSum.ToString("C")</h6></div>
                    <div id="rowTable"><h6>@list.Status</h6></div>
                    <div id="rowTable"><h6>@list.BezalenDate</h6></div>
                    <div id="rowTable"><h6>@list.ShippingStatus</h6></div>
                    <div id="rowTable">
                        <a href="@Url.Action("Download", "Home", new { id = list.Id, FirstName = list.FirstName, LastName = list.LastName })" class="btn danger">
                            Excel
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-download">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4" />
                                <path d="M12 13l0 9" />
                                <path d="M9 19l3 3l3 -3" />
                            </svg>
                         
                        </a>
                    </div>
                    <div id="rowTable">
                        <a href="@Url.ActionLink("DowloadRehnung", "Home", new { id = @list.Id })" class="btn danger">
                            Rechnung
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-download">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4" />
                                <path d="M12 13l0 9" />
                                <path d="M9 19l3 3l3 -3" />
                            </svg>
                           
                        </a>
                    </div>
                    <div id="rowTable">
                        <svg xmlns="http://www.w3.org/2000/svg" data-bs-toggle="modal" data-bs-target="#ModalOrder-@i" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"></path><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"></path><path d="M16 5l3 3"></path></svg>
                  </div>
                }
            </div>
        </div>

 
        @foreach (var list in ViewBag.Order)
        {
            <div class="modal fade" id="ModalOrder-@v" tabindex="-1">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title">Bestellung bearbeiten</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post">

                                <h3>Kunde</h3>

                                <input type="text" class="form-control" name="Name" value="@list.FirstName @list.LastName" />

                         

                                <input type="text" class="form-control" name="email" value="@list.Email" />

                                <input type="hidden" name="id" value="@list.Id" />

                                <div>
                                    <h3>Status der Versendung</h3>

                                    <select class="form-select" name="ShippingStatus">
                                        <option>Nicht gesendet</option>
                                        <option>Gesendet</option>
                                        <option>Geliefert</option>
                                    </select>
                                </div>

                                <div>
                                    <h3>Status der Bestellung</h3>

                                    <select class="form-select" name="OrderStatus">
                                        <option>Bezahlt</option>
                                        <option>Aufrechnung</option>
                                        <option>Nicht bezahlt</option>
                                    </select>
                                </div>
                                <br/>
                                <input class="btn btn-success" type="submit" value="Speichern" />
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn danger" data-bs-dismiss="modal">Schließen</button>
                        </div>
                    </div>
                </div>
            </div>
            v++;
        }

    </div>
}
@section scripts
{
   
}
