@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Alle Bestellungen";

}
@if (User.IsInRole("admin"))
{

    <h1>@ViewData["Title"]</h1>
    <div>

        <div>

        </div>
        <div>

        </div>

        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th id="rowTable" class="table-info">Bestelldaten</th>
                    <th id="rowTable" class="table-info">Benutzername</th>
                    <th id="rowTable" class="table-info">E-Mail</th>
                    <th id="rowTable" class="table-info">Address</th>
                    <th id="rowTable" class="table-info">Produktname</th>
                    <th id="rowTable" class="table-info">Bestellsumme</th>
                    <th id="rowTable" class="table-info">Datei</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var list in ViewBag.Order)
                {
                    <tr>
                        <td id="rowTable" class="table-info">@list.createData</td>
                        <td id="rowTable" class="table-info">@list.FirstName @list.LastName</td>
                        <td id="rowTable" class="table-info">@list.Email</td>
                        <td id="rowTable" class="table-info">@list.Address</td>
                        <td id="rowTable" class="table-info">@list.ProductName</td>
                        <td id="rowTable" class="table-info">@list.OrderSum.ToString("C")</td>
                        <td id="rowTable" class="table-info">@Html.ActionLink("Excel herunterladen", "Download", "Home", new { id = @list.Id, FirstName = @list.FirstName, LastName = @list.LastName }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
<script>
   
   
</script>
