@model schliessanlagen_konfigurator.Models.Halbzylinder.Profil_Halbzylinder;
@{
    ViewData["Title"] = "Profil Halbzylinder";
}
@if (User.IsInRole("admin"))
{
    <div class="text-center ">
        <div id="myModal_NewSchliessanlagen" class="d-grid gap-3">
            <div id="routBAR">
                <div id="Bar">
                    <button class="btn btn-primary"><a href="@Url.Action("Index","Home")">Profil-Doppelzylinder</a></button>
                    <button class="btn btn-success"><a href="@Url.Action("Profil_KnaufzylinderRout","Home")">Profil-Knaufzylinder</a></button>
                    <button class="btn btn-danger"><a href="@Url.Action("HebelzylinderRout","Home")">Hebelzylinder</a></button>
                    <button class="btn btn-warning"><a href="@Url.Action("VorhangschlossRout","Home")">Vorhangschloss</a></button>
                    <button class="btn btn-info"><a href="@Url.Action("Aussenzylinder_RundzylinderRout","Home")">Aussenzylinder / Rundzylinder</a></button>
                </div>
            </div>
            <div>
                <h2>Neues Profil Halbzylinder</h2>

                <form asp-action="Create_Profil_Halbzylinder" enctype="multipart/form-data" asp-controller="Home">

                    <div id="productMenu">
                        <input style="display:none" asp-for="schliessanlagenId" class="form-control" type="text" value="2" />
                        <div>
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" class="btn btn-success" accept="image/*" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                            @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "error" })
                        </div>
                    </div>
                    @if (ViewBag.Habel != null)
                    {
                        <div id="product_desciptions">

                            <div style="margin-bottom: 50px;">
                                <label>Name</label>
                                <input asp-for="Name" value="@ViewBag.Habel.Name" required class="form-control" type="text" name="Name" />
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label>Firmenname</label>
                                <input asp-for="companyName" value="@ViewBag.Habel.companyName" required class="form-control" type="text" />
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label>Name System</label>

                                <select asp-for="NameSystem" required id="DoppelSys" class="form-select">

                                    @foreach (var list in ViewBag.System)
                                    {
                                        if (ViewBag.Habel.NameSystem == list)
                                        {
                                            <option selected>@list</option>
                                        }
                                        else
                                        {
                                            <option>@list</option>
                                        }
                                    }
                                </select>

                            </div>

                            <div style="margin-bottom: 50px;">
                                <label>Beschreibungen</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1">@ViewBag.Habel.description</textarea>
                            </div>
                           
                            <div style="margin-bottom: 50px;">
                                <label>Price</label>
                                <input asp-for="Price" value="@ViewBag.Habel.Price" required class="form-control" />
                            </div>

                            <h1>Aussen <input id="addAussen_Innen" class="btn btn-success" type="button" value="+" /><input id="addAussen_Innen_remove" class="btn btn-danger" type="button" value="-" /></h1>
                            <div id="Aussen_Innen_ProfilDopel">

                                <div id="AussenProfilDopel">
                                    @if (ViewBag.Size != null)
                                    {
                                        @foreach (var item in ViewBag.Size)
                                        {
                                            <input class="form-control" type="number" value="@item.aussen" step="0.01" name="aussen" />
                                            <input class="form-control" type="number" value="@item.costAussen" step="0.01" name="costSizeAussen" />
                                        }
                                    }
                                    else
                                    {
                                        <input class="form-control" type="number" placeholder="Aussen" step="0.01" name="aussen" />
                                        <input class="form-control" type="number" placeholder="Price" step="0.01" name="costSizeAussen" />
                                    }
                                   
                                </div>

                            </div>
                            <div id="productOptions">
                            </div>

                        </div>
                        <button id="createBlockBtn" type="button" class="btn btn-success">Optionen hinzufügen</button>
                        <button id="addInputBtn" type="button" class="btn btn-success">+</button>
                        <button id="RemoveInputBtn" type="button" class="btn btn-danger">-</button>
                        <input type="submit" class="btn btn-success" id="input" value="Halbzylinder erstellen" />
                    }
                    else
                    {
                        <div id="product_desciptions">

                            <div style="margin-bottom: 50px;">
                                <label>Name</label>
                                <input asp-for="Name" required class="form-control" type="text" name="Name" />
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label>Firmenname</label>
                                <input asp-for="companyName" required class="form-control" type="text" />
                            </div>

                            <div style="margin-bottom: 50px;">
                                <label>Name System</label>
                                <input asp-for="NameSystem" required class="form-control" type="text" />
                            </div>


                            <div style="margin-bottom: 50px;">
                                <label>Beschreibungen</label>
                                <textarea asp-for="description" class="form-control" id="exampleFormControlTextarea1"></textarea>
                            </div>
                            @if (ViewBag.Content != null)
                            {
                                <div>
                                    <h3>Submitted Content:</h3>
                                    <div>@Html.Raw(ViewBag.Content)</div>
                                </div>
                            }

                            <div style="margin-bottom: 50px;">
                                <label>Price</label>
                                <input asp-for="Price" required class="form-control" />
                            </div>

                            <h1>Aussen <input id="addAussen_Innen" class="btn btn-success" type="button" value="+" /><input id="addAussen_Innen_remove" class="btn btn-danger" type="button" value="-" /></h1>
                            <div id="Aussen_Innen_ProfilDopel">

                                <div id="AussenProfilDopel">
                                    <input class="form-control" type="number" placeholder="Aussen" step="0.01" name="aussen" />
                                    <input class="form-control" type="number" placeholder="Price" step="0.01" name="costSizeAussen" />
                                </div>

                            </div>
                            <div id="productOptions">
                            </div>

                        </div>
                        <button id="createBlockBtn" type="button" class="btn btn-success">Optionen hinzufügen</button>
                        <button id="addInputBtn" type="button" class="btn btn-success">+</button>
                        <button id="RemoveInputBtn" type="button" class="btn btn-danger">-</button>
                        <input type="submit" class="btn btn-success" id="input" value="Halbzylinder erstellen" />
                    }
                    
                </form>

            </div>

        </div>
        <div>

            <h4 id="input">Alle Halbzylinder</h4>
            @using (Html.BeginForm("Profil_HalbzylinderRout", "Home", FormMethod.Get))
            {
                <table class="table table-bordered">
                    <tbody>
                        <tr id="Table2">
                            <th>Hersteller</th>
                            <th>System</th>
                            <th>Name</th>
                            <th>Bild</th>
                            <th>Preis</th>

                            <th>Editieren</th>
                            <th>Optionen</th>
                            <th>Löschen</th>
                            <th>Vorlage</th>
                            @foreach (var item in ViewBag.item)
                            {
                                <td id="rowTable" class="table-info">@item.companyName</td>
                                <td id="rowTable" class="table-info">@item.NameSystem</td>
                                <td id="rowTable" class="table-info">@item.Name</td>
                                <td id="rowTable" class="table-info"> <img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                                <td id="rowTable " class="table-info"><h6 id="cost">@item.Price.ToString("C")</h6></td>

                                <td id="rowTable" class="table-info"><a href="@Url.Action("Edit_Profil_Halbzylinder","Home", new { item.Id })"><img src="@("/Image/edit-tools.png")" height="30" width="30" /></a></td>
                                <td id="rowTable" class="table-info">
                                    <a class="compItem" href="@Url.Action("ProductProfil_Halb","Home", new { item.Id })">
                                        <img src="@("/Image/options.png")" height="30" width="30" />
                                    </a>
                                </td>
                                <td id="rowTable" class="table-info"><a href="@Url.Action("Delete_Halbzylinder","Home", new { item.Id })"><img src="@("/Image/entfernen.png")" height="30" width="30" /></a></td>
                                <td id="rowTable" class="table-info"><a href="@Url.Action("Profil_HalbzylinderRout","Home", new { id = item.Id })"><img src="@("/image/3d-modeling.png")" height="30" width="30" /></a></td>
                            }

                        </tr>
                    </tbody>
                </table>
            }

        </div>
    </div>

}

@section scripts
{
    <script src="~/lib/tinymce_7.1.2/tinymce/js/tinymce/tinymce.min.js"></script>

    <script type="text/javascript">

        tinymce.init({
            selector: '#exampleFormControlTextarea1',
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'Beschreibungen', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
            content_css: 'css/content.css'
        });


        let plusAussen_Innen = document.getElementById('addAussen_Innen');
        let docInnen = document.getElementById('InnenProfilDopel');
        let docAussen = document.getElementById('AussenProfilDopel');
        let sum = document.querySelectorAll('#cost');
        let Aussen_Innen_ProfilDopel = document.getElementById('Aussen_Innen_ProfilDopel');

        let costNGF = document.getElementById('Price');
        let valueNGF = document.getElementById('Wert');

        let productOptions = document.getElementById('productOptions');
        let addOptions = document.getElementById('addOptions');

        let removeAussen_Innen = document.getElementById('addAussen_Innen_remove');

        document.addEventListener("DOMContentLoaded", function () {
            const container = document.getElementById('productOptions');
            const createBlockBtn = document.getElementById('createBlockBtn');
            const addInputBtn = document.getElementById('addInputBtn');
            const RemoveInputBtn = document.getElementById('RemoveInputBtn');

            let blockCounter = 1;

            createBlockBtn.addEventListener('click', function () {
                const block = createBlock();
                container.appendChild(block);
            });

            addInputBtn.addEventListener('click', function () {
                const blocks = document.querySelectorAll('.input-block');
                const lastBlock = blocks[blocks.length - 1];

                if (lastBlock) {
                    addInputs(lastBlock);
                } else {
                    alert('Сначала создайте блок');
                }
            });

            RemoveInputBtn.addEventListener('click', function () {
                const blocks = document.querySelectorAll('.input-block');
                const lastBlock = blocks[blocks.length - 1];

                if (lastBlock) {
                    productOptions.removeChild(lastBlock);
                }
                else {
                    alert('Сначала создайте блок');
                }
            });

            let counterOptions = 2;
            function createBlock() {

                counterOptions = 2;
                const block = document.createElement('div');
                block.classList.add('input-block');
                block.id = `block-${blockCounter}`;
                block.innerHTML = `<div>
                                                    <h1>Optionen</h1>
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" name="Options" />
                                                        <div>
                                                            <p></p>
                                                            <input name="postedFile" type="file" class="btn btn-success" />
                                                            <p></p>
                                                        </div>
                                                                <label>Beschreibungen</label>
                                                        <input class="form-control" type="text" name="NGFDescriptions" />
                                                        <h1>Value & Cost </h1>
                                                        <div id="Aussen_Innen_ProfilDopel">
                                                            <div id="valueNGF">
                                                                <input type="text" placeholder="Wert" class="form-control" step="0.01" name="valueNGF" />
                                                            </div>
                                                            <div id="costNGF">
                                                               <input type="number" class="form-control"  placeholder="Price"  step="0.01" name="costNGF" />
                                                            </div>
                                                                <input type="hidden" id="counter" name="input_counter" />
                                                        </div>
                                                    </div>`;

                blockCounter++;

                return block;
            }



            function addInputs(block) {

                let d = document.createElement('input');
                d.setAttribute('name', 'costNGF');
                d.setAttribute('placeholder', 'Price');
                d.setAttribute('class', 'form-control');

                let x = document.createElement('input');
                x.setAttribute('name', 'valueNGF');
                x.setAttribute('placeholder', 'Wert');
                x.setAttribute('class', 'form-control');

                const div1 = block.querySelector('#valueNGF');
                const div2 = block.querySelector('#costNGF');

                div1.appendChild(x);
                div2.appendChild(d);

                var counter = document.querySelectorAll('#counter');
                counter[counter.length - 1].value = counterOptions;

                counterOptions++;

                console.log(counterOptions);

            };

            plusAussen_Innen.addEventListener('click', () => 
            {
                let d = document.createElement('input');
                d.setAttribute('name', 'aussen');
                d.setAttribute('placeholder', 'aussen');
                d.setAttribute('class', 'form-control');
                d.id = 'aus';

                let costAussen = document.createElement('input');
                costAussen.setAttribute('name', 'costSizeAussen');
                costAussen.setAttribute('placeholder', 'Price');
                costAussen.setAttribute('class', 'form-control');
                costAussen.setAttribute('step', '0.01');
                costAussen.setAttribute('type', 'number');
                costAussen.id = 'ausCost';

                docAussen.append(d, costAussen);

            });
            removeAussen_Innen.addEventListener('click', () => {

                let d = document.querySelectorAll('#aus');
                let costAussen = document.querySelectorAll('#ausCost');

                docAussen.removeChild(d[d.length - 1]);
                docAussen.removeChild(costAussen[costAussen.length - 1]);

            });

        })

    </script>
}