@model schliessanlagen_konfigurator.Models.Halbzylinder.Profil_Halbzylinder;
@{
    ViewData["Title"] = "Profil Halbzylinder";
    int i = -1;
}
<style>

    a {
        color: black;
    }

        a:hover {
            color: black;
        }

    li:hover {
        background-color: #e4e4e4;
    }
    form {
        background: #F9F9F9;
        padding: 30px;
        border-radius: 10px;
    }
    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #a1c5fa;
        border-color: #0d6efd;
    }
    .table > thead {
        border-bottom: 3px solid red;
        vertical-align: bottom;
    }
    #zylidner_create_name {
        border-bottom: 3px solid red;
    }
    #Image-load-product {
        padding-bottom: 10px;
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,auto);
    }
    .Image-load_item:nth-child(1) {
        max-width: 250px;
        margin-right: auto;
    }
    .Image-load_item:nth-child(2) {
        max-width: 250px;
        margin-left: auto;
    }

    input[type="checkbox"] {
        width: 30px;
        height: 30px;
    }
</style>

@if (User.IsInRole("admin"))
{
    <button class="btn danger mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-horizontal"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 6l8 0" /><path d="M16 6l4 0" /><path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 12l2 0" /><path d="M10 12l10 0" /><path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 18l11 0" /><path d="M19 18l1 0" /></svg>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLeftLabel">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="@Url.Action("ImageConfig","Home")"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-photo-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 8h.01" /><path d="M12.5 21h-6.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6.5" /><path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l4 4" /><path d="M14 14l1 -1c.67 -.644 1.45 -.824 2.182 -.54" /><path d="M16 19h6" /><path d="M19 16v6" /></svg> Bilder</a></li>
                <li class="list-group-item"><a href="@Url.Action("SystemInfo","Home")"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-assembly"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M13.666 1.429l6.75 3.98q .1 .06 .18 .133l.009 .008l.106 .075a3.22 3.22 0 0 1 1.284 2.39l.005 .203v7.284c0 1.175 -.643 2.256 -1.623 2.793l-6.804 4.302c-.98 .538 -2.166 .538 -3.2 -.032l-6.695 -4.237a3.23 3.23 0 0 1 -1.678 -2.826v-7.285a3.21 3.21 0 0 1 1.65 -2.808l6.775 -3.995a3.34 3.34 0 0 1 3.24 .015m-.64 5.343a2.03 2.03 0 0 0 -2 -.014l-3.023 1.804a1.99 1.99 0 0 0 -1.002 1.736v3.278a2 2 0 0 0 1.03 1.75l2.946 1.89c.657 .367 1.39 .367 1.994 .033l3.054 -1.955c.582 -.322 .976 -.992 .976 -1.719v-3.277l-.005 -.164a2 2 0 0 0 -.725 -1.391l-.092 -.07l-.056 -.047a1 1 0 0 0 -.096 -.064z" /></svg> SystemInfo</a></li>
                <li class="list-group-item"><a href="@Url.Action("SendMail","Home")"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg> E-Mail senden</a></li>
                <li class="list-group-item"><a href="@Url.Action("Index","Home")"> <img src="@("/compression/doppelzylinder.webp")" height="24" width="24" /> Profil-Doppelzylinder</a></li>
                <li class="list-group-item active"><a href="@Url.Action("Profil_HalbzylinderRout","Home")"> <img src="@("/compression/halbzylinder.webp")" height="24" width="24" /> Profil-Halbzylinder</a></li>
                <li class="list-group-item"><a href="@Url.Action("Profil_KnaufzylinderRout","Home")"> <img src="@("/compression/knaufzylinder.webp")" height="24" width="24" /> Profil-Knaufzylinder</a></li>
                <li class="list-group-item"><a href="@Url.Action("HebelzylinderRout","Home")"> <img src="@("/compression/briefkastenzylinder.webp")" height="24" width="24" /> Hebelzylinder</a></li>
                <li class="list-group-item"><a href="@Url.Action("VorhangschlossRout","Home")"> <img src="@("/compression/vorhangschloss.webp")" height="24" width="24" /> Vorhangschloss</a></li>
                <li class="list-group-item"><a href="@Url.Action("Aussenzylinder_RundzylinderRout","Home")"> <img src="@("/compression/aussenzylinder.webp")" height="24" width="24" /> Aussenzylinder / Rundzylinder</a></li>
            </ul>
        </div>
    </div>

    <div class="text-center ">
        <div id="myModal_NewSchliessanlagen" class="d-grid gap-3">

            <div>

                <form asp-action="Create_Profil_Halbzylinder" enctype="multipart/form-data" class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" asp-controller="Home">
                   
                    <div id="zylidner_create_name">
                        <h2>Neues Profil Halbzylinder</h2>
                    </div>

                    <input style="display:none" asp-for="schliessanlagenId" class="form-control" type="text" value="2" />
                   

                    @if (ViewBag.Habel != null)
                    {

                        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">

                            <div id="form-info">

                                <div class="form-check form-switch mb-5">
                                    <input class="form-check-input" type="checkbox" role="switch" onchange="changeLoad_image(event.target.checked)" name="flexSwitchCheckChecked" id="flexSwitchCheckChecked" checked>
                                </div>

                                <div id="Image-load_item">
                                    <label asp-for="ImageFile" class="control-label"></label>
                                    <input asp-for="ImageFile" class="btn btn-success" accept="image/*" />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "error" })
                                </div>

                                <div id="loadServerItem" style="display:none">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="Server_render" readonly id="loadItem" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#AllServerImage" type="button" id="button-addon2">Load</button>
                                    </div>
                                </div>

                                <div class="modal fade" id="AllServerImage" tabindex="-1">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title"></h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div style="display:grid;grid-template-columns:repeat(2,auto)">
                                                    @foreach (var imageName in ViewBag.ServerImages)
                                                    {
                                                        <div style="border:1px solid red" id="ChoiseItem">
                                                            <input type="checkbox" class="form-check" height="30" width="30" />
                                                            <img src="@("/compression/" + imageName)" style="padding:5px" height="300" width="300" alt="@imageName" />
                                                        </div>
                                                    }
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" onclick="ChoiseImage()" data-bs-dismiss="modal">Load</button>
                                                <button type="button" class="btn danger" data-bs-dismiss="modal">Schließen</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="Image-load_item">
                                    <h5 for="Images">Bilder auswählen:</h5>
                                    <input type="file" name="Images" multiple class="form-control" />
                                </div>

                                <div class="form-group">
                                    <label>Aktuelles Bild:</label>
                                    <br />
                                    <img src="@("/compression/"+ @ViewBag.Habel.ImageName)" alt="Uploaded Image" style="max-width: 200px;" />

                                    <input type="hidden" name="OldImage" value=" @ViewBag.Habel.ImageName" />
                                </div>

                            <div>
                                <label>Name</label>
                                <input asp-for="Name" value="@ViewBag.Habel.Name" required class="form-control" type="text" name="Name" />
                            </div>

                                <div>
                                    <h5>Typ</h5>
                                    <select asp-for="Type" class="form-select">

                                        @if (ViewBag.Habel.Type == "Mechanik")
                                        {
                                            <option selected>Mechanik</option>
                                            <option>Elektronik</option>
                                        }
                                        else if (ViewBag.Habel.Type == "Elektronik")
                                        {
                                            <option selected>Elektronik</option>
                                            <option>Mechanik</option>
                                        }
                                        else
                                        {
                                            <option></option>
                                            <option>Elektronik</option>
                                            <option>Mechanik</option>
                                        }
                                    </select>
                                </div>

                                <div>
                                <label>Firmenname</label>
                                <input asp-for="companyName" value="@ViewBag.Habel.companyName" required class="form-control" type="text" />
                            </div>

                            <div>
                                <label>Name System</label>

                                <select asp-for="NameSystem" required id="DoppelSys" class="form-select">

                                    @foreach (var list in ViewBag.System)
                                    {
                                        if (ViewBag.Habel.NameSystem == list)
                                        {
                                            <option selected>@list</option>
                                        }
                                        else
                                        {
                                            <option>@list</option>
                                        }
                                    }
                                </select>

                            </div>

                            <div style="margin-bottom: 50px;">
                                <label>Beschreibungen</label>
                                    <textarea class="form-control" name="descriptions" id="exampleFormControlTextarea1">@ViewBag.Habel.description</textarea>
                            </div>
                           
                            <div style="margin-bottom: 50px;">
                                <label>Price</label>
                                <input asp-for="Price" value="@ViewBag.Habel.Price" required class="form-control" />
                            </div>

                            <h1>Aussen <input id="addAussen_Innen" class="btn btn-success" type="button" value="+" /><input id="addAussen_Innen_remove" class="btn btn-danger" type="button" value="-" /></h1>
                            <div id="Aussen_Innen_ProfilDopel">

                                <div id="AussenProfilDopel">
                                    @if (ViewBag.Size != null)
                                    {
                                        @foreach (var item in ViewBag.Size)
                                        {
                                            <input class="form-control" type="number" value="@item.aussen" step="0.01" name="aussen" />
                                            <input class="form-control" type="number" value="@item.costAussen" step="0.01" name="costSizeAussen" />
                                        }
                                    }
                                    else
                                    {
                                        <input class="form-control" type="number" placeholder="Aussen" step="0.01" name="aussen" />
                                        <input class="form-control" type="number" placeholder="Price" step="0.01" name="costSizeAussen" />
                                    }
                                   
                                </div>

                            </div>
                            <div id="productOptions">
                            </div>
                            </div>
                        </div>
                        <button id="createBlockBtn" type="button" class="btn btn-success">Optionen hinzufügen</button>
                        <button id="addInputBtn" type="button" class="btn btn-success">+</button>
                        <button id="RemoveInputBtn" type="button" class="btn btn-danger">-</button>
                        <input type="submit" class="btn btn-success" id="input" value="Halbzylinder erstellen" />
                    }
                    else
                    {
                        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                            <div id="form-info">

                                <div class="form-check form-switch mb-5">
                                    <input class="form-check-input" type="checkbox" role="switch" onchange="changeLoad_image(event.target.checked)" name="flexSwitchCheckChecked" id="flexSwitchCheckChecked" checked>
                                </div>

                                <div id="Image-load_item">
                                    <label asp-for="ImageFile" class="control-label"></label>
                                    <input asp-for="ImageFile" class="btn btn-success" accept="image/*" />
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "error" })
                                </div>

                                <div id="loadServerItem" style="display:none">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" name="Server_render" readonly id="loadItem" aria-describedby="button-addon2">
                                        <button class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#AllServerImage" type="button" id="button-addon2">Load</button>
                                    </div>
                                </div>

                                <div class="modal fade" id="AllServerImage" tabindex="-1">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title"></h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div style="display:grid;grid-template-columns:repeat(2,auto)">
                                                    @foreach (var imageName in ViewBag.ServerImages)
                                                    {
                                                        <div style="border:1px solid red" id="ChoiseItem">
                                                            <input type="checkbox" class="form-check" height="30" width="30" />
                                                            <img src="@("/compression/" + imageName)" style="padding:5px" height="300" width="300" alt="@imageName" />
                                                        </div>
                                                    }
                                                </div>


                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" onclick="ChoiseImage()" data-bs-dismiss="modal">Load</button>
                                                <button type="button" class="btn danger" data-bs-dismiss="modal">Schließen</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="Image-load_item">
                                    <h5 for="Images">Bilder auswählen:</h5>
                                    <input type="file" name="Images" multiple class="form-control" />
                                </div>

                            <div>
                                <label>Name</label>
                                <input asp-for="Name" required class="form-control" type="text" name="Name" />
                            </div>

                                <div>
                                    <h5>Typ</h5>
                                    <select asp-for="Type" class="form-select">
                                        <option></option>
                                        <option>Mechanik</option>
                                        <option>Elektronik</option>
                                    </select>
                                </div>

                            <div>
                                <label>Firmenname</label>
                                <input asp-for="companyName" required class="form-control" type="text" />
                            </div>

                            <div>
                                <label>Name System</label>
                                <input asp-for="NameSystem" required class="form-control" type="text" />
                            </div>


                            <div style="margin-bottom: 50px;">
                                <label>Beschreibungen</label>
                                <textarea asp-for="description" class="form-control" id="exampleFormControlTextarea1"></textarea>
                            </div>
                            @if (ViewBag.Content != null)
                            {
                                <div>
                                    <h3>Submitted Content:</h3>
                                    <div>@Html.Raw(ViewBag.Content)</div>
                                </div>
                            }

                            <div style="margin-bottom: 50px;">
                                <label>Price</label>
                                <input asp-for="Price" required class="form-control" />
                            </div>

                            <h1>Aussen <input id="addAussen_Innen" class="btn btn-success" type="button" value="+" /><input id="addAussen_Innen_remove" class="btn btn-danger" type="button" value="-" /></h1>
                            <div id="Aussen_Innen_ProfilDopel">

                                <div id="AussenProfilDopel">
                                    <input class="form-control" type="number" placeholder="Aussen" step="0.01" name="aussen" />
                                    <input class="form-control" type="number" placeholder="Price" step="0.01" name="costSizeAussen" />
                                </div>

                            </div>
                            <div id="productOptions">
                            </div>

                            </div>
                        </div>
                        <button id="createBlockBtn" type="button" class="btn btn-success">Optionen hinzufügen</button>
                        <button id="addInputBtn" type="button" class="btn btn-success">+</button>
                        <button id="RemoveInputBtn" type="button" class="btn btn-danger">-</button>
                        <input type="submit" class="btn btn-success" id="input" value="Halbzylinder erstellen" />
                    }
                    
                </form>

            </div>

        </div>
        <div>

            @using (Html.BeginForm("Profil_HalbzylinderRout", "Home", FormMethod.Get))
            {
                <div id="Tabele">
                    <div>
                        <h4 id="input">Alle Halbzylinder</h4>
                    </div>

                    <div id="Table">
                        <div class="Thead">
                            <h5>Hersteller</h5>
                        </div>
                        <div class="Thead">
                            <h5>System</h5>
                        </div>
                        <div class="Thead">
                            <h5>Name</h5>
                        </div>
                        <div class="Thead">
                            <h5>Bild</h5>
                        </div>
                        <div class="Thead">
                            <h5>Preis</h5>
                        </div>
                        <div class="Thead">
                            <h5> Bearbeiten</h5>
                        </div>
                        
                        <div class="Thead">
                            <h5>Löschen</h5>
                        </div>
                        <div class="Thead">
                            <h5>Vorlage</h5>
                        </div>

                        @foreach (var item in ViewBag.item)
                        {
                            i++;
                            <div id="rowTable">@item.companyName</div>
                            <div id="rowTable">@item.NameSystem</div>
                            <div id="rowTable">@item.Name</div>
                            <div id="rowTable"> <img decoding="async" id="image-@i" onmouseover="ImgZiseUp(@i)" src="@("~/compression/"+@item.ImageName)" asp-append-version="true" width="30px" height="30px" /></div>
                            <div id="rowTable"><h6 id="cost">@item.Price.ToString("C")</h6></div>
                            <div id="rowTable">
                                <a href="@Url.Action("Edit_Profil_Halbzylinder","Home", new { item.Id })">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                                </a>
                            </div>
                            
                            <div id="rowTable">
                                <a href="@Url.Action("Delete_Halbzylinder","Home", new { item.Id })">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-file-x"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" /><path d="M10 12l4 4m0 -4l-4 4" /></svg>
                                </a>
                            </div>
                            <div id="rowTable">
                                <a href="@Url.Action("Profil_HalbzylinderRout","Home", new { id = item.Id })">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-table-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12.5 21h-7.5a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5" /><path d="M3 10h18" /><path d="M10 3v18" /><path d="M16 19h6" /><path d="M19 16v6" /></svg>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }

        </div>
    </div>

}

@section scripts
{
    <script src="~/lib/tinymce_7.1.2/tinymce/js/tinymce/tinymce.min.js"></script>

    <script type="text/javascript">

        tinymce.init({
            selector: '#exampleFormControlTextarea1',
            plugins: [
                'advlist', 'autolink', 'link', 'image', 'lists', 'charmap', 'preview', 'anchor', 'pagebreak',
                'searchreplace', 'wordcount', 'visualblocks', 'visualchars', 'code', 'fullscreen', 'insertdatetime',
                'media', 'table', 'emoticons', 'help'
            ],
            toolbar: 'undo redo | styles | bold italic | alignleft aligncenter alignright alignjustify | ' +
                'bullist numlist outdent indent | link image | print preview media fullscreen | ' +
                'forecolor backcolor emoticons | help',
            menu: {
                favs: { title: 'Beschreibungen', items: 'code visualaid | searchreplace | emoticons' }
            },
            menubar: 'favs file edit view insert format tools table help',
            content_css: 'css/content.css'
        });

        function ChoiseImage() {

            let All_Items_Img = document.querySelectorAll("#ChoiseItem");
            let serverImg = document.getElementById("loadItem");

            All_Items_Img.forEach((item) => {

                if (item.childNodes[1].checked == true) {
                    console.log(item.childNodes[3].alt);
                    serverImg.value = item.childNodes[3].alt;
                }
            });
        }

        function changeLoad_image(item) {
            let loadblock = document.getElementById("loadServerItem");
            let imageBlock = document.getElementById("Image-load_item");

            if (item === true) {
                imageBlock.style.display = "block";
                loadblock.style.display = "none";
            }
            else {
                imageBlock.style.display = "none";
                loadblock.style.display = "block";
            }

        }

        let plusAussen_Innen = document.getElementById('addAussen_Innen');
        let docInnen = document.getElementById('InnenProfilDopel');
        let docAussen = document.getElementById('AussenProfilDopel');
        let sum = document.querySelectorAll('#cost');
        let Aussen_Innen_ProfilDopel = document.getElementById('Aussen_Innen_ProfilDopel');

        let costNGF = document.getElementById('Price');
        let valueNGF = document.getElementById('Wert');

        let productOptions = document.getElementById('productOptions');
        let addOptions = document.getElementById('addOptions');

        let removeAussen_Innen = document.getElementById('addAussen_Innen_remove');

        document.addEventListener("DOMContentLoaded", function () {
            const container = document.getElementById('productOptions');
            const createBlockBtn = document.getElementById('createBlockBtn');
            const addInputBtn = document.getElementById('addInputBtn');
            const RemoveInputBtn = document.getElementById('RemoveInputBtn');

            let blockCounter = 1;

            createBlockBtn.addEventListener('click', function () {
                const block = createBlock();
                container.appendChild(block);
            });

            addInputBtn.addEventListener('click', function () {
                const blocks = document.querySelectorAll('.input-block');
                const lastBlock = blocks[blocks.length - 1];

                if (lastBlock) {
                    addInputs(lastBlock);
                } else {
                    alert('Сначала создайте блок');
                }
            });

            RemoveInputBtn.addEventListener('click', function () {
                const blocks = document.querySelectorAll('.input-block');
                const lastBlock = blocks[blocks.length - 1];

                if (lastBlock) {
                    productOptions.removeChild(lastBlock);
                }
                else {
                    alert('Сначала создайте блок');
                }
            });

            let counterOptions = 2;
            function createBlock() {

                counterOptions = 2;
                const block = document.createElement('div');
                block.classList.add('input-block', "shadow-lg", "p-3", "mb-5", "bg-body-tertiary", "rounded");
                block.id = `block-${blockCounter}`;
                block.innerHTML = `<div>
                                                            <div>
                                                                <h4>Optionen</h4>
                                                                </div>
                                                        
                                                      <div>
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" name="Options" />
                                                      </div>

                                                        <div>
                                                            <input name="postedFile" type="file" class="btn btn-success" /> 
                                                        </div>
                                                      
                                                        <div>
                                                                <h5>Beschreibungen</h5>
                                                                    <textarea class="form-control" id="descriptionOptions"  name="NGFDescriptions"></textarea>
                                                        </div>

                                                                 <div>
                                                          <h4>Wert & Price </h4>
                                                           </div>
                                                        <div id="Aussen_Innen_ProfilDopel">
                                                            <div id="valueNGF">
                                                                 <input type="text" placeholder="Wert" class="form-control" step="0.01" name="valueNGF" />

                                                            </div>
                                                            <div id="costNGF">
                                                                  <input type="number" class="form-control"  placeholder="Price" step="0.01" name="costNGF" />
                                                            </div>
                                                              <input type="hidden" id="counter"  name="input_counter" />
                                                        </div>
                                                    </div>`;

                blockCounter++;

                return block;
            }



            function addInputs(block) {

                let d = document.createElement('input');
                d.setAttribute('name', 'costNGF');
                d.setAttribute('placeholder', 'Price');
                d.setAttribute('class', 'form-control');

                let x = document.createElement('input');
                x.setAttribute('name', 'valueNGF');
                x.setAttribute('placeholder', 'Wert');
                x.setAttribute('class', 'form-control');

                const div1 = block.querySelector('#valueNGF');
                const div2 = block.querySelector('#costNGF');

                div1.appendChild(x);
                div2.appendChild(d);

                var counter = document.querySelectorAll('#counter');
                counter[counter.length - 1].value = counterOptions;

                counterOptions++;

                console.log(counterOptions);

            };

            plusAussen_Innen.addEventListener('click', () => 
            {
                let d = document.createElement('input');
                d.setAttribute('name', 'aussen');
                d.setAttribute('placeholder', 'aussen');
                d.setAttribute('class', 'form-control');
                d.id = 'aus';

                let costAussen = document.createElement('input');
                costAussen.setAttribute('name', 'costSizeAussen');
                costAussen.setAttribute('placeholder', 'Price');
                costAussen.setAttribute('class', 'form-control');
                costAussen.setAttribute('step', '0.01');
                costAussen.setAttribute('type', 'number');
                costAussen.id = 'ausCost';

                docAussen.append(d, costAussen);

            });
            removeAussen_Innen.addEventListener('click', () => {

                let d = document.querySelectorAll('#aus');
                let costAussen = document.querySelectorAll('#ausCost');

                docAussen.removeChild(d[d.length - 1]);
                docAussen.removeChild(costAussen[costAussen.length - 1]);

            });

        })

    </script>
}