@model schliessanlagen_konfigurator.Models.Profil_Knaufzylinder;
@{
    ViewData["Title"] = "Profil Knaufzylinder";
}
<div class="text-center ">
    <div id="myModal_NewSchliessanlagen" class="d-grid gap-3">
        <div id="routBAR">
            <div id="Bar">
                <button class="btn btn-primary"><a href="@Url.Action("Index","Home")">Profil-Doppelzylinder</a></button>
                <button class="btn btn-secondary"><a href="@Url.Action("Profil_HalbzylinderRout","Home")">Profil-Halbzylinder</a></button>
                <button class="btn btn-danger"><a href="@Url.Action("HebelzylinderRout","Home")">Hebelzylinder</a></button>
                <button class="btn btn-warning"><a href="@Url.Action("VorhangschlossRout","Home")">Vorhangschloss</a></button>
                <button class="btn btn-info"><a href="@Url.Action("Aussenzylinder_RundzylinderRout","Home")">Aussenzylinder / Rundzylinder</a></button>
            </div>
        </div>
        <div>
            <h2>New Profil Knaufzylinder</h2>
            @using (Html.BeginForm("Create_Profil_Knaufzylinder", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label>Zylinder Typen</label>

                @Html.DropDownListFor(model => model.schliessanlagenId,
                        new List<SelectListItem> {
                        new SelectListItem {  Value = "11",Text="Profil-Knaufzylinder" }
                        },
                         new { @class = " form-select", @id = "select" })

               <div id="createColum">
                    <label> Name</label>
                    @Html.EditorFor(m => m.Name)

                    <label>Cost</label>
                    @Html.EditorFor(m => m.Cost)

                    <label> Artikelnummer</label>
                    @Html.EditorFor(m => m.Artikelnummer)
                    
                    <label>Extern</label>
                    @Html.EditorFor(m => m.Extern)
                    
                    <label>Intern</label>
                    @Html.EditorFor(m => m.Intern)
                    
                    <label>Count</label>
                    @Html.EditorFor(m => m.Count)
                   
                    <label>Min</label>
                    @Html.EditorFor(m => m.min)
                    
                    <label>Max</label>
                    @Html.EditorFor(m => m.max)            
                   
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="btn btn-success" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                    @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "error" })
               </div>
                <input type="submit" class="btn btn-success" id="input" value="Create Profil Knaufzylinder" />
                <hr />
            }
        </div>
    </div>
    <div>

        @using (Html.BeginForm("IndexProfil_Knaufzylinder", "Home", FormMethod.Get))
        {
            <table class="table table-bordered">
                <tr id="Table">
                    <th>Name</th>
                    <th>Image</th>
                    <th>Cost</th>
                    <th>Artikelnummer</th>
                    <th>Intern</th>
                    <th>Extern</th>
                    <th>min</th>
                    <th>max</th>
                    <th>Edit</th>
                    <th>Options</th>
                    <th>Delete</th>
             
                    @foreach (var item in ViewBag.item)
                    {
                        <td id="rowTable" class="table-info">@item.Name</td>
                        <td id="rowTable" class="table-info"> <img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                        <td id="rowTable" class="table-info">@item.Cost</td>
                        <td id="rowTable" class="table-info">@item.Artikelnummer</td>
                        <td id="rowTable" class="table-info">@item.Intern</td>
                        <td id="rowTable" class="table-info">@item.Extern</td>
                        <td id="rowTable" class="table-info">@item.min</td>
                        <td id="rowTable" class="table-info">@item.max</td>
                        <td id="rowTable" class="table-info"><a href="@Url.Action("Edit_Profil_Knaufzylinder","Home", new { item.Id })"><img src="@("/Image/edit-tools.png")" height="30" width="30" /></a></td>
                        <td id="rowTable" class="table-info">
                            <a class="compItem" href="@Url.Action("DetailsProfil_Knaufzylinder","Home", new { item.Id })">
                                <img src="@("/Image/options.png")" height="30" width="30" />
                            </a>
                        </td>
                        <td id="rowTable" class="table-info"><a href="@Url.Action("Delete_Doppelzylinder","Home", new { item.Id })"><img src="@("/Image/entfernen.png")" height="30" width="30" /></a></td>
                    }
                </tr>
            </table>
        }
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog">
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}