@{
    ViewData["Title"] = "SystemInfo";
}
<style>
    a {
        color: black;
    }

        a:hover {
            color: black;
        }

    li:hover {
        background-color: #e4e4e4;
    }

    form {
        background: #F9F9F9;
        padding: 30px;
        border-radius: 10px;
    }

    .list-group-item.active {
        z-index: 2;
        color: #fff;
        background-color: #a1c5fa;
        border-color: #0d6efd;
    }

    .table > thead {
        border-bottom: 3px solid red;
        vertical-align: bottom;
    }

    #zylidner_create_name {
        border-bottom: 3px solid red;
    }

    #Image-load-product {
        padding-bottom: 10px;
        padding-top: 10px;
        display: grid;
        grid-template-columns: repeat(2,auto);
    }

    .Image-load_item:nth-child(1) {
        max-width: 250px;
        margin-right: auto;
    }

    .Image-load_item:nth-child(2) {
        max-width: 250px;
        margin-left: auto;
    }
</style>
<button class="btn danger mb-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-adjustments-horizontal"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M14 6m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 6l8 0" /><path d="M16 6l4 0" /><path d="M8 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 12l2 0" /><path d="M10 12l10 0" /><path d="M17 18m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" /><path d="M4 18l11 0" /><path d="M19 18l1 0" /></svg>
</button>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLeftLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="@Url.Action("ImageConfig","Home")"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-photo-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M15 8h.01" /><path d="M12.5 21h-6.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v6.5" /><path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l4 4" /><path d="M14 14l1 -1c.67 -.644 1.45 -.824 2.182 -.54" /><path d="M16 19h6" /><path d="M19 16v6" /></svg> Bilder</a></li>
            <li class="list-group-item active"><a href="@Url.Action("SystemInfo","Home")"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-assembly"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M13.666 1.429l6.75 3.98q .1 .06 .18 .133l.009 .008l.106 .075a3.22 3.22 0 0 1 1.284 2.39l.005 .203v7.284c0 1.175 -.643 2.256 -1.623 2.793l-6.804 4.302c-.98 .538 -2.166 .538 -3.2 -.032l-6.695 -4.237a3.23 3.23 0 0 1 -1.678 -2.826v-7.285a3.21 3.21 0 0 1 1.65 -2.808l6.775 -3.995a3.34 3.34 0 0 1 3.24 .015m-.64 5.343a2.03 2.03 0 0 0 -2 -.014l-3.023 1.804a1.99 1.99 0 0 0 -1.002 1.736v3.278a2 2 0 0 0 1.03 1.75l2.946 1.89c.657 .367 1.39 .367 1.994 .033l3.054 -1.955c.582 -.322 .976 -.992 .976 -1.719v-3.277l-.005 -.164a2 2 0 0 0 -.725 -1.391l-.092 -.07l-.056 -.047a1 1 0 0 0 -.096 -.064z" /></svg> SystemInfo</a></li>
            <li class="list-group-item"><a href="@Url.Action("SendMail","Home")"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg> E-Mail senden</a></li>
            <li class="list-group-item "><a href="@Url.Action("Index","Home")"> <img src="@("/Image/doppelzylinder.png")" height="24" width="24" /> Profil-Doppelzylinder</a></li>
            <li class="list-group-item"><a href="@Url.Action("Profil_HalbzylinderRout","Home")"> <img src="@("/Image/halbzylinder.png")" height="24" width="24" /> Profil-Halbzylinder</a></li>
            <li class="list-group-item"><a href="@Url.Action("Profil_KnaufzylinderRout","Home")"> <img src="@("/Image/knaufzylinder.png")" height="24" width="24" /> Profil-Knaufzylinder</a></li>
            <li class="list-group-item"><a href="@Url.Action("HebelzylinderRout","Home")"> <img src="@("/Image/briefkastenzylinder.png")" height="24" width="24" /> Hebelzylinder</a></li>
            <li class="list-group-item"><a href="@Url.Action("VorhangschlossRout","Home")"> <img src="@("/Image/vorhangschloss.png")" height="24" width="24" /> Vorhangschloss</a></li>
            <li class="list-group-item"><a href="@Url.Action("Aussenzylinder_RundzylinderRout","Home")"> <img src="@("/Image/aussenzylinder.png")" height="24" width="24" /> Aussenzylinder / Rundzylinder</a></li>
        </ul>
    </div>
</div>
<div>
    <h1>@ViewData["Title"]</h1>

    <form asp-action="Create_Sys" enctype="multipart/form-data" asp-controller="Home">

        <div>
            <label for="Images">Bilder auswählen:</label>
            <input type="file" name="Images" multiple class="form-control" />
        </div>

    <div style="margin-bottom: 50px;margin-top: 50px">
     <label>Systemname</label>
    <input name="KeyName" id="NameSys" type="text" class="form-control" />
    </div>

    <div style="margin-bottom: 50px;">
    <label>Schlüsselkosten</label>
    <input name="KeyCost" type="number" step="0,1" min="0" class="form-control" />
    </div>
    <button>System erstellen</button>
    </form>

    @using (Html.BeginForm("EditSystem", "Home", FormMethod.Get))
    {
        <table class="table table-bordered table-sm">
            <tbody>
                <tr id="Table3">
                    <th>NameSysteam</th>
                    <th>Price</th>
                    <th>Lieferzeit</th>
                    <th>LieferzeitGrosse</th>
                    <th>Bearbeiten</th>
                    <th>Löschen</th>
                    @foreach (var item in ViewBag.item)
                    {
                        <td id="rowTable " class="table-info"><h6 >@item.NameSysteam</h6></td>
                        <td id="rowTable " class="table-info"><h6 id="cost">@item.Price</h6></td>
                        <td id="rowTable " class="table-info"><h6 >@item.Lieferzeit</h6></td>
                        <td id="rowTable " class="table-info"><h6>@item.LieferzeitGrosse</h6></td>
                        <td id="rowTable" class="table-info"><a href="@Url.Action("Edit_System","Home", new { id = item.Id })"><img src="@("/image/edit-tools.png")" height="30" width="30" /></a></td>
                        <td id="rowTable" class="table-info"><a href="@Url.Action("Delete_System","Home", new { item.Id })"><img src="@("/image/entfernen.png")" height="30" width="30" /></a></td>
                    }
                </tr>
            </tbody>
        </table>
    }
</div>