@model schliessanlagen_konfigurator.Models.Vorhangschloss;
@{
    ViewData["Title"] = "Vorhangschloss";
}

<div class="text-center ">
    <div id="myModal_NewSchliessanlagen" class="d-grid gap-3">
        <div id="routBAR">
            <div id="Bar">
                <button class="btn btn-primary"><a href="@Url.Action("Index","Home")">Profil-Doppelzylinder</a></button>
                <button class="btn btn-secondary"><a href="@Url.Action("Profil_HalbzylinderRout","Home")">Profil-Halbzylinder</a></button>
                <button class="btn btn-success"><a href="@Url.Action("Profil_KnaufzylinderRout","Home")">Profil-Knaufzylinder</a></button>
                <button class="btn btn-danger"><a href="@Url.Action("HebelzylinderRout","Home")">Hebelzylinder</a></button>
                <button class="btn btn-info"><a href="@Url.Action("Aussenzylinder_RundzylinderRout","Home")">Aussenzylinder / Rundzylinder</a></button>
            </div>
        </div>
        <div>
            <h2>New Vorhangschloss</h2>
            @using (Html.BeginForm("Create_Vorhangschloss", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label>Zylinder Typen</label>

                @Html.DropDownListFor(model => model.schliessanlagenId,
                        new List<SelectListItem> {
                        new SelectListItem { Value = "13",Text="Vorhangschloss" }
                        },
                         new { @class = " form-select", @id = "select" })

                <div id="createColum">
                <label>Name</label>
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
               
                    <label>Сost</label>
                    @Html.EditorFor(m => m.Сost, new { htmlAttributes = new { @class = "form-control" } })
               
                <label> Artikelnummer</label>
                @Html.EditorFor(m => m.Artikelnummer, new { htmlAttributes = new { @class = "form-control" } })
                
                <label>Count</label>
                @Html.EditorFor(m => m.Count, new { htmlAttributes = new { @class = "form-control" } })

                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" class="btn btn-success" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
                @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "error" })
                </div>
                <input type="submit" class="btn btn-success" id="input" value="Create Vorhangschloss" />
                <hr />
            }
        </div>
    </div>
    <div>
        @using (Html.BeginForm("VorhangschlossRout", "Home", FormMethod.Get))
        {
            <table class="table table-bordered">
                <tr id="TableVorhangschloss">
                    <th>Name</th>
                    <th>Image</th>
                    <th>Cost</th>
                    <th>Artikelnummer</th>
                    <th>Edit</th>
                    <th>Options</th>
                    <th>Delete</th>
              
                @foreach (var item in ViewBag.item)
                {
                        <td id="rowTable" class="table-info">@item.Name</td>
                        <td id="rowTable" class="table-info"><img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                        <td id="rowTable" class="table-info"><h6 id="cost">@item.Сost</h6></td>
                        <td id="rowTable" class="table-info">@item.Artikelnummer</td>
                        <td id="rowTable" class="table-info"><a href="@Url.Action("Edit_Vorhangschloss","Home", new { item.Id })"><img src="@("/Image/edit-tools.png")" height="30" width="30" /></a></td>
                        <td id="rowTable" class="table-info">
                        <a class="compItem" href="@Url.Action("DetailsVorhangschloss","Home", new { item.Id })">
                        <img src="@("/Image/options.png")" height="30" width="30" />
                        </a>
                        </td>
                        <td id="rowTable" class="table-info"><a href="@Url.Action("Delete_Doppelzylinder","Home", new { item.Id })"><img src="@("/Image/entfernen.png")" height="30" width="30" /></a></td>  
                }
                </tr>
            </table>
        }
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog">
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        let sum = document.querySelectorAll('#cost');
        function interfaice() {
            sum.forEach((item) => {
                if (String(item).length < 6) {
                    item.innerHTML = item.innerHTML.slice(0, 5) + '€';
                }

                if (String(item).length > 8) {
                    item.innerHTML = item.innerHTML.slice(0, 6) + '€';
                }

                console.log(String(item).length);
            })
        }
        interfaice();

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        })
    </script>
}