@model schliessanlagen_konfigurator.Models.Users.User;

@{
    ViewData["Title"] = $"AdminConnect/{Model.Id}";
    float costed = 0;
    int ProudctItemCounter = 0;
    int UserOrderId = 0;
}
@Html.HiddenFor(m => m.Id)

<div id="UserConteiner">
    <h2 style="text-align:center">Mein Konto</h2>
    <div id="UserConteinerInform">
    <div id="UserMenu">
            <ul style="list-style-type: none;">
            <li>MEIN KONTO</li>
            <hr />
            <li>Dashboard</li>
            <li>Bestellungen</li>
            <li>Downloads</li>
            <li>Adressen</li>
            <li>Kontodetails</li>
            <li>Wishlist</li>
           <li><a href=" @Url.Action("IndexKonfigurator", "Konfigurator")">Logout</a></li>
        </ul>
    </div>
    <div id="UserInform">
        
        <h3><strong>@Html.DisplayFor(x => x.Sername) @Html.DisplayFor(x => x.Name)</strong> </h3>

        <h3>In deiner Konto-Übersicht kannst du deine letzten Bestellungen ansehen, deine Liefer- und Rechnungsadresse verwalten und dein Passwort und die Kontodetails bearbeiten.</h3>
           
            <div id="AllOrderUser">
               
                @for (var z=0;z< ViewBag.OrderList.Count;z++)
                {
                    <div id="AllProductUser">
                        <h2>@ViewBag.OrderList[z].ProductName</h2>
                    <details>
                        <summary>
                        </summary>
                            @for (int s = 0; s < ViewBag.CounterProduct[z]; s++)
                            {
                                <h4>Name: @ViewBag.OrderItem[ProudctItemCounter].Name</h4>
                                <h4>Aussen: @ViewBag.OrderItem[ProudctItemCounter].Aussen</h4>
                                <h4>Intern: @ViewBag.OrderItem[ProudctItemCounter].Intern</h4>
                                <h4>Option: @ViewBag.OrderItem[ProudctItemCounter].Option</h4>

                                UserOrderId = @ViewBag.OrderItem[ProudctItemCounter].UserOrdersShopId;
                                ProudctItemCounter++;
                            } 
                    </details>
                        <div style="text-align: end;">
                            <button id="removeOrder" onclick="(remove(@UserOrderId,@Model.Id))">RemovaOrder</button>
                            <button>Pay</button>
                        </div>
                        <br />
                        <hr />
                        <h2>OrderSum: @ViewBag.OrderList[z].OrderSum</h2>
                    </div>

                    costed = costed + ViewBag.OrderList[z].OrderSum;
                }
                <br />
                <hr />
                <h2 style="color:red">Costed: @costed</h2>
            </div>
            
        </div>
    </div>
</div>

<script>

    let removeButton = document.getElementById("removeOrder");
    let AllOrderID = document.querySelector("#OrderId");

    function remove(empty,UserID) 
    {
        $.ajax({
            type: "POST",
            url: "/Konfigurator/RemoveOrder",
            data: { data: empty, UserId: UserID },
            success: function (response) {
                console.log(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
        location.reload();
    }

   

</script>
