@model schliessanlagen_konfigurator.Models.Orders;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = $"Finisher/{Model.userKey}";
    int z = 0;
    int countValueKey = 0;
}

@Html.HiddenFor(m => m.userKey)  

<div id="FinisherPage">
    <h1>Schlüssel konfigurieren</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
        justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
    </p>

<div>

        @foreach (var item in ViewBag.Order)
        {
            z++;
            <div id="finisherItem">
            <div id="ItemCounterOrders">
                    
                    <div id="counterKey">
                        <button class="btn btn-success">-</button>
                        <h4>@item.CountKey</h4>
                        <button class="btn btn-success">+</button>
                    </div>
                            
            </div>
            <div id="nameItem">
        <h2>@item.NameKey</h2>
        </div>
        
            <div id="numerKey">
        <h3>Schlüssel Nr.@z </h3>
         </div>
                <div id="OpenValue">
                    @{
                        int valueKeyBool = ViewBag.KeyValue.Count / ViewBag.Order.Count;
                        @for (int f = 0; f < valueKeyBool; f++)
                        {
                            @if (ViewBag.KeyValue[countValueKey] == true)
                            {

                                // if (f >= @ViewBag.DorName.Count)
                                // {
                                //     <h5>@ViewBag.DorName[@ViewBag.DorName.Count-1]</h5>
                                // }
                                <h5>@ViewBag.DorName[f]</h5>
                                countValueKey++;
                            }
                           
                            else
                            {
                                countValueKey++;
                            }
                           

                        }
                    }
                </div>
            </div>
            
    } 
    <div>
    </div>
        <div id="FinisherAnderes">
            <input type="button" class="btn btn-danger" value="SCHLIESSPLAN BEARBEITEN" />
        </div>
            <h1>Türen konfigurieren</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
                justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
            </p>
    </div>
    <div>
            @if (ViewBag.Dopelzylinder != null)
            {
                int elemNum = 0;
            foreach (var item in ViewBag.Dopelzylinder)
                {
                    <div id="ExelItem">
                        <div id="productImage">
                            <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                        </div>
                        <div id="productMenuInfo">
                            <div id="ProductNameUndCost">

                                <div>
                                    <h3>@item.Name</h3>
                                </div>

                            </div>
                            <div>
                            <select class="form-select">
                                    <option>Doppelzylinder</option>
                                </select>
                            </div>
                            <div id="product_desciptions">
                                <h5>Zylinder Länge</h5>
                            </div>
                        <div id="SizeProduct">
                           <div>
                                <select class="form-select" id="Aussen">
                                    <option style="display:none" selected>@ViewBag.DAussen[elemNum]</option>
                                    <option>Außenlänge (A)</option>
                                    @for (int i = 0; i < ViewBag.Dopelzylinderaussen.Count; i++)
                                    {
                                        <option>@ViewBag.Dopelzylinderaussen[i]</option>
                                    }
                                </select>
                           </div>
                            <div>
                               @*  [elemNum] *@
                                <select class="form-select"  id="Intern">
                                    <option style="display:none" selected>@ViewBag.DInter[elemNum]</option>
                                    <option>Innenlänge (B)</option>
                                    @for (int i = 0; i < ViewBag.DopelzylinderIntern.Count; i++)
                                    {
                                        <option>@ViewBag.DopelzylinderIntern[i]</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div>
                            <h3>Weitere Optionen</h3>
                            <div >
                                @{
                                    int valueCount = 0;
                                }
                                @if (ViewBag.countOptionsQuery > 0)
                                {
                                    @for (int i = 0; i < ViewBag.optionsName.Count; i++)
                                    {

                                        <select class="form-select" id="ProductOptionsSelector">
                                            <option>@ViewBag.optionsName[i]</option>
                                            @for (int j = 0; j < ViewBag.countOptionsList[i]; j++)
                                            {
                                                
                                                <option id="@valueCount">@ViewBag.optionsValue[valueCount]</option>
                                                valueCount++;
                                            }
                                        </select>
                                    }
                                }


                            </div>
                        </div>
                    </div>


                    </div>
                elemNum++;
            }
        }
        @if (ViewBag.KnayfZelinder != null)
        {
            int elemNum = 0;
            foreach (var item in ViewBag.KnayfZelinder)
            {
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>KnayfZylinder</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                        </div>
                        <div id="SizeProduct">
                            <div>
                                <select class="form-select">
                                    <option style="display:none" selected>@ViewBag.KAussen[elemNum]</option>
                                    <option>Außenlänge (A)</option>
                                    @for (int i = 0; i < ViewBag.KnayfZelinderAussen.Count; i++)
                                    {
                                        <option>@ViewBag.KnayfZelinderAussen[i]</option>
                                    }
                                </select>
                            </div>
                            <div >
                                <select class="form-select">
                                    <option style="display:none" selected>@ViewBag.KInter[elemNum]</option>
                                    <option>Innenlänge (B)</option>
                                    @for (int i = 0; i < ViewBag.KnayfZelinderIntern.Count; i++)
                                    {
                                        <option>@ViewBag.KnayfZelinderIntern[i]</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div>
                            <h3>Weitere Optionen</h3>
                            <div >
                                @{
                                    int valueCount = 0;
                                }
                                @if (ViewBag.countOptionsQueryKnayf > 0)
                                {
                                    @for (int i = 0; i < ViewBag.optionsNameKnayf.Count; i++)
                                    {

                                        <select class="form-select" id="ProductOptionsSelector">
                                            <option>@ViewBag.optionsNameKnayf[i]</option>
                                            @for (int j = 0; j < ViewBag.countOptionsListKnayf[i]; j++)
                                            {

                                                <option id="@valueCount">@ViewBag.optionsValueKnayf[valueCount]</option>
                                                valueCount++;
                                            }
                                        </select>
                                    }
                                }


                            </div>
                        </div>
                    </div>


                </div>
            }
        }
        @if (ViewBag.Halb != null)
        {
            int elemNum = 0;
            foreach (var item in ViewBag.Halb)
            {
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>Halbzylinder</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                        </div>
                        <div >
                            <div>
                                <select class="form-select">
                                    <option style="display:none" selected>@ViewBag.HalbOrderAussen[elemNum]</option>
                                    <option>Außenlänge (A)</option>
                                    @for (int i = 0; i < ViewBag.AussenHalb.Count; i++)
                                    {
                                        <option>@ViewBag.AussenHalb[i]</option>
                                    }
                                </select>
                            </div>
                            
                        </div>
                        <div>
                            <h3>Weitere Optionen</h3>
                            <div>
                                @{
                                    int valueCount = 0;
                                }
                                @if (ViewBag.countOptionsQueryHalb > 0)
                                {
                                    @for (int i = 0; i < ViewBag.HalbOptionsName.Count; i++)
                                    {
                                        <select class="form-select" id="ProductOptionsSelector">
                                            <option>@ViewBag.HalbOptionsName[i]</option>

                                            @for (int j = 0; j < ViewBag.HalbOptionsValueCount[i]; j++)
                                            {
                                                <option id="@valueCount">@ViewBag.HalbOptionsValue[valueCount]</option>
                                                valueCount++;
                                            }
                                        </select>
                                    }
                                }


                            </div> 
                        </div>
                    </div>


                </div>
                elemNum++;
            }
        }
        @if (ViewBag.HelbZ != null)
        {
            foreach (var item in ViewBag.HelbZ)
            {
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>Hebelzylinder</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                        </div>
                     
                        <div>
                            <h3>Weitere Optionen</h3>
                         <div>
                            @{
                            int valueCount = 0;
                            }
                    @if (ViewBag.CountOptionsHebel > 0)
                    {
                        @for (int i = 0; i < ViewBag.OptionHebelName.Count; i++)
                        {
                            <select class="form-select" id="ProductOptionsSelector">
                           <option>@ViewBag.OptionHebelName[i]</option>
                                            @for (int j = 0; j < ViewBag.CountValueHebel[i]; j++)
                            {
                            <option id="@valueCount">@ViewBag.ValueHebel[valueCount]</option>
                            valueCount++;
                            }
                            </select>
                        }
                    }


                    </div> 
                        </div>
                    </div>


                </div>
            }
        }
        @if (ViewBag.Vorhanschlos != null)
        {
            foreach (var item in ViewBag.Vorhanschlos)
            {
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>Vorhangschloss</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                        </div>
                        <div>
                            <div>
                                <select class="form-select">
                                    <option>Außenlänge (A)</option>
                                    @for (int i = 0; i < ViewBag.VorhanSize.Count; i++)
                                    {
                                        <option>@ViewBag.VorhanSize[i]</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <div>
                            <h3>Weitere Optionen</h3>
                            <div>
                        @{
                        int valueCount = 0;
                        }

                        @if (ViewBag.VorhanschlossCount > 0)
                        {
                            @for (int i = 0; i < ViewBag.VorhanschlossOptionCount; i++)
                            {
                                <select class="form-select" id="ProductOptionsSelector">
                                <option>@ViewBag.VorhanschlossOptionName[i]</option>

                                @for (int j = 0; j < ViewBag.VorhanOptionCount[i]; j++)
                                {
                                                <option id="@valueCount">@ViewBag.VorhanValue[valueCount]</option>
                                    valueCount++;

                                }

                                </select>
                            }
                        }
                    </div> 
                        </div>
                    </div>


                </div>
            }
        }
        @if (ViewBag.Aussenzylinder != null)
        {
            foreach (var item in ViewBag.Aussenzylinder)
            {
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>Aussenzylinder_Rundzylinder</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                        </div>
                       
                        <div>
                            <h3>Weitere Optionen</h3>
                             <div>
                                @{
                                    int valueCount = 0;
                                }
                                @if (ViewBag.AussenCountOption > 0)
                                {
                                    @for (int i = 0; i < ViewBag.AussenName.Count; i++)
                                    {

                                        <select class="form-select" id="ProductOptionsSelector">
                                            <option>@ViewBag.AussenName[i]</option>
                                            @for (int j = 0; j < ViewBag.AussenValue[i]; j++)
                                            {
                                                <option id="@valueCount">@ViewBag.AussenValue[valueCount]</option>
                                                valueCount++;
                                            }
                                        </select>
                                    }
                                }


                            </div> 
                        </div>
                    </div>


                </div>
            }
        }
        <div id="FinisherAnderes">
            <input type="button" class="btn btn-danger" value="ANDERES SYSTEM WÄHLEN" />
        </div>
        <div id="orderCost">
            <h1>@ViewBag.Cost €</h1>
        </div>
        
      <div id="buttonActionFinishBlock">
          <div id="FinisherLeft">
                <button id="chekProduct" class="btn btn-dark"> <a href="@Url.Action("System_Auswählen", "Konfigurator")">ZURÜCK</a></button>
            </div>
            <div id="FinisherRight">
                <button id="chekProduct" class="btn btn-danger"> <a href="@Url.Action("FinischerProductSelect", "Konfigurator", new {VorhanAussen = @ViewBag.VorhanOrderAussen,HablAussen = @ViewBag.HalbOrderAussen,Aussen = @ViewBag.AussenzylinderItem,Vorhan = @ViewBag.VorhanschlosItem,Halb = @ViewBag.HalbItem, Helb = @ViewBag.HalbItem,userInfo = @ViewBag.UserNameItem,SumCosted = @ViewBag.Cost,DopelItem = @ViewBag.DopelzylinderIdList,DopelOption = @ViewBag.optionsName,DAussen = @ViewBag.DAussen,DIntern=@ViewBag.DInter, Knayf=@ViewBag.KnayfItemId,user = @ViewBag.User,KnayfAusse = @ViewBag.KAussen,KnayfIntern = @ViewBag.KInter})">WEITER</a></button>
            </div>
      </div>
    </div>
</div>
<script>
 
    let selectorAussen = document.getElementById('Aussen').childNodes;

    // let optionsAussen = selectorAussen.childNodes

    let selectInen = document.getElementById('Intern').childNodes;
   
    // console.log(selectorAussen);
    // console.log(selectInen);
    
    function ChekedDopel() 
    {
        selectorAussen.forEach((item) => 
        {
            console.log(item.value);

        });
        // for (let i; i < optionAussen.length; i++) {

        // }

    }
    ChekedDopel()
</script>
