@model schliessanlagen_konfigurator.Models.Orders;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = $"Finisher/{Model.userKey}";

    int z = 0;
    int countFalse = 0;
    int d = 0;
}
 @using (Html.BeginForm("FinischerProductSelect", "Konfigurator", FormMethod.Post))
{ 
        
    @Html.HiddenFor(m => m.userKey)

    <input type="hidden" name="user" value="@Model.userKey" />
    <div id="FinisherPage">
  

    <h1>Schlüssel konfigurieren</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
        ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
        justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
    </p>
    <div>

        @foreach (var item in ViewBag.Order)
        {
            z++;
            <div id="finisherItem">
                <div id="ItemCounterOrders">

                    <div id="counterKey">
                            <input onclick="minus(@z)" type="button" value="-" class="btn btn-success" />
                            <input type="text" style="border: none;max-width: 30px;" id="countKey-@z" readonly name="CountKey" value="@item.CountKey" />
                            <input onclick="plus(@z)" type="button" value="+" class="btn btn-success" />
                    </div>

                </div>
                <div id="nameItem">
                    <h2>@item.NameKey</h2>
                </div>

                <div id="numerKey">
                    <h3>Schlüssel Nr.@z </h3>
                </div>
                <div id="OpenValue">

                    @for (int i = 0; i < ViewBag.DorName.Count; i++)
                    {
                        @if (ViewBag.KeyValue[countFalse] == true)
                        {
                                <input name="DorName" style="border: none;max-width: 100px;" readonly type="text" id="@z-DorCount-@i" value="@ViewBag.DorName[i]" />
                        }
                        countFalse++;
                    }

                </div>
            </div>


        }
        <div>
        </div>
        <div id="FinisherAnderes">
            <input type="button" class="btn btn-danger" value="SCHLIESSPLAN BEARBEITEN" />
        </div>
        <h1>Türen konfigurieren</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
            ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim
            justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
        </p>
    </div>
    <div>
        @if (ViewBag.Dopelzylinder != null)
        {
            int elemNum = 0;
         
            foreach (var item in ViewBag.Dopelzylinder)
            {
                    <input value="@item.Id" type="hidden" name="DopelItem" />
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">
                            <div>
                                <h3>@item.Name</h3>
                            </div>
                        </div>
                        <div>
                            <select class="form-select">
                                <option>Doppelzylinder</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                            <h5>Vifile Tür</h5>
                        </div>

                        <div id="@item.Id" class="SizeProduct">
                            <div>
                                    <select class="form-select" name="DAussen" id="Aussen" onchange="selectParamAussen(event.target.value,@item.Id,@ViewBag.DAussen[elemNum])">
                                    <option style="display:none" selected>@ViewBag.DAussen[elemNum]</option>
                                    <option>Außenlänge (A)</option>
                                    @for (int i = 0; i < ViewBag.Dopelzylinderaussen.Count; i++)
                                    {
                                        <option id="OptionA">@ViewBag.Dopelzylinderaussen[i]</option>
                                    }
                                </select>
                            </div>
                            <div>
                                    <select class="form-select" name="DIntern" id="Intern" onchange="selectParamIntern(event.target.value,@item.Id,@ViewBag.DInter[elemNum])">
                                    <option style="display:none" selected>@ViewBag.DInter[elemNum]</option>
                                    <option>Innenlänge (B)</option>
                                    @for (int i = 0; i < ViewBag.DopelzylinderIntern.Count; i++)
                                    {
                                        <option id="OptionI">@ViewBag.DopelzylinderIntern[i]</option>
                                    }
                                </select>
                            </div>
                            <div style="gap: 10px;display: flex;margin-left: 50px;">
                                    <button type="button"  onclick="CylinderMinus(@d)" class="btn btn-success">-</button>
                                    <input style="border: none;max-width: 30px;" id="countSchlusse-@d" type="text" readonly name="TurCount" value="@ViewBag.CounterTur[@elemNum]" />
                                    <button type="button" onclick="CylinderPlus(@d)" class="btn btn-success">+</button>
                            </div>
                        </div>


                        <div>
                            <h3>Weitere Optionen</h3>
                            <div>
                                @{
                                    int valueCount = 0;
                                }
                                @if (ViewBag.countOptionsQuery > 0)
                                {
                                    @for (int i = 0; i < ViewBag.optionsName.Count; i++)
                                    {
                                        if (@ViewBag.optionsName[i] == @ViewBag.DoppelOptionSelected[elemNum])
                                        {
                                                <input name="DopelOption" class="form-control" readonly type="text" value="&#10003; @ViewBag.optionsName[i]" style="color: green;margin-top: 5px;" />
                                        }
                                        else
                                        {
                                            <input class="form-control" style="margin-top: 5px;" readonly type="text" value="@ViewBag.optionsName[i]" />
                                        }

                                    <select style="margin-bottom: 10px;" class="form-select" id="ProductDoppelOptionsSelector" onchange="selectParamOptions(event,@valueCount,@item.Id)">

                                            @for (int j = 0; j < ViewBag.countOptionsList[i]; j++)
                                            {
                                                if (@ViewBag.optionsName[i] == @ViewBag.DoppelOptionSelected[elemNum])
                                                {
                                                    if (@ViewBag.optionsValue[valueCount] == "Ja")
                                                    {
                                                        <option id="@valueCount" selected>@ViewBag.optionsValue[valueCount]</option>
                                                    }
                                                    else
                                                    {
                                                        <option id="@valueCount">@ViewBag.optionsValue[valueCount]</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option id="@valueCount">@ViewBag.optionsValue[valueCount]</option>
                                                }
                                                valueCount++;
                                           }

                                        </select>

                                    }
                                 }


                            </div>
                        </div>
                    </div>


                </div>
                elemNum++;
                d++;
            }
        }
        @if (ViewBag.KnayfZelinder != null)
        {
            
            int elemNum = 0;
            foreach (var item in ViewBag.KnayfZelinder)
            {
               <input type="hidden" name="Knayf" value="@item.Id" />
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>KnayfZylinder</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                            <h5>Vifile Tür</h5>
                        </div>

                        <div id="@item.Id" class="SizeProduct">
                            <div>
                                <select class="form-select" name="KnayfAusse" id="Aussen" onchange="selectParamAussen(event.target.value,@item.Id,@ViewBag.KAussen[elemNum])">
                                    <option style="display:none" selected>@ViewBag.KAussen[elemNum]</option>
                                    <option>Außenlänge (A)</option>
                                    @for (int i = 0; i < ViewBag.KnayfZelinderAussen.Count; i++)
                                    {
                                        <option id="OptionA">@ViewBag.KnayfZelinderAussen[i]</option>
                                    }
                                </select>
                            </div>
                            <div>
                                    <select class="form-select" name="Intern" id="KnayfIntern" onchange="selectParamIntern(event.target.value,@item.Id,@ViewBag.KInter[elemNum])">
                                    <option style="display:none" selected>@ViewBag.KInter[elemNum]</option>
                                    <option>Innenlänge (B)</option>
                                    @for (int i = 0; i < ViewBag.KnayfZelinderIntern.Count; i++)
                                    {
                                        <option id="OptionI">@ViewBag.KnayfZelinderIntern[i]</option>
                                    }
                                </select>
                            </div>
                            <div style="gap: 10px;display: flex;margin-left: 50px;">
                                    <button type="button" onclick="CylinderMinus(@d)" class="btn btn-success">-</button>
                                    <input style="border: none;max-width: 30px;" id="countSchlusse-@d" value="@ViewBag.CounterTurKnayf[@elemNum]" name="TurCount" />
                                    <button type="button" onclick="CylinderPlus(@d)" class="btn btn-success">+</button>
                            </div>
                        </div>        

                        <div>
                            <h3>Weitere Optionen</h3>
                            <div>
                                @{
                                    int valueCount = 0;
                                }
                                @if (ViewBag.countOptionsQueryKnayf > 0)
                                {
                                    @for (int i = 0; i < ViewBag.optionsNameKnayf.Count; i++)
                                    {
                                        if (@ViewBag.optionsNameKnayf[i] == @ViewBag.KnayfOptionSelected[elemNum])
                                        {
                                                <input class="form-control" name="KnayfOption" readonly type="text" value="&#10003; @ViewBag.optionsNameKnayf[i]" style="color: green;margin-top: 5px;" />
                                        }
                                        else
                                        {
                                            <input class="form-control" style="margin-top: 5px;" readonly type="text" value="@ViewBag.optionsNameKnayf[i]" />
                                        }

                                        <select style="margin-bottom: 10px;" class="form-select" id="ProductOptionsSelector" onchange="selectParamOptions(event,@valueCount,@item.Id)">

                                            @for (int j = 0; j < ViewBag.countOptionsListKnayf[i]; j++)
                                            {
                                                if (@ViewBag.optionsNameKnayf[i] == @ViewBag.KnayfOptionSelected[elemNum])
                                                {
                                                    if (@ViewBag.optionsValueKnayf[valueCount] == "Ja")
                                                    {
                                                        <option id="@valueCount" selected>@ViewBag.optionsValueKnayf[valueCount]</option>
                                                    }
                                                    else
                                                    {
                                                        <option id="@valueCount">@ViewBag.optionsValueKnayf[valueCount]</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option id="@valueCount">@ViewBag.optionsValueKnayf[valueCount]</option>
                                                }
                                                valueCount++;
                                            }

                                        </select>
                                    }
                                } 

                            </div>
                        </div>
                    </div>
                </div>
                d++;
                elemNum++;
            }
           
        }
        @if (ViewBag.Halb != null)
        {
            int elemNum = 0;
           
            foreach (var item in ViewBag.Halb)
            {
                    <input type="hidden" name="Halb" value="@item.Id" />
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>Halbzylinder</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                            <h5>Vifile Tür</h5>
                        </div>
                            <div id="@item.Id" class="SizeProduct">
                               
                            <div>
                                    <select name="HablAussen" id="Aussen" class="form-select" onchange="selectParamAussen(event.target.value,@item.Id,@ViewBag.HalbOrderAussen[elemNum])">
                                    <option style="display:none" selected>@ViewBag.HalbOrderAussen[elemNum]</option>
                                    <option>Außenlänge (A)</option>
                                    @for (int i = 0; i < ViewBag.AussenHalb.Count; i++)
                                    {
                                        <option>@ViewBag.AussenHalb[i]</option>
                                    }
                                </select>
                            </div>
                            <div style="gap: 10px;display: flex;margin-left: 50px;">
                                    <button type="button" onclick="CylinderMinus(@d)" class="btn btn-success">-</button>
                                    <input style="border: none;max-width: 30px;" value="@ViewBag.CounterTurHalb[@elemNum]" name="TurCount" id="countSchlusse-@d" />
                                    <button type="button" onclick="CylinderPlus(@d)" class="btn btn-success">+</button>
                            </div>
                        </div>
                        <div>
                            <h3>Weitere Optionen</h3>
                            <div>
                                @{
                                    int valueCount = 0;
                                }
                               @if (ViewBag.countOptionsQueryHalb > 0)
                                {
                                    @for (int i = 0; i < ViewBag.HalbOptionsName.Count; i++)
                                    {

                                        if (@ViewBag.HalbOptionsName[i] == @ViewBag.HalbOptionSelected[elemNum])
                                        {
                                            <input class="form-control" name="HalbOption" readonly type="text" value="&#10003; @ViewBag.HalbOptionsName[i]" style="color: green;margin-top: 5px;" />
                                        }
                                        else
                                        {
                                            <input class="form-control" style="margin-top: 5px;" readonly type="text" value="@ViewBag.HalbOptionsName[i]" />
                                        }


                                        <select class="form-select" style="margin-bottom: 10px;" id="ProductOptionsSelector">

                                            @for (int j = 0; j < ViewBag.HalbOptionsValueCount[i]; j++)
                                            {
                                                if (@ViewBag.HalbOptionsName[i] == @ViewBag.HalbOptionSelected[elemNum])
                                                {
                                                    if (@ViewBag.HalbOptionsValue[valueCount] == "Ja")
                                                    {
                                                        <option id="@valueCount" selected>@ViewBag.optionsValue[valueCount]</option>
                                                    }
                                                    else
                                                    {
                                                        <option id="@valueCount">@ViewBag.HalbOptionsValue[valueCount]</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option id="@valueCount">@ViewBag.HalbOptionsValue[valueCount]</option>
                                                }
                                                valueCount++;
                                            }
                                        </select>
                                    }
                                } 
                            </div>
                        </div>
                    </div>
                </div>
                elemNum++;
                d++;
            }
        }
        @if (ViewBag.HelbZ != null)
        {
            int elemNum = 0;
            foreach (var item in ViewBag.HelbZ)
            {
                    <input type="hidden" name="Helb" value="@item.Id" />
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>Hebelzylinder</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                            <h5>Vifile Tür</h5>
                        </div>
                            <div id="@item.Id" class="SizeProduct">
                            <div style="gap: 10px;display: flex;margin-left: 50px;">
                                    <button onclick="CylinderMinus(@d)" type="button" class="btn btn-success">-</button>
                                    <input style="border: none;max-width: 30px;" name="TurCount" value="@ViewBag.CounterTurHebel[@elemNum]" id="countSchlusse-@d" />
                                    <button onclick="CylinderPlus(@d)" type="button" class="btn btn-success">+</button>
                            </div>
                        </div>
                        <div>
                            <h3>Weitere Optionen</h3>
                            <div>
                                @{
                                    int valueCount = 0;
                                }

                                @if (ViewBag.CountOptionsHebel > 0)
                                {
                                    @for (int i = 0; i < ViewBag.OptionHebelName.Count; i++)
                                    {
                                        if (@ViewBag.OptionHebelName[i] == @ViewBag.HebelOptionSelected[elemNum])
                                        {
                                                <input class="form-control" name="HebelOption" readonly type="text" value="&#10003; @ViewBag.OptionHebelName[i]" style="color: green;margin-top: 5px;" />
                                        }
                                        else
                                        {
                                            <input style="margin-top: 5px;" class="form-control" readonly type="text" value="@ViewBag.OptionHebelName[i]" />
                                        }

                                        <select class="form-select" style="margin-bottom: 10px;" id="ProductOptionsSelector">

                                            @for (int j = 0; j < ViewBag.CountValueHebel[i]; j++)
                                            {
                                                if ((@ViewBag.OptionHebelName[i] == @ViewBag.HebelOptionSelected[elemNum]))
                                                {
                                                    if (@ViewBag.ValueHebel[valueCount] == "Ja")
                                                    {
                                                        <option id="@valueCount" selected>@ViewBag.ValueHebel[valueCount]</option>
                                                    }
                                                    else
                                                    {
                                                        <option id="@valueCount">@ViewBag.ValueHebel[valueCount]</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option id="@valueCount">@ViewBag.ValueHebel[valueCount]</option>
                                                }
                                                valueCount++;
                                            }
                                        </select>
                                    }
                                } 
                            </div>
                        </div>
                    </div>

                </div>
                elemNum++;
                    d++;
                }
        }
        @if (ViewBag.Vorhanschlos != null)
        {
            int elemNum = 0;
            foreach (var item in ViewBag.Vorhanschlos)
            {
                    <input type="hidden" name="Vorhan" value="@item.Id" />
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>Vorhangschloss</option>
                            </select>
                        </div>
                        <div id="product_desciptions">
                            <h5>Zylinder Länge</h5>
                            <h5>Vifile Tür</h5>
                        </div>
                            <div id="@item.Id" class="SizeProduct">
                            <div>
                                    <select class="form-select" name="VorhanAussen" id="Aussen" onchange="selectParamAussen(event.target.value,@item.Id)">
                                    <option style="display:none" selected>@ViewBag.VorhanOrderAussen[elemNum]</option>
                                    <option>Außenlänge (A)</option>
                                    @for (int i = 0; i < ViewBag.VorhanSize.Count; i++)
                                    {
                                        <option>@ViewBag.VorhanSize[i]</option>
                                    }
                                </select>
                            </div>
                            <div style="gap: 10px;display: flex;margin-left: 50px;">
                                    <button type="button" onclick="CylinderMinus(@d)" class="btn btn-success">-</button>
                                    <input name="TurCount" style="border: none;max-width: 30px;" id="countSchlusse-@d" value="@ViewBag.CounterTurVorhan[@elemNum]" />
                                    <button type="button" onclick="CylinderPlus(@d)" class="btn btn-success">+</button>
                            </div>
                        </div>
                        <div>
                            <h3>Weitere Optionen</h3>
                            <div>
                                @{
                                    int valueCount = 0;
                                }

                                @if (ViewBag.VorhanschlossCount > 0)
                                {

                                    @for (int i = 0; i < ViewBag.VorhanschlossOptionCount; i++)
                                    {
                                        if (@ViewBag.VorhanschlossOptionName[i] == @ViewBag.VorhanOptionSelected[elemNum])
                                        {
                                                <input class="form-control" name="VorhnaOption" readonly type="text" value="&#10003; @ViewBag.VorhanschlossOptionName[i]" style="color: green;margin-top: 5px;" />
                                        }
                                        else
                                        {
                                            <input type="text" style="margin-top: 5px;" class="form-control" readonly value="@ViewBag.VorhanschlossOptionName[i]" />
                                        }


                                        <select style="margin-bottom: 10px;" class="form-select" id="ProductOptionsSelector">

                                            @for (int j = 0; j < ViewBag.VorhanOptionCount[i]; j++)
                                            {
                                                if (@ViewBag.VorhanschlossOptionName[i] == @ViewBag.VorhanOptionSelected[elemNum])
                                                {
                                                    if (@ViewBag.VorhanValue[valueCount] == "Ja")
                                                    {
                                                        <option id="@valueCount" selected>@ViewBag.VorhanValue[valueCount]</option>
                                                    }
                                                    else
                                                    {
                                                        <option id="@valueCount">@ViewBag.VorhanValue[valueCount]</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option id="@valueCount">@ViewBag.VorhanValue[valueCount]</option>
                                                }

                                                valueCount++;
                                            }

                                        </select>
                                    }
                                }
                            </div> 
                        </div>
                    </div>
                </div>
                elemNum++;
                    d++;
                }
        }
        @if (ViewBag.Aussenzylinder != null)
        {
            int elemNum = 0;
            foreach (var item in ViewBag.Aussenzylinder)
            {
                    <input type="hidden" name="Aussen"  value="@item.Id"/>
                <div id="ExelItem">
                    <div id="productImage">
                        <img decoding="async" style="border: 2px solid rgba(237,237,237,0.5);" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="400px" height="400px" />
                    </div>
                    <div id="productMenuInfo">
                        <div id="ProductNameUndCost">

                            <div>
                                <h3>@item.Name</h3>
                            </div>

                        </div>
                        <div>
                            <select class="form-select">
                                <option>Aussenzylinder_Rundzylinder</option>
                            </select>
                        </div>
                        <div >
                            <h5>Zylinder Länge</h5>
                            <h5>Vifile Tür</h5>
                        </div>
                            <div id="@item.Id" class="SizeProduct">
                                <button type="button" onclick="CylinderMinus(@d)" class="btn btn-success">-</button>
                                <input style="border: none;max-width: 30px;" name="TurCount" value="@ViewBag.CounterTur[@elemNum]" id="countSchlusse-@d" />
                                <button type="button" onclick="CylinderPlus(@d)" class="btn btn-success">+</button>
                        </div>
                        <div>
                            <h3>Weitere Optionen</h3>
                            <div>
                                @{
                                    int valueCount = 0;
                                }
                                @if (ViewBag.AussenCountOption > 0)
                                {
                                    @for (int i = 0; i < ViewBag.AussenName.Count; i++)
                                    {
                                        if (@ViewBag.AussenName[i] == @ViewBag.AussenOptionSelected[elemNum])
                                        {
                                                <input class="form-control" name="AussenOption" readonly type="text" value="&#10003; @ViewBag.AussenName[i]" style="color: green;margin-top: 5px;" />
                                        }
                                        else
                                        {
                                            <input class="form-control" style="margin-top: 5px;" readonly type="text" value="@ViewBag.AussenName[i]" />
                                        }

                                        <select style="margin-bottom: 10px;" class="form-select" id="ProductOptionsSelector" onchange="selectParamOptions(event,@valueCount,@item.Id)">

                                            @for (int j = 0; j < ViewBag.AussenValue[i]; j++)
                                            {
                                                if (@ViewBag.optionsName[i] == @ViewBag.DoppelOptionSelected[elemNum])
                                                {
                                                    if (@ViewBag.optionsValue[valueCount] == "Ja")
                                                    {
                                                        <option id="@valueCount" selected>@ViewBag.AussenValue[valueCount]</option>
                                                    }
                                                    else
                                                    {
                                                        <option id="@valueCount">@ViewBag.AussenValue[valueCount]</option>
                                                    }
                                                }
                                                else
                                                {
                                                    <option id="@valueCount">@ViewBag.AussenValue[valueCount]</option>
                                                }

                                                valueCount++;
                                            }
                                        </select>
                                    }
                                } 


                            </div>
                        </div>
                    </div>
                </div>
                elemNum++;
                    d++;
                }
        }
        <div id="FinisherAnderes">
            <input type="button" class="btn btn-danger" value="ANDERES SYSTEM WÄHLEN" />
        </div>
        <div id="orderCost">
                <h1 id="cost" name="Sum">@ViewBag.Cost €</h1>
        </div>
       
        <div id="buttonActionFinishBlock">
            <div id="FinisherLeft">
                <button id="chekProduct" type="button" class="btn btn-dark"> <a href="@Url.Action("System_Auswählen", "Konfigurator")">ZURÜCK</a></button>
            </div>
            <div id="FinisherRight">
                    <input id="chekProduct" type="submit" value="Weiter" class="btn btn-danger" />
            </div>
        </div>
    </div>
 
</div>

   } 
<script>

    function plus(n) 
    {
        let counter = document.getElementById("countKey-" + n);
        let value = Number(counter.value);
        value++;
        counter.value = value;
    }
    function minus(n) 
    {
        let counter = document.getElementById("countKey-" + n);
        let value = Number(counter.value);
        value--;
        counter.value = value;
    }
    function CylinderPlus(n) 
    {
        let counter = document.getElementById("countSchlusse-" + n);
        let value = Number(counter.value);
        value++;
        counter.value = value;
    }
    function CylinderMinus(n) 
    {
        let counter = document.getElementById("countSchlusse-" + n);
        let value = Number(counter.value);
        value--;
        counter.value = value;
    }

    let AllPrice = document.getElementById("cost");

    let NoOptionCost = @Html.Raw(@ViewBag.CostProducted);

    console.log(NoOptionCost);

    localStorage.setItem("cost", AllPrice.innerHTML);
    localStorage.sInnen = 0;
    localStorage.sAussen = 0;
    localStorage.options = 0;

    let AussenCost = 0;
    let InternCost = 0;
    let OptionCost = 0;


    function selectParamAussen(value, idBlock, oldValue) {
        let iterations = 0;
        let serchedItem = 0;

        let BlockTur = document.getElementById(idBlock);
        let Aussen = BlockTur.querySelector("#Aussen");
        let Aitems = Aussen.querySelectorAll("#OptionA");


        let Intern = BlockTur.querySelector("#Intern");
        let Iitems = Intern.querySelectorAll("#OptionI");

        Aitems.forEach(function (items) {
            if (serchedItem == 1) {
                return;
            }
            else {
                let ItemValue = Number(items.innerHTML);
                let ItemValueOld = Number(oldValue);
                if (ItemValue > 31 && ItemValueOld >= 30) {
                    iterations++;

                    if (ItemValue == value) {
                        serchedItem++;
                        return;
                    }
                }
                else if (ItemValueOld > 31) {
                    iterations++;

                    if (ItemValueOld == value) {
                        serchedItem++;
                        return;
                    }
                }

                else {
                    if (ItemValue == value) {
                        AussenCost = 0;
                        let a = Number(localStorage.sInnen);
                        let b = Number(localStorage.sAussen);
                        let c = Number(localStorage.options);

                        let sum = parseFloat(localStorage.getItem("cost").replace(',', '.')) + a + b + c;
                        AllPrice.innerHTML = String(sum);
                        console.log(cost.innerHTML);
                        serchedItem++;
                        return;
                    }
                }

            }

        });



        let size = Iitems.length - iterations;

        let slicedArray = Array.prototype.slice.call(Iitems, 0, size);

        for (let i = 0; i < Iitems.length; i++) {
            Iitems[i].style.display = "none";
        }

        for (let i = 0; i < slicedArray.length; i++) {
            Iitems[i].style.display = "block";
        }
        AussenCost = 0;

        for (let i = 0; i < iterations; i++) {
            AussenCost = AussenCost + 5;
        }


        localStorage.sAussen = AussenCost;
        let a = Number(localStorage.sInnen);
        let b = Number(localStorage.sAussen);
        let c = Number(localStorage.options);

        let sum = parseFloat(localStorage.getItem("cost").replace(',', '.')) + a + b + c;
        AllPrice.innerHTML = String(sum);

        iterations = 0;
        serchedItem = 0;


    }
    function selectParamIntern(value, idBlock, oldValue) {
        let Iiterations = 0;
        let IserchedItem = 0;

        let BlockTur = document.getElementById(idBlock);

        let Intern = BlockTur.querySelector("#Intern");

        let Iitems = Intern.querySelectorAll("#OptionI");

        Iitems.forEach(function (items) {
            if (IserchedItem == 1) {
                return;
            }
            else {
                let ItemValue = Number(items.innerHTML);
                let ItemValueOld = Number(oldValue);
                if (ItemValue > 31 && ItemValueOld >= 30) {
                    Iiterations++;

                    if (ItemValue == value) {
                        IserchedItem++;
                        return;
                    }
                }
                else if (ItemValueOld > 31) {
                    Iiterations++;

                    if (ItemValueOld == value) {
                        IserchedItem++;
                        return;
                    }
                }
                else {
                    if (ItemValue == value) {
                        InternCost = 0;
                        let a = Number(localStorage.sInnen);
                        let b = Number(localStorage.sAussen);
                        let c = Number(localStorage.options);

                        let sum = parseFloat(localStorage.getItem("cost").replace(',', '.')) + a + b + c;
                        AllPrice.innerHTML = String(sum);
                        console.log(cost.innerHTML);
                        IserchedItem++;
                        return;
                    }
                }

            }

        });
        InternCost = 0;
        for (let i = 0; i < Iiterations; i++) {
            InternCost = InternCost + 5;
        }
        localStorage.sInnen = InternCost;

        let a = Number(localStorage.sInnen);
        let b = Number(localStorage.sAussen);
        let c = Number(localStorage.options);

        let sum = parseFloat(localStorage.getItem("cost").replace(',', '.')) + a + b + c;
        AllPrice.innerHTML = String(sum);
        Iiterations = 0;
        IserchedItem = 0;
    }
    // function selectParamOptions(event, count, idBlock) {
    //     // var selectedOptionId = event.target.options[event.target.selectedIndex].id;
    //     // OptionCost = OptionPrice[selectedOptionId];
    //     // localStorage.options = OptionCost;
    //     // let a = Number(localStorage.sInnen);
    //     // let b = Number(localStorage.sAussen);
    //     // let c = Number(localStorage.options);

    //     // let sum = parseFloat(localStorage.getItem("cost").replace(',', '.')) + a + b + c;
    //     // AllPrice.innerHTML = String(sum);

    //     // OptionCost = 0;
    //     // console.log(OptionPrice[selectedOptionId]);
    // }

</script>
