@model schliessanlagen_konfigurator.Models.Orders;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = $"FinisherProduct/{Model.userKey}";
    int countFalse = 0;
}
<div>
    <div id="konfigMenu">
        <button type="button" class="btn btn-danger">1. Schließplan erstellen</button>
        <button type="button" class="btn btn-secondary"><a href="@Url.Action("System_Auswählen","Konfigurator")">2. System auswählen</a></button>
        <button type="button" class="btn btn-secondary">3. Parameter einstellen</button>
    </div>
    <form asp-action="SaveUserOrders" enctype="multipart/form-data" asp-controller="Konfigurator">

        @Html.HiddenFor(m => m.userKey)

        <input name="ItemCount" type="hidden" id="itemcountOptions" />

        <div id="InformBar">
            <div id="blockSclussel">
                <div id="sclusselInfo">
                    <div id="schlussel">
                        <h3>Schlüssel</h3>
                    </div>

                    <div id="schlussel2">
                        <h4>Schlüssel hinzufügen</h4>
                    </div>

                </div>
                <div id="itemKeyBlock">
                    @{
                        int counterKey = 1;
                        foreach (var list in ViewBag.Key)
                        {
                            <div class="TexCount">
                                <h6>@counterKey</h6>
                                <div id="TexInputKey">
                                    <input id="inputA" name="NameKey" value='@list.ForNameKey' type="text" />
                                    <input id="inputS" name="NameKey" value='@list.NameKey' type="text" />
                                   
                                </div>
                                <div>
                                    <input id="inputCount" name="CountKey" value="@list.CountKey" type="text" />
                                </div>
                            </div>

                            counterKey++;
                        }

                    }


                </div>
            </div>
            <div>
                <div id="sclusselInfo2">
                    <div id="schlussel">
                        <h3>Türen (Zugänge)</h3>
                    </div>

                    <div id="schlussel3">
                        <h4>Tür hinzufügen</h4>
                    </div>
                </div>
                <div>
                    <div id="turInfo">
                        <div id="blockInfo">
                            @{
                                int DoorCount = 1;
                                int DorItem = 0;
                                int DoppelCounter = 0;
                                int KnayfCounter = 0;
                                int HablCounter = 0;
                                int HebelCounter = 0;
                                int VorhanCounter = 0;
                                int AussenCounter = 0;

                                <div class="TexCountTurFinisher">

                                    @for (int item = 0; item < ViewBag.Tur.Count; item++)
                                    {
                                        if (ViewBag.DoppelItem > item)
                                        {
                                            <div id="DorUndCount">
                                                <h5 style="margin-top: 10px;margin-left: 2px;">
                                                    @DoorCount
                                                </h5>
                                                <h5 id="counterTur"><strong> @ViewBag.Tur[DorItem]</strong></h5> 
                                            </div>
                                            @if (ViewBag.DopelZylinder.Count > 0)
                                            {
                                                <h5>Count:@ViewBag.TurCount[DorItem]</h5>
                                                <h5>Ssl:@ViewBag.Ssl[DorItem]</h5>

                                                <h6><strong> @ViewBag.DopelZylinder[DoppelCounter]</strong></h6>
                                                <br />
                                                if (ViewBag.DoppelAussen.Count > 0)
                                                {
                                                    <h6>Außenlänge (A):@ViewBag.DoppelAussen[DoppelCounter] </h6>
                                                }

                                                if (ViewBag.DoppelIntern.Count > 0)
                                                {
                                                    <h6>Außenlänge (B):@ViewBag.DoppelIntern[DoppelCounter] </h6>
                                                }
                                            }
                                            if (ViewBag.DoppelOption.Count > 0)
                                            {
                                                <h6>Mit: @ViewBag.DoppelOption[DoppelCounter]</h6>
                                            }
                                           


                                            DoppelCounter++;
                                            DoorCount++;
                                            DorItem++;

                                        }
                                        if (ViewBag.KnayfItem > item)
                                        {
                                            <div id="DorUndCount">
                                                <h5 style="margin-top: 10px;margin-left: 2px;">
                                                    @DoorCount
                                                </h5>
                                                <h5 id="counterTur"><strong> @ViewBag.Tur[DorItem]</strong></h5>
                                               
                                            </div>
                                            if (ViewBag.KnayfName.Count > 0)
                                            {
                                                <h5>Count:@ViewBag.TurCount[DorItem]</h5>
                                                <h5>Ssl:@ViewBag.Ssl[DorItem]</h5>
                                                <h6><strong> @ViewBag.KnayfName[KnayfCounter]</strong></h6>
                                                <br />
                                                if (ViewBag.KnayfAussen.Count > 0)
                                                {
                                                    <h6>
                                                        Außenlänge (A):@ViewBag.KnayfAussen[KnayfCounter]
                                                    </h6>
                                                    if (ViewBag.KnayflIntern.Count > 0)
                                                    {
                                                        <h6>Außenlänge (B):@ViewBag.KnayflIntern[KnayfCounter] </h6>
                                                    }
                                                }
                                                if (ViewBag.KnayfOptionSelected.Count>0)
                                                {
                                                    @foreach (var listOption in ViewBag.KnayfOptionSelected)
                                                    {
                                                        <h6>Mit: @listOption</h6>
                                                    }

                                                }
                                              
                                                KnayfCounter++;
                                                DoorCount++;
                                                DorItem++;

                                            }

                                        }
                                        if (ViewBag.HalbCount > item)
                                        {
                                            <div id="DorUndCount">
                                                <h5 style="margin-top: 10px;margin-left: 2px;">
                                                    @DoorCount
                                                </h5>
                                                <h5 id="counterTur"><strong> @ViewBag.Tur[DorItem]</strong></h5>
                                            </div>
                                            @if (ViewBag.HalbName.Count > 0)
                                            {
                                                <h5>Count:@ViewBag.TurCount[DorItem]</h5>
                                                <h5>Ssl:@ViewBag.Ssl[DorItem]</h5>
                                                <h6><strong> @ViewBag.HalbName[HablCounter]</strong></h6>
                                                <br />
                                                if (ViewBag.HalbAussen.Count > 0)
                                                {
                                                    <h6>Außenlänge (A):@ViewBag.HalbAussen[HablCounter]</h6>
                                                }
                                                if (ViewBag.HalbOptionSelected.Count > 0)
                                                {
                                                    @foreach (var listOption in ViewBag.HalbOptionSelected)
                                                    {
                                                        <h6>Mit: @listOption</h6>
                                                    }
                                                }
                                               

                                                HablCounter++;
                                                DoorCount++;
                                                DorItem++;
                                            }

                                        }
                                        if (ViewBag.HelbCount > item)
                                        {
                                            <div id="DorUndCount">
                                                <h5 style="margin-top: 10px;margin-left: 2px;">
                                                    @DoorCount
                                                </h5>
                                                <h5 id="counterTur"><strong> @ViewBag.Tur[DorItem]</strong></h5>
                                            </div>

                                            @if (ViewBag.HelbName.Count > 0)
                                            {
                                                <h5>Count:@ViewBag.TurCount[DorItem]</h5>
                                                <h5>Ssl:@ViewBag.Ssl[DorItem]</h5>
                                                <h6><strong> @ViewBag.HelbName[HebelCounter]</strong></h6>
                                                <br />
                                                if (ViewBag.HebelOptionSelected.Count>0)
                                                {
                                                    @foreach (var listOption in ViewBag.HebelOptionSelected)
                                                    {
                                                        <h6>Mit: @listOption</h6>
                                                    }
                                                    
                                                }
                                          
                                                HebelCounter++;
                                                DoorCount++;
                                                DorItem++;
                                            }

                                        }
                                        if (ViewBag.VorhanCount > item)
                                        {
                                            <div id="DorUndCount">
                                                <h5 style="margin-top: 10px;margin-left: 2px;">
                                                    @DoorCount
                                                </h5>
                                                <h5 id="counterTur"><strong> @ViewBag.Tur[DorItem]</strong></h5>
                                            </div>
                                            @if (ViewBag.VorhanName.Count > 0)
                                            {
                                                <h5>Count:@ViewBag.TurCount[DorItem]</h5>
                                                <h5>Ssl:@ViewBag.Ssl[DorItem]</h5>
                                                <h6><strong> @ViewBag.VorhanName[VorhanCounter]</strong></h6>
                                                <br />
                                                @if (ViewBag.VorhanAussen.Count > 0)
                                                {
                                                    <h6>Außenlänge (A): @ViewBag.VorhanAussen[VorhanCounter]</h6>
                                                }
                                                if (ViewBag.VorhanOptionSelected.Count>0)
                                                {
                                                    @foreach (var listOption in ViewBag.VorhanOptionSelected)
                                                    {
                                                        <h6>Mit: @listOption</h6>
                                                    }
                                                }
                                               
                                                VorhanCounter++;
                                                DoorCount++;
                                                DorItem++;
                                            }
                                        }
                                        if (ViewBag.AussenCount > item)
                                        {
                                            <div id="DorUndCount">
                                                <h5 style="margin-top: 10px;margin-left: 2px;">
                                                    @DoorCount
                                                </h5>
                                                <h5 id="counterTur"><strong> @ViewBag.Tur[DorItem]</strong></h5>
                                            </div>
                                            if (ViewBag.AussenName.Count > 0)
                                            {
                                                <h5>Count:@ViewBag.TurCount[DorItem]</h5>
                                                <h5>Ssl:@ViewBag.Ssl[DorItem]</h5>
                                                <h6><strong> @ViewBag.AussenName[AussenCounter]</strong></h6>
                                                <br />

                                                if (ViewBag.AussenOptionSelected.Count>0)
                                                {
                                                    foreach (var listOption in ViewBag.AussenOptionSelected)
                                                    {
                                                        <h6>Mit: @listOption</h6>
                                                    }
                                                }

                                                AussenCounter++;
                                                DoorCount++;
                                                DorItem++;
                                            }
                                        }
                                    }
                                </div>
                            }
                        </div>


                        @for (var list = 0; list < @ViewBag.Key.Count; list++)
                        {
                            <div id="InfoValue">
                                @for (int i = 0; i < ViewBag.Tur.Count; i++)
                                {
                                    <div class="horizontal" id="1horizontal">


                                        @if (@ViewBag.KeyValueFT[countFalse].isOpen == true)
                                        {
                                            <input type="checkbox" checked id="1checkbox1">
                                            <input type="hidden" name="IsOppen" id="I1checkbox1">
                                            countFalse++;
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="1checkbox1">
                                            <input type="hidden" name="IsOppen" id="I1checkbox1">
                                            countFalse++;
                                        }


                                    </div>
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

        <div id="FinihserCostInfo">
            <div style="max-width: 700px;">
                <p>
                    Lieferzeit: ca. 14 Werktage<br />
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                </p>
            </div>
            <div style="margin-top: 40px;">
                <h2>@ViewBag.SumCosted</h2>
                <h6>inkl. MwSt.</h6>
            </div>

        </div>
        <div id="finisherButton">
            <a class="btn btn-dark" href=" @Url.Action("OrdersKey", "Konfigurator", new { })">ALS ANGEBOT PER EMAIL</a>



            @if (User.IsInRole("client") || User.IsInRole("admin"))
            {
                <a class="btn btn-danger" href="@Url.Action("SaveUserOrders", "Konfigurator", new {FurKey=@ViewBag.FurKey,TurCounter = @ViewBag.TurCount,Ssl = @ViewBag.Ssl,HalbOption = @ViewBag.HalbOptionSelected,VorhnaOption = @ViewBag.VorhanOptionSelected,AussenOption = @ViewBag.AussenOptionSelected,DoppelOption = @ViewBag.DoppelOption,KnayfOption = @ViewBag.KnayfOptionSelected,HebelOption = @ViewBag.HebelOptionSelected,countKey = @ViewBag.CountKey,key = @ViewBag.NameKey,keyIsOpen = @ViewBag.IsOpen,cost = @ViewBag.SumCosted,TurName = @ViewBag.Tur,userInfo = @ViewBag.UserNameItem,nameKey = @ViewBag.Key, DopelName = @ViewBag.DopelZylinder,DoppelAussen=@ViewBag.DoppelAussen,DoppelIntern=@ViewBag.DoppelIntern,KnayfName = @ViewBag.KnayfName,KnayfAussen = @ViewBag.KnayfAussen,KnayfIntern = @ViewBag.KnayflIntern,HalbName = @ViewBag.HalbName,HalbAussen = @ViewBag.HalbAussen,HelbName = @ViewBag.HelbName, VorhanName=@ViewBag.VorhanName, VorhanAussen = @ViewBag.VorhanAussen, AussenName = @ViewBag.AussenName})">
                    IN DEN WARENKORB
                </a>

            }
            else
            {
                <a class="btn btn-danger" asp-area="Identity" asp-page="/Account/Register">IN DEN WARENKORB</a>
            }

        </div>
    </form>
</div>

