@model schliessanlagen_konfigurator.Models.Orders;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Konfigurator";
}

<div>
    <h1>Konfigurator</h1>
    <div id="konfigMenu">
        <button type="button" class="btn btn-danger">1. Schließplan erstellen</button>
        <button type="button" class="btn btn-secondary"><a href="@Url.Action("System_Auswählen","Konfigurator",new{Model.userKey})">2. System auswählen</a></button>
        <button type="button" class="btn btn-secondary">3. Parameter einstellen</button>
    </div>
    <div id="InformBar">
    </div>
    <div id="key-konfig">
        <h6 style="margin-top: 10px;"> key</h6>
        
    </div>
    <form asp-action="SaveOrder" >
    <div id="konfigurator">
     @Html.HiddenFor(x => x.userKey) 
        <div id="konfiguratorItem_menu_5">
            <div class="line-name-header ">
                <div class="pos">
                    <span>Pos</span>
                </div>

                <div class="turname">
                    <span>Türbezeichnung</span>
                </div>

                <div class="type">
                    <span>
                        Typzelinder
                    </span>
                </div>

                <div class="length" style="display: block;">
                    <span>Zylinderläng </span>

                    <span>außen|innen</span>
                </div>

                <div class="pieces">
                    <span>Stuck</span>
                </div>

            </div>

            @{
                    int position_current = 3;
                int b = 1;
                int position = position_current;
                                                @for (int a = 0; position_current > a; a++)
                {
                                                    <div class="line-name-body">
                                                        <div class="pos-body">
                                                            <span>@b</span>
                                                        </div>

                                                        <div class="turname-body">
                                                                <input asp-for="Tur" name="Turname" type="text" style="max-width:250px" />
                                                        </div>

                                                        <div class="type-body">
                                                            <span>
                                                                @Html.DropDownListFor(model => model.ZylinderId,
                                                                 new List<SelectListItem> {
                                                                    new SelectListItem {  Value = "9",Text="Profil-Doppelzylinder" },
                                                                    new SelectListItem {  Value = "10",Text="Profil-Halbzylinder" },
                                                                    new SelectListItem {  Value = "11",Text="Profil-Knaufzylinder" },
                                                                    new SelectListItem {  Value = "12",Text="Hebelzylinder" },
                                                                    new SelectListItem {  Value = "13",Text="Vorhangschloss" },
                                                                    new SelectListItem {  Value = "14",Text="Aussenzylinder / Rundzylinder" }
                                                                    },
                                                                 new { @class = "form-select", @id = "select" })
                                                            </span>
                                                        </div>

                                                        <div class="length-body">
                                                                <input asp-for="aussen" name="aussen" type="text" class="turInput" />
                                                        </div>

                                                        <div class="length-body">
                                                                <input asp-for="innen" name="innen" type="text" class="turInput" />
                                                        </div>

                                                        <div class="pieces-body">
                                                                <input asp-for="Count" name="Count" type="text" class="turInput" />

                                                        </div>
                                                      
                                                    </div>
                    b++;
                }
            }
            
        </div>
        <div id="konfiguratorItemKey">

            @{
                int d = 1;
                int position2 = position_current;
                                                @for (int a = 0; position_current > a; a++)
                {
                        <div style="display: block;margin-right: 10px ">
                                                        <div id="key">
                                                            <h6 id='nK'><span>S</span>@d</h6>
                                                                <input asp-for="NameKey" name="NameKey" type="text" id="KeyName" />
                                                            <br>
                                                                <input asp-for="CountKey" name="CountKey" type="text" id="counter" />
                                                        </div>
                                                        <div id="chekboxPanel">
                                                                @for (int c = 0; position_current > c; c++)
                                {
                                    if (c == 0)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen" name="IsOppen" class="turInput" id="cheked" />
                                    }
                                    if (c == 1)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen2" name="IsOppen2" class="turInput" id="cheked" />
                                    }
                                    if (c == 2)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen3" name="IsOppen3" class="turInput" id="cheked" />
                                    }
                                    if (c == 3)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen4" class="turInput" id="cheked" />
                                    }
                                    if (c == 4)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen5" class="turInput" id="cheked" />
                                    }
                                    if (c == 5)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen6" class="turInput" id="cheked" />
                                    }
                                    if (c == 6)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen7" class="turInput" id="cheked" />
                                    }
                                    if (c == 7)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen8" class="turInput" id="cheked" />
                                    }
                                    if (c == 8)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen9" class="turInput" id="cheked" />
                                    }
                                    if (c == 9)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen10" class="turInput" id="cheked" />
                                    }
                                    if (c == 10)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen11" class="turInput" id="cheked" />
                                    }
                                    if (c == 11)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen12" class="turInput" id="cheked" />
                                    }
                                    if (c == 12)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen13" class="turInput" id="cheked" />
                                    }
                                    if (c == 13)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen14" class="turInput" id="cheked" />
                                    }
                                    if (c == 14)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen15" class="turInput" id="cheked" />
                                    }
                                    if (c == 15)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen16" class="turInput" id="cheked" />
                                    }
                                    if (c == 16)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen17" class="turInput" id="cheked" />
                                    }
                                    if (c == 17)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen18" class="turInput" id="cheked" />
                                    }
                                    if (c == 18)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen19" class="turInput" id="cheked" />
                                    }
                                    if (c == 19)
                                    {
                                                                        <input type="checkbox" asp-for="IsOppen20" class="turInput" id="cheked" />
                                    }
                                }

                                                        </div>
                                                    </div>
                        d++;
                }
            }
        </div>
            <input type="submit" style="margin-left: 20px;" value="Save" class="btn btn-primary" />
       
    </div>
    </form>
    <div>

        @{
            int i = 21;

            int j = 21;
                                            <select id="size">
                                                @for (int a = 1; i > a; a++)
                {
                                                    <h2>

                                                    <option>
                                                            @a
                                                    </option>

                                                    </h2>
                }
                                            </select>

                                            <select id="Row">
                                                @for (int a = 1; j > a; a++)
                {
                                                    <h2>

                                                    <option>
                                                            @a
                                                    </option>

                                                    </h2>
                }
                                            </select>

        }
        
    </div>
    
</div>

<script>

    let konfigMenu = document.getElementById('konfiguratorItem_menu_5');
    let siz = document.getElementById('size');
    let keyOptions = document.getElementById('konfiguratorItemKey');
    let arraySize = 0;
    siz.addEventListener('change', () => {

        let allItem = document.querySelectorAll('.line-name-body');

        if (allItem.length != 0) {
            arraySize = siz.value - allItem.length;
        }
        else {
            arraySize = siz.value;
        }

        if (allItem.length > siz.value) {
            arraySize = allItem.length - siz.value;

            for (let d = 0; d < arraySize; d++) {
                allItem[d].remove();
                console.log(allItem[d]);
            }

        }
        else {
            for (let i = 0; i < arraySize; i++) {

                let div = document.createElement('div');
                div.classList.add('line-name-body');

                let pos = document.createElement('h6');
                // pos.innerHTML = String(b+i);
                div.append(pos);

                let inputTür = document.createElement('input');
                inputTür.setAttribute('name', 'Turname');
                div.append(inputTür);

                let selectroSlyssel = document.createElement('select');

                for (let s = 0; s < 6; s++) {
                    let options = document.createElement('option');
                    options.classList.add('.form-select');

                    if (s == 0)
                        options.innerHTML = 'Profil-Doppelzylinder';
                    if (s == 1)
                        options.innerHTML = 'Profil-Halbzylinder';
                    if (s == 2)
                        options.innerHTML = 'Profil-Knaufzylinder';
                    if (s == 3)
                        options.innerHTML = 'Hebelzylinder';
                    if (s == 4)
                        options.innerHTML = 'Vorhangschloss';
                    if (s == 5)
                        options.innerHTML = 'Aussenzylinder / Rundzylinder';

                    options.setAttribute('name', 'ZylinderId');
                    selectroSlyssel.append(options);
                }
                div.append(selectroSlyssel);

                let Zylinderlänge = document.createElement('input');
                Zylinderlänge.setAttribute('name', 'aussen');
                div.append(Zylinderlänge);

                let aussen = document.createElement('input');
                aussen.setAttribute('name', 'innen');
                div.append(aussen);

                let innen = document.createElement('input');
                innen.setAttribute('name', 'Count');
                div.append(innen);

                konfigMenu.append(div);

                let chekbox = document.createElement('input');
                chekbox.setAttribute('type', 'checkbox');

                keyOptions.append(chekbox);
            }
        }

        // if (allItem.length != siz.value)
        //     konfigMenu.remove(allItem);

    })
    let aussenObject = document.querySelectorAll('[name*="aussen"]');
    let innenObject = document.querySelectorAll('[name*="innen"]');
    
    function cheked() {
        aussenObject.forEach((item) => {

            item.addEventListener('change', () => {
                if (item.value > 85) {
                    item.value = 85;
                    alert('Cilinder syzi min 25mm - max 81mm');
                }
                if (item.value < 25) {
                    item.value = 25;
                    alert('Cilinder syzi min 25mm - max 81mm');
                }
            })
        });

        innenObject.forEach((item) => {
            item.addEventListener('change', () => {
                if (item.value > 85) {
                    item.value = 85;
                    alert('Cilinder syzi min 25mm - max 81mm');
                }
                if (item.value < 25) {
                    item.value = 25;
                    alert('Cilinder syzi min 25mm - max 81mm');
                }
            })
        });
    }
    cheked();

</script>