@model schliessanlagen_konfigurator.Models.Orders;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Konfigurator";
}

<div>
    <div id="konfigMenu">
        <button type="button" class="btn btn-danger">1. Schließplan erstellen</button>
        <button type="button" class="btn btn-secondary"><a href="@Url.Action("System_Auswählen","Konfigurator")">2. System auswählen</a></button>
        <button type="button" class="btn btn-secondary">3. Parameter einstellen</button>
    </div>
    <div id="InformBar">
        <div id="blockSclussel" >
            <div id="sclusselInfo">
                <div id="schlussel">
                    <h3>Schlüssel</h3>
                </div>
               
                <div id="schlussel2">
                    <h4>Schlüssel hinzufügen</h4>
                </div>
                
                <div>
                    <button id="removeButton">-</button>
                    <button id="addButton">+</button>
                </div>
            </div>
            <div id="itemKeyBlock">
                <div  class="TexCount">
                    <h6>1</h6>
                    <div id="TexInputKey">
                        <input id="inputS" placeholder="Name des Schlüssels" type="text" />
                    </div>
                    <div>
                        <input id="inputCount"  value="1" type="text" />
                    </div>
                </div>
             
            </div>
        </div>
        <div>
            <div id="sclusselInfo2">
                <div id="schlussel">
                    <h3>Türen (Zugänge)</h3>
                </div>

                <div id="schlussel3">
                    <h4>Tür hinzufügen</h4>
                </div>

                <div>
                    <button id="removeButtonTur">-</button>
                    <button id="addButtonTur">+</button>
                </div>
            </div>
            <div>
                <div id="turInfo">
                    <div id="blockInfo">
                        <div class="TexCountTur">
                            <div id="ItemTur">
                                <div>
                                    <h6 id="counterTur">1</h6>
                                </div>

                                <div>
                                    <input id="inputTur" placeholder="Name der Tür" />
                                </div>

                                <div>
                                    <button id="infoButten">i</button>
                                </div>
                            </div>
                            <div id="SelectTurItem">
                                <select id="TypeSelectTurItem">
                                    @foreach (var list in ViewBag.Zylinder_Typ)
                                    {
                                        <option>@list.nameType</option>
                                    }
                                </select>
                            </div>
                            <div id="SelectTurItem">
                                <select id="TypeSelectTurItem">
                                    <option>Außenlänge</option>
                                    @foreach (var list in ViewBag.Aussen)
                                    {
                                        <option>@list</option>
                                    }
                                </select>
                            </div>
                            <div id="SelectTurItem">
                                <select id="TypeSelectTurItem">
                                    <option>Innenlänge</option>
                                    @foreach (var list in ViewBag.Innen)
                                    {
                                        <option>@list</option>
                                    }
                                </select>
                            </div>
                           
                            <div id="SelectTurItem">
                                <select id="TypeSelectTurItem">
                                    <option>Options</option>
                                    @foreach (var list in ViewBag.OptionsName)
                                    {
                                        <option>@list</option>
                                    }
                                </select>
                            </div>
                        </div>
                      
                    </div>
                <div id="InfoValue">
                    <div id="valueCheket">
                            <label class="custom-checkbox">
                                <input type="checkbox" data-value="Value 1">
                                <span class="checkmark"></span>
                           @*      <span class="checkbox-label">Value 1</span> *@
                            </label>
                    </div>
                       
                        @* <label class="custom-checkbox">
                            <input type="checkbox" data-value="Value 2">
                            <span class="checkmark"></span>
                            <span class="checkbox-label">Value 2</span>
                        </label>
                        <label class="custom-checkbox">
                            <input type="checkbox" data-value="Value 3">
                            <span class="checkmark"></span>
                            <span class="checkbox-label">Value 3</span>
                        </label> *@
                        
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        let blockCount = 1;
        
        let blockTur = 1;

    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll('.custom-checkbox input[type="checkbox"]');

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                updateCheckboxLabel(this);
            });
            updateCheckboxLabel(checkbox);
        });

        function updateCheckboxLabel(checkbox) {
            const label = checkbox.parentNode.querySelector('.checkbox-label');
            label.textContent = checkbox.checked ? checkbox.dataset.value + ' (Checked)' : checkbox.dataset.value + ' (Unchecked)';
        }
    });
        // Функция для удаления блока
        function removeBlockTur() {
        let blockToRemove = document.getElementById('BlockTur-' + blockTur);
            if (blockToRemove) {
                blockToRemove.remove();
            blockTur--;
            }
        }

        function addBlockTur() {
        blockTur++;

        // Создаем новый блок
        let newBlock = document.createElement('div');
        newBlock.id = 'BlockTur-' + blockTur;
        newBlock.innerHTML = `  <div class="TexCountTur">
                                <div id="ItemTur">
                                    <div>
                                                <h6 id="counterTur">${blockTur}</h6>
                                    </div>

                                    <div>
                                        <input id="inputTur" placeholder="Name der Tür" />
                                    </div>

                                    <div>
                                        <button id="infoButten">i</button>
                                    </div>
                                </div>
                                <div id="SelectTurItem">
                                    <select id="TypeSelectTurItem">
                                    @foreach (var list in ViewBag.Zylinder_Typ)
                                    {
                                      <option>@list.nameType</option>
                                    }
                                    </select>
                                </div>
                                <div id="SelectTurItem">
                                    <select id="TypeSelectTurItem">
                                        <option>Außenlänge</option>
                                        @foreach (var list in ViewBag.Aussen)
                                        {
                                            <option>@list</option>
                                        }
                                    </select>
                                </div>
                                <div id="SelectTurItem">
                                    <select id="TypeSelectTurItem">
                                        <option>Options</option>
                                        @foreach (var list in ViewBag.Innen)
                                        {
                                          <option>@list</option>
                                        }
                                    </select>
                                </div>
                               
                                <div id="SelectTurItem">
                                         <select id="TypeSelectTurItem">
                                        <option>Options</option>
                                         @foreach (var list in ViewBag.OptionsName)
                                         {
                                            <option>@list</option>
                                         }
                                    </select>
                                </div>
                            </div>
                `;

        var existingElement = document.getElementById('valueCheket');

        // Клонируем элемент
        var newElement = existingElement.cloneNode(true);
       
        // Добавляем новый блок в контейнер
        document.getElementById('blockInfo').appendChild(newBlock);
        document.getElementById('InfoValue').appendChild(newElement);
       
    }
        function removeBlock() {
            let blockToRemove = document.getElementById('TexCount-' + blockCount);
            let blockToRemoveTurValue = document.getElementById('chekbox-' + blockCount);
           
            if (blockToRemove) 
            {
                blockToRemove.remove();
                blockToRemoveTurValue.remove();
                blockCount--;
            }
              
        }

        // Функция для добавления блока
        function addBlock() {
            blockCount++;

            // Создаем новый блок
            let newBlock = document.createElement('div');
            newBlock.id = 'TexCount-' + blockCount;
            newBlock.innerHTML = `
                                <div  class="TexCount">
                                    <h6>${blockCount}</h6>
                            <div id="TexInputKey">
                                <input id="inputS" placeholder="Name des Schlüssels" type="text" />
                            </div>
                            <div>
                                <input id="inputCount"  value="1" type="text" />
                            </div>
                        </div>
            `;

            let newBlockTur = document.createElement('div');
        newBlockTur.id = 'chekbox-' + blockCount;
        newBlockTur.innerHTML = ` <label class="custom-checkbox">
                                    <input type="checkbox" data-value="Value 1">
                                    <span class="checkmark"></span>
                                  
                                </label>
            `;

            // Добавляем новый блок в контейнер
            document.getElementById('itemKeyBlock').appendChild(newBlock);
        document.getElementById('valueCheket').appendChild(newBlockTur);
        }

        // Назначаем обработчики событий для кнопок
        document.getElementById('removeButton').addEventListener('click', removeBlock);
        document.getElementById('addButton').addEventListener('click', addBlock);


    document.getElementById('removeButtonTur').addEventListener('click', removeBlockTur);
    document.getElementById('addButtonTur').addEventListener('click', addBlockTur);
    
</script>