@model schliessanlagen_konfigurator.Models.Orders;
@using Microsoft.AspNetCore.Http;

@{
    ViewData["Title"] = "Konfigurator";
}

<div>
    <div id="konfigMenu">
        <button type="button" class="btn btn-danger">1. Schließplan erstellen</button>
        <button type="button" class="btn btn-secondary"><a href="@Url.Action("System_Auswählen","Konfigurator")">2. System auswählen</a></button>
        <button type="button" class="btn btn-secondary">3. Parameter einstellen</button>
    </div>
    <form asp-action="SaveOrder" enctype="multipart/form-data" asp-controller="Konfigurator">
  
        @Html.HiddenFor(m => m.userKey)

        <input name="ItemCount" id="itemcountOptions" />

    <div id="InformBar">
        <div id="blockSclussel" >
            <div id="sclusselInfo">
                <div id="schlussel">
                    <h3>Schlüssel</h3>
                </div>
               
                <div id="schlussel2">
                    <h4>Schlüssel hinzufügen</h4>
                </div>
                
                <div>
                        <input id="removeButton" type="button" value="-">
                        <input id="addButton" type="button" value="+">
                </div>
            </div>
            <div id="itemKeyBlock">
                <div  class="TexCount">
                    <h6>1</h6>
                    <div id="TexInputKey">
                            <input id="inputS" name="NameKey" placeholder="Name des Schlüssels" type="text" />
                    </div>
                    <div>
                            <input id="inputCount" name="CountKey" value="1" type="text" />
                    </div>
                </div>
             
            </div>
        </div>
        <div>
            <div id="sclusselInfo2">
                <div id="schlussel">
                    <h3>Türen (Zugänge)</h3>
                </div>

                <div id="schlussel3">
                    <h4>Tür hinzufügen</h4>
                </div>

                <div>
                    <input id="removeButtonTur" type="button" value="-">
                    <input id="addButtonTur" type="button" value="+">
                </div>
            </div>
            <div>
                <div id="turInfo">
                    <div id="blockInfo">
                        <div class="TexCountTur">
                            <div id="ItemTur">
                                <div>
                                    <h6 id="counterTur">1</h6>
                                </div>

                                            <div>
                                                <input id="inputTur" name="Turname" placeholder="Name der Tür" />
                                            </div>
                                <div>
                                    <button id="infoButten">i</button>
                                </div>
                            </div>
                                <details>
                                    <summary>  </summary>
                            <div id="SelectTurItem">
                                    <select id="TypeSelectTurItem" name="ZylinderId">
                                    @foreach (var list in ViewBag.Zylinder_Typ)
                                    {
                                        <option>@list.nameType</option>
                                    }
                                </select>
                            </div>
                            <div id="SelectTurItem">
                                    <select id="TypeSelectTurItem" name="aussen">
                                    <option>Außenlänge</option>
                                    @foreach (var list in ViewBag.Aussen)
                                    {
                                        <option>@list</option>
                                    }
                                </select>
                            </div>
                            <div id="SelectTurItem">
                                    <select id="TypeSelectTurItem" name="innen">
                                    <option>Innenlänge</option>
                                    @foreach (var list in ViewBag.Innen)
                                    {
                                        <option>@list</option>
                                    }
                                </select>
                            </div>
                           
                            <div id="SelectTurItem">
                                        <select id="TypeSelectTurItem" name="Options">
                                    <option>Options</option>
                                    @foreach (var list in ViewBag.OptionsName)
                                    {
                                        <option>@list</option>
                                    }
                                </select>
                            </div>
                                </details>
                        </div>
@* 
                            horizontal *@

                    </div>
                <div id="InfoValue">
                            <div class="horizontal" id="1horizontal">
                                <div class="checkboxContainer">
                                    <input type="checkbox" style="" id="checkbox1">
                                    <input type="hidden" name="IsOppen" value="false" id="I1.checkbox1">
                                </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
     
        <input type="submit" class="btn btn-success" id="input" value="Weiter" />
    </form>
</div>
<script>

        let blockCount = 1;
        
        let blockTur = 1;
   
    var data = JSON.parse(localStorage.getItem(`checkbox${blockCount}`));

   

    function createCustomCheckbox(id) 
    {
        var checkbox = document.getElementById(id);
        var checkboxValue = false;

        if (!localStorage.getItem(id)) {
            localStorage.setItem(id, 'false');
        }
        // Проверяем, есть ли уже сохраненное значение в локальном хранилище
        var savedValue = localStorage.getItem(id);

        // Если есть сохраненное значение, устанавливаем его в чекбоксе
        if (savedValue !== null) 
        {

            checkbox.checked = (savedValue === 'true'); // преобразуем строку в булево значение
            checkboxValue = checkbox.checked;

        }

        // Обработчик события изменения состояния чекбокса
        checkbox.addEventListener('change', function () {
            // Сохраняем состояние чекбокса в локальное хранилище
            localStorage.setItem(id, this.checked);
            // Записываем значение чекбокса в переменную
            checkboxValue = this.checked;

            let switches = document.getElementById(`I${blockTur}.${id}`);
            if (switches !== null)
                switches.value = String(this.checked);

        
        });
    }

    function foo() {
        localStorage.clear();
        createCustomCheckbox(`checkbox${blockCount}`);
    }

    window.onload = foo()

    // Создаем кастомные чекбоксы
    createCustomCheckbox('checkbox1');


    function removeBlockTur() {
                let blockToRemove = document.getElementById('BlockTur-' + blockTur);
                    if (blockToRemove) 
                    {
                        blockToRemove.remove();

                        for (let s = 0; s < blockCount; s++) 
                        {
                            let blockToRemoveTurValue = document.getElementById(`${blockTur}.checkboxContainer${s}`);
                            let Horizontal = document.getElementById(`${blockTur}horizontal`);
                            blockToRemoveTurValue.remove();
                            Horizontal.remove();
                        }

                    blockTur--;
                    }
                }

        function addBlockTur() {
        blockTur++;

        // Создаем новый блок
        let newBlock = document.createElement('div');
        newBlock.id = 'BlockTur-' + blockTur;
        newBlock.innerHTML = `  <div class="TexCountTur">
                                <div id="ItemTur">
                                    <div>
                                       <h6 id="counterTur">${blockTur}</h6>
                                    </div>

                                    <div>
                                            <input id="inputTur" name="Turname" placeholder="Name der Tür" />
                                    </div>

                                    <div>
                                        <button id="infoButten">i</button>
                                    </div>
                                </div>
                                      <details>
                                        <summary>  </summary>
                                <div id="SelectTurItem">
                                        <select id="TypeSelectTurItem" name="ZylinderId">
                                    @foreach (var list in ViewBag.Zylinder_Typ)
                                    {
                                      <option>@list.nameType</option>
                                    }
                                    </select>
                                </div>
                                <div id="SelectTurItem">
                                        <select id="TypeSelectTurItem" name="aussen">
                                        <option>Außenlänge</option>
                                        @foreach (var list in ViewBag.Aussen)
                                        {
                                            <option>@list</option>
                                        }
                                    </select>
                                </div>
                                <div id="SelectTurItem">
                                        <select id="TypeSelectTurItem" name="innen">
                                        <option>Options</option>
                                        @foreach (var list in ViewBag.Innen)
                                        {
                                          <option>@list</option>
                                        }
                                    </select>
                                </div>
                               
                                <div id="SelectTurItem">
                                             <select id="TypeSelectTurItem" name="Options">
                                        <option>Options</option>
                                         @foreach (var list in ViewBag.OptionsName)
                                         {
                                            <option>@list</option>
                                         }
                                    </select>
                                </div>
                            </div>
                                     </details>
                `;

            document.getElementById('blockInfo').appendChild(newBlock);

            let horizont = document.createElement('div');
            horizont.id = `${blockTur}horizontal`;
            horizont.classList.add('horizontal');

            for (let i = 1; i <= blockCount; i++) 
            {

                let newBlockTur = document.createElement('div');
               
                newBlockTur.innerHTML = ` <input type="checkbox" id=${blockTur}.checkbox${i}>
                <input type="hidden" name="IsOppen" value="false" id="I${blockTur}.checkbox${i}">`;

                newBlockTur.id = `${blockTur}.checkboxContainer${i}`;

                newBlockTur.classList.add('checkboxContainer');

                horizont.appendChild(newBlockTur);

                document.getElementById('InfoValue').appendChild(horizont);

                createCustomCheckbox(`${blockTur}.checkbox${i}`);
            }
    }
        function removeBlock() 
        {
            let blockToRemove = document.getElementById('TexCount-' + blockCount);
        
            if (blockToRemove) 
            {
                blockToRemove.remove();
                if (blockTur > 1) 
                {
                    for (let f = 1; f <= blockTur;) 
                    {

                            let blockToRemoveTurValue = document.getElementById(`${f}.checkboxContainer${blockCount}`);
                            blockToRemoveTurValue.remove();
                            
                            console.log(blockCount);

                            // if(f==1)
                            // blockCount--;

                        f++;
                        
                    }
                       
                }

                    else 
                    {
                        let blockToRemoveTurValue = document.getElementById(`${blockTur}.checkboxContainer${blockCount}`);
                        blockToRemoveTurValue.remove();
                    }

            blockCount--;
            }
              
        }

        // Функция для добавления блока
    function addBlock() 
    {
        blockCount++;
    
        let item = document.getElementById('itemcountOptions');
        item.value = blockCount;
        // Создаем новый блок
        let newBlock = document.createElement('div');
        newBlock.id = 'TexCount-' + blockCount;
        newBlock.innerHTML = `
                                    <div  class="TexCount">
                         <h6>${blockCount}</h6>
                            <div id="TexInputKey">
                                    <input id="inputS" name="NameKey" placeholder="Name des Schlüssels" type="text" />
                            </div>
                            <div>
                                     <input id="inputCount" name="CountKey" value="1" type="text" />
                            </div>
                        </div>

            `;
        document.getElementById('itemKeyBlock').appendChild(newBlock);
      
        let horizont = document.getElementById(`${blockTur}horizontal`);

        for (let i = 1; i <= blockTur; i++) 
        {
          
            let newBlockTur = document.createElement('div');

            newBlockTur.innerHTML = ` <input type="checkbox" id=${i}.checkbox${blockCount}>
                                    <input type="hidden" name="IsOppen" value="false" id="I${i}.checkbox${blockCount}">`;

            newBlockTur.id = `${i}.checkboxContainer${blockCount}`;

            newBlockTur.classList.add('checkboxContainer');

            document.getElementById(`${i}horizontal`).appendChild(newBlockTur);

            document.getElementById('InfoValue').appendChild(horizont);

            createCustomCheckbox(`${i}.checkbox${blockCount}`);
        }

    }

        document.getElementById('removeButton').addEventListener('click', removeBlock);
        document.getElementById('addButton').addEventListener('click', addBlock);

    document.getElementById('removeButtonTur').addEventListener('click', removeBlockTur);
    document.getElementById('addButtonTur').addEventListener('click', addBlockTur);
    
</script>