@page
@model schliessanlagen_konfigurator.Areas.Identity.Pages.Account.Manage.HistoriOrdersModel
@{
    ViewData["Title"] = "Bezahlte Bestellungen";
    ViewData["ActivePage"] = ManageNavPages.HistoriOrderNavClass;

    float costed = 0;
    int ProudctItemCounter = 0;
    int UserOrderId = 0;

    var imageList = (List<string>)ViewData["Image"];
    var orderList = (List<UserOrdersShop>)ViewData["OrderLis"];
    var orderItem = (List<ProductSysteam>)ViewData["OrderItem"];
    var countProduct = (List<int>)ViewData["CounterProduct"];
    var descriptions = (List<string>)ViewData["Descriptions"];
}

<h3>@ViewData["Title"]</h3>
<div class="row" style="overflow-y: auto;">
    <div>
        <div id="AllOrderUser" >
            @for (int z = 0; z < orderList.Count; z++)
            {
                <div id="AllProductUser" class="shadow-lg  mb-5 bg-body-tertiary rounded">
                    <div id="hederBlockOrder">
                       
                        <div>
                            <h4>
                                Schließsystem
                            </h4>
                        </div>
                        <div id="orderCostHeader">
                            <div>
                                <h4>Preis</h4>
                            </div>
                        </div>
                    </div>
                    <div id="producktInfo">
                        <img src="@("/compression/Schliarticle.webp")" alt="Schliarticle" data-bs-toggle="modal" data-bs-target="#myModal-@z" height="150" width="150" />
                        <h4>@orderList[z].ProductName</h4>
                        <div id="costedInfo">
                            <h4 id="cost-@z">@orderList[z].OrderSum €</h4>
                        </div>
                    </div>


                    <div class="modal fade" id="myModal-@z" tabindex="-1">
                        <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title">@orderList[z].ProductName</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                    @for (int s = 0; s < countProduct[z]; s++)
                                    {
                                        <div class="card shadow-lg mb-4 bg-body-tertiary rounded">
                                            <div class="row g-0">
                                                <div class="col-md-4">
                                                    <img src="@($"/compression/{imageList[ProudctItemCounter]}")" class="img-fluid rounded-start" alt="@orderItem[ProudctItemCounter].Name">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Name: @orderItem[ProudctItemCounter].Name</h4>
                                                        <div class="card-text">
                                                            @Html.Raw(descriptions[ProudctItemCounter])

                                                            <br/>
                                                            <h4>aussen: @orderItem[ProudctItemCounter].Aussen</h4>
                                                            <h4>innen: @orderItem[ProudctItemCounter].Intern</h4>
                                                            <h4>Option - @orderItem[ProudctItemCounter].Option</h4>
                                                            <h4 style="color:red">Preis: @orderItem[ProudctItemCounter].Price,00 €</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                      
                                        UserOrderId = @orderList[z].Id;
                                        ProudctItemCounter++;
                                    }
                       
                                    <h5>Zahlungsstatus: @orderList[z].OrderStatus</h5>               
                                    <h5>Lieferstatus: @orderList[z].ShippingStatus</h5>
                                    </div>
                                    <div class="modal-footer">
                                    <button type="button" class="btn danger" data-bs-dismiss="modal">Schließen</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div id="card_controll">
                        <button class="btn danger">
                            <a href="@Url.Action("System_Auswählen","Konfigurator",new{Id = @orderList[z].Id ,userName = @orderList[z].UserOrderKey , isNewKonfig = true, Biarbeiten = false, Reorder=true} )">Schließplan bearbeiten</a>
                        </button>
                        <button id="removeOrder" class="btn danger" onclick="(remove(@UserOrderId))">
                            <a href="@Url.Action("DowloadRehnung","Konfigurator",new{Id = @UserOrderId} )">Rechnung <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-download"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4" /><path d="M12 13l0 9" /><path d="M9 19l3 3l3 -3" /></svg></a>
                        </button>
                        <button id="removeOrder" class="btn danger" onclick="(remove(@UserOrderId))">
                            <a href="@Url.Action("Download","Konfigurator",new{Id = @UserOrderId} )">Den Plan <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-cloud-download"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M19 18a3.5 3.5 0 0 0 0 -7h-1a5 4.5 0 0 0 -11 -2a4.6 4.4 0 0 0 -2.1 8.4" /><path d="M12 13l0 9" /><path d="M9 19l3 3l3 -3" /></svg></a>
                        </button>
                    </div>
                </div>
            }
            <br />
        </div>
    </div>
</div>


    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", function () {
            let count = document.querySelectorAll("#countOrderSysteam");
            count.forEach((item) => {
                item.value = 1;
            })
        });

    </script>


