@page
@model schliessanlagen_konfigurator.Areas.Identity.Pages.Account.Manage.PagePersonalOrdersModel;

@{
    ViewData["Title"] = "Ihre Projekte";
    ViewData["ActivePage"] = ManageNavPages.PersonalOrderNavClass;

    var orderList = (List<UserOrdersShop>)ViewData["OrderLis"];
    var orderItem = (List<ProductSysteam>)ViewData["OrderItem"];
    var imageList = (List<string>)ViewData["Image"];
    var countProduct = (List<int>)ViewData["CounterProduct"];
    var descriptions = (List<string>)ViewData["Descriptions"];

    var Gramm = (List<float>)ViewData["Gewicht"];

    float costed = 0;
    int ProudctItemCounter = 0;
    int UserOrderId = 0;
}
<h3>@ViewData["Title"]</h3>
<style>
    #siwk-button-container {
        border: 1px solid red; /* Для визуализации границы контейнера */
        padding: 10px;
        margin: 10px;
    }
</style>
<div class="row">
    <div>
        <div id="AllOrderUser">
            @if (orderList != null)
            {
                @for (int z = 0; z < orderList.Count; z++)
                {

                    <div id="AllProductUser" class="shadow-lg  mb-5 bg-body-tertiary rounded">
                        <div id="hederBlockOrder">
                            <h4>Schließsystem</h4>
                            <div id="orderCostHeader">
                                <h4>Price</h4>
                            </div>
                        </div>
                        @{
                            // Вычисляем 19% от суммы
                            decimal KeyCost = Math.Round(Convert.ToDecimal(@orderList[z].OrderSum) * 0.19m, 2);

                            // // Вычисляем итоговую сумму после вычитания 19%
                            decimal resultKey = Math.Round(Convert.ToDecimal(@orderList[z].OrderSum) - KeyCost, 2);

                            // // Форматируем результат как валюту
                            string formattedResultKey = resultKey.ToString("C");
                        }

                        <div id="producktInfo">
                            <img src="@("/compression/Schliarticle.webp")" alt="Schliarticle" height="150" width="150" />
                            <h4>@orderList[z].ProductName</h4>
                            <div id="costedInfo">
                                <div style="display:flex"><h4 id="costedI-@z">@formattedResultKey</h4></div>

                            </div>
                        </div>
                        <div class="modal fade" id="myModal-@z" tabindex="-1">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title">@orderList[z].ProductName</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="myForm" method="post">

                                            <div id="blockSchrite" class="shadow-lg  mb-5 bg-body-tertiary rounded">
                                                    <div style="display:flex;gap:10px;">
                                                        <h2><strong>Rechnungsadresse</strong></h2>
                                                    </div>
                                                <br />
                                                 <input type="hidden" name="userKey" value="@orderList[z].UserId" />
                                                @foreach (var order in Model.Users)
                                                {

                                                       <div class="form-floating mb-3">
                                                        <input class="form-control" id="floatingInput" value="@order.UserName" required name="RechnungAdresse" placeholder="E-Mail-Adresse" />
                                                            <label for="floatingInput">E-Mail-Adresse</label>
                                                        </div>

                                                        <div class="form-floating mb-3">
                                                        <input class="form-control" id="floatingInput" value="@order.FirstName" required name="RechnungVorname" placeholder="Vorname / first name *" />
                                                            <label for="floatingInput">Vorname / first name *</label>
                                                        </div>

                                                        <div class="form-floating mb-3">
                                                        <input class="form-control" id="floatingInput" value="@order.LastName" required name="RechnungNachname" placeholder="Nachname / surname *" />
                                                            <label for="floatingInput">Nachname / surname *</label>
                                                        </div>


                                                        <div class="form-floating mb-3">
                                                        <input class="form-control" id="floatingInput" name="RechnungFirma" value="@order.Firma" placeholder="Firma / company" />
                                                            <label for="floatingInput">Firma / company</label>
                                                        </div>

                                                        <div class="form-floating mb-3">
                                                        <input class="form-control" id="floatingInput" name="RechnungVat" value="@order.USt_IdNr" placeholder="USt - IdNr. / VAT id" />
                                                            <label for="floatingInput">USt - IdNr. / VAT id</label>
                                                        </div>

                                                        <div class="form-floating mb-3">
                                                        <input class="form-control" required id="floatingInput" value="@order.Rechnun_Straße" name="RechnungStrasse" placeholder="Straße und Hausnummer / street address *" />
                                                            <label for="floatingInput">Straße und Hausnummer / street address *</label>
                                                        </div>

                                                        <div class="form-floating mb-3">
                                                        <input class="form-control" id="floatingInput" value="@order.Rechnun_Postleitzahl" required name="RechnungZip" placeholder="Postleitzahl / zip code *" />
                                                            <label for="floatingInput">Postleitzahl / zip code *</label>
                                                        </div>

                                                        <div class="form-floating mb-3">
                                                        <input class="form-control" required id="floatingInput" value="@order.Rechnun_Stadt" name="RechnungStadt" placeholder="Stadt / city *" />
                                                            <label for="floatingInput">Stadt / city *</label>
                                                        </div>
                                                      
                                                        <div class="form-floating mb-3">
                                                        <select class="form-select" required  name="RechnungLand" onchange="ProcentMwst(event.target.value,@z)" id="floatingInput" placeholder="Land / country *">
                                                            <option value="DE">Deutschland</option>
                                                                <option value="AF">Afghanistan</option>
                                                                <option value="EG">Ägypten</option>
                                                                <option value="AL">Albanien</option>
                                                                <option value="DZ">Algerien</option>
                                                                <option value="AS">Amerikanisch-Samoa</option>
                                                                <option value="VI">Amerikanische Jungferninseln</option>
                                                                <option value="AD">Andorra</option>
                                                                <option value="AO">Angola</option>
                                                                <option value="AI">Anguilla</option>
                                                                <option value="AQ">Antarktis</option>
                                                                <option value="AG">Antigua und Barbuda</option>
                                                                <option value="GQ">Äquatorialguinea</option>
                                                                <option value="AR">Argentinien</option>
                                                                <option value="AM">Armenien</option>
                                                                <option value="AW">Aruba</option>
                                                                <option value="AZ">Aserbaidschan</option>
                                                                <option value="ET">Äthiopien</option>
                                                                <option value="AU">Australien</option>
                                                                <option value="BS">Bahamas</option>
                                                                <option value="BH">Bahrain</option>
                                                                <option value="BD">Bangladesch</option>
                                                                <option value="BB">Barbados</option>
                                                                <option value="BY">Belarus</option>
                                                                <option value="BE">Belgien</option>
                                                                <option value="BZ">Belize</option>
                                                                <option value="BJ">Benin</option>
                                                                <option value="BM">Bermuda</option>
                                                                <option value="BT">Bhutan</option>
                                                                <option value="BO">Bolivien</option>
                                                                <option value="BQ">Bonaire, Sint Eustatius und Saba</option>
                                                                <option value="BA">Bosnien und Herzegowina</option>
                                                                <option value="BW">Botswana</option>
                                                                <option value="BV">Bouvetinsel</option>
                                                                <option value="BR">Brasilien</option>
                                                                <option value="VG">Britische Jungferninseln</option>
                                                                <option value="IO">Britisches Territorium im Indischen Ozean</option>
                                                                <option value="BN">Brunei Darussalam</option>
                                                                <option value="BG">Bulgarien</option>
                                                                <option value="BF">Burkina Faso</option>
                                                                <option value="BI">Burundi</option>
                                                                <option value="CL">Chile</option>
                                                                <option value="CN">China</option>
                                                                <option value="CK">Cookinseln</option>
                                                                <option value="CR">Costa Rica</option>
                                                                <option value="CI">Côte d’Ivoire</option>
                                                                <option value="CW">Curaçao</option>
                                                                <option value="DK">Dänemark</option>
                                                                <option value="DJ">Dschibuti</option>
                                                                <option value="DM">Dominica</option>
                                                                <option value="DO">Dominikanische Republik</option>
                                                                <option value="EC">Ecuador</option>
                                                                <option value="SV">El Salvador</option>
                                                                <option value="ER">Eritrea</option>
                                                                <option value="EE">Estland</option>
                                                                <option value="SZ">Eswatini</option>
                                                                <option value="FK">Falklandinseln</option>
                                                                <option value="FO">Färöer</option>
                                                                <option value="FJ">Fidschi</option>
                                                                <option value="FI">Finnland</option>
                                                                <option value="FR">Frankreich</option>
                                                                <option value="GF">Französisch-Guayana</option>
                                                                <option value="PF">Französisch-Polynesien</option>
                                                                <option value="TF">Französische Süd- und Antarktisgebiete</option>
                                                                <option value="GA">Gabun</option>
                                                                <option value="GM">Gambia</option>
                                                                <option value="GE">Georgien</option>
                                                                <option value="GH">Ghana</option>
                                                                <option value="GI">Gibraltar</option>
                                                                <option value="GD">Grenada</option>
                                                                <option value="GR">Griechenland</option>
                                                                <option value="GL">Grönland</option>
                                                                <option value="GB">Großbritannien</option>
                                                                <option value="GP">Guadeloupe</option>
                                                                <option value="GU">Guam</option>
                                                                <option value="GT">Guatemala</option>
                                                                <option value="GG">Guernsey</option>
                                                                <option value="GN">Guinea</option>
                                                                <option value="GW">Guinea-Bissau</option>
                                                                <option value="GY">Guyana</option>
                                                                <option value="HT">Haiti</option>
                                                                <option value="HM">Heard- und McDonald-Inseln</option>
                                                                <option value="HN">Honduras</option>
                                                                <option value="HK">Hongkong</option>
                                                                <option value="IN">Indien</option>
                                                                <option value="ID">Indonesien</option>
                                                                <option value="IQ">Irak</option>
                                                                <option value="IR">Iran</option>
                                                                <option value="IE">Irland</option>
                                                                <option value="IS">Island</option>
                                                                <option value="IL">Israel</option>
                                                                <option value="IT">Italien</option>
                                                                <option value="JM">Jamaika</option>
                                                                <option value="JP">Japan</option>
                                                                <option value="YE">Jemen</option>
                                                                <option value="JE">Jersey</option>
                                                                <option value="JO">Jordanien</option>
                                                                <option value="KY">Kaimaninseln</option>
                                                                <option value="KH">Kambodscha</option>
                                                                <option value="CM">Kamerun</option>
                                                                <option value="CA">Kanada</option>
                                                                <option value="CV">Kap Verde</option>
                                                                <option value="KZ">Kasachstan</option>
                                                                <option value="QA">Katar</option>
                                                                <option value="KE">Kenia</option>
                                                                <option value="KG">Kirgisistan</option>
                                                                <option value="KI">Kiribati</option>
                                                                <option value="CC">Kokosinseln</option>
                                                                <option value="CO">Kolumbien</option>
                                                                <option value="KM">Komoren</option>
                                                                <option value="CD">Kongo-Kinshasa</option>
                                                                <option value="CG">Kongo-Brazzaville</option>
                                                                <option value="KR">Korea, Republik</option>
                                                                <option value="XK">Kosovo</option>
                                                                <option value="HR">Kroatien</option>
                                                                <option value="CU">Kuba</option>
                                                                <option value="KW">Kuwait</option>
                                                                <option value="LA">Laos</option>
                                                                <option value="LS">Lesotho</option>
                                                                <option value="LV">Lettland</option>
                                                                <option value="LB">Libanon</option>
                                                                <option value="LR">Liberia</option>
                                                                <option value="LY">Libyen</option>
                                                                <option value="LI">Liechtenstein</option>
                                                                <option value="LT">Litauen</option>
                                                                <option value="LU">Luxemburg</option>
                                                                <option value="MO">Macau</option>
                                                                <option value="MG">Madagaskar</option>
                                                                <option value="MW">Malawi</option>
                                                                <option value="MY">Malaysia</option>
                                                                <option value="MV">Malediven</option>
                                                                <option value="ML">Mali</option>
                                                                <option value="MT">Malta</option>
                                                                <option value="MA">Marokko</option>
                                                                <option value="MH">Marshallinseln</option>
                                                                <option value="MQ">Martinique</option>
                                                                <option value="MR">Mauretanien</option>
                                                                <option value="MU">Mauritius</option>
                                                                <option value="YT">Mayotte</option>
                                                                <option value="MK">Mazedonien</option>
                                                                <option value="MX">Mexiko</option>
                                                                <option value="FM">Mikronesien</option>
                                                                <option value="MD">Moldau</option>
                                                                <option value="MC">Monaco</option>
                                                                <option value="MN">Mongolei</option>
                                                                <option value="ME">Montenegro</option>
                                                                <option value="MS">Montserrat</option>
                                                                <option value="MZ">Mosambik</option>
                                                                <option value="MM">Myanmar</option>
                                                                <option value="NA">Namibia</option>
                                                                <option value="NR">Nauru</option>
                                                                <option value="NP">Nepal</option>
                                                                <option value="NC">Neukaledonien</option>
                                                                <option value="NZ">Neuseeland</option>
                                                                <option value="NI">Nicaragua</option>
                                                                <option value="NL">Niederlande</option>
                                                                <option value="NE">Niger</option>
                                                                <option value="NG">Nigeria</option>
                                                                <option value="NU">Niue</option>
                                                                <option value="MP">Nördliche Marianen</option>
                                                                <option value="KP">Nordkorea</option>
                                                                <option value="NO">Norwegen</option>
                                                                <option value="OM">Oman</option>
                                                                <option value="AT">Österreich</option>
                                                                <option value="TL">Osttimor</option>
                                                                <option value="PK">Pakistan</option>
                                                                <option value="PW">Palau</option>
                                                                <option value="PS">Palästinensische Gebiete</option>
                                                                <option value="PA">Panama</option>
                                                                <option value="PG">Papua-Neuguinea</option>
                                                                <option value="PY">Paraguay</option>
                                                                <option value="PE">Peru</option>
                                                                <option value="PH">Philippinen</option>
                                                                <option value="PN">Pitcairninseln</option>
                                                                <option value="PL">Polen</option>
                                                                <option value="PT">Portugal</option>
                                                                <option value="PR">Puerto Rico</option>
                                                                <option value="RE">Réunion</option>
                                                                <option value="RW">Ruanda</option>
                                                                <option value="RO">Rumänien</option>
                                                                <option value="RU">Russland</option>
                                                                <option value="SB">Salomonen</option>
                                                                <option value="ZM">Sambia</option>
                                                                <option value="WS">Samoa</option>
                                                                <option value="SM">San Marino</option>
                                                                <option value="ST">São Tomé und Príncipe</option>
                                                                <option value="SA">Saudi-Arabien</option>
                                                                <option value="SE">Schweden</option>
                                                                <option value="CH">Schweiz</option>
                                                                <option value="SN">Senegal</option>
                                                                <option value="RS">Serbien</option>
                                                                <option value="SC">Seychellen</option>
                                                                <option value="SL">Sierra Leone</option>
                                                                <option value="ZW">Simbabwe</option>
                                                                <option value="SG">Singapur</option>
                                                                <option value="SX">Sint Maarten</option>
                                                                <option value="SK">Slowakei</option>
                                                                <option value="SI">Slowenien</option>
                                                                <option value="SO">Somalia</option>
                                                                <option value="HK">Sonderverwaltungsregion Hongkong</option>
                                                                <option value="MO">Sonderverwaltungsregion Macau</option>
                                                                <option value="ES">Spanien</option>
                                                                <option value="LK">Sri Lanka</option>
                                                                <option value="SH">St. Helena</option>
                                                                <option value="KN">St. Kitts und Nevis</option>
                                                                <option value="LC">St. Lucia</option>
                                                                <option value="PM">St. Pierre und Miquelon</option>
                                                                <option value="VC">St. Vincent und die Grenadinen</option>
                                                                <option value="ZA">Südafrika</option>
                                                                <option value="SD">Sudan</option>
                                                                <option value="GS">Südgeorgien und die Südlichen Sandwichinseln</option>
                                                                <option value="KR">Südkorea</option>
                                                                <option value="SS">Südsudan</option>
                                                                <option value="SR">Suriname</option>
                                                                <option value="SJ">Svalbard und Jan Mayen</option>
                                                                <option value="SY">Syrien</option>
                                                                <option value="TJ">Tadschikistan</option>
                                                                <option value="TW">Taiwan</option>
                                                                <option value="TZ">Tansania</option>
                                                                <option value="TH">Thailand</option>
                                                                <option value="TG">Togo</option>
                                                                <option value="TK">Tokelau</option>
                                                                <option value="TO">Tonga</option>
                                                                <option value="TT">Trinidad und Tobago</option>
                                                                <option value="TD">Tschad</option>
                                                                <option value="CZ">Tschechien</option>
                                                                <option value="TN">Tunesien</option>
                                                                <option value="TR">Türkei</option>
                                                                <option value="TM">Turkmenistan</option>
                                                                <option value="TC">Turks- und Caicosinseln</option>
                                                                <option value="TV">Tuvalu</option>
                                                                <option value="UG">Uganda</option>
                                                                <option value="UA">Ukraine</option>
                                                                <option value="HU">Ungarn</option>
                                                                <option value="UY">Uruguay</option>
                                                                <option value="UZ">Usbekistan</option>
                                                                <option value="VU">Vanuatu</option>
                                                                <option value="VA">Vatikanstadt</option>
                                                                <option value="VE">Venezuela</option>
                                                                <option value="AE">Vereinigte Arabische Emirate</option>
                                                                <option value="US">Vereinigte Staaten</option>
                                                                <option value="VN">Vietnam</option>
                                                                <option value="WF">Wallis und Futuna</option>
                                                                <option value="EH">Westsahara</option>
                                                                <option value="CF">Zentralafrikanische Republik</option>
                                                                <option value="CY">Zypern</option>
                                                            </select>
                                                            <label for="floatingInput">Land / country *</label>
                                                        </div>

                                                        <div class="form-floating mb-3">
                                                        <input class="form-control" value="@order.PhoneNumber" required name="RechnungTelefon" id="floatingInput" placeholder="Telefonnummer / phone number *" />
                                                            <label for="floatingInput">Telefonnummer / phone number *</label>
                                                        </div>
                                           
                                                }
                                            </div>

                                            <div id="blockSchrite" class="shadow-lg  mb-5 bg-body-tertiary rounded">
                                                <div style="display:flex;gap:10px;">
                                                    <h2><strong>Versandadresse</strong></h2>
                                                </div>
                                                <div style="display:flex;gap:30px">
                                                    <input type="checkbox" name="Rehnung" checked onchange="changeAdress(event.target.checked,@z)" />
                                                    <h4>Lieferadresse ist gleich Rechnungsadresse</h4>
                                                </div>
                                                <br />
                                                <div id="rechnungSend">
                                                </div>
                                            </div>
                                         


                                            <div id="blockSchrite" class="shadow-lg  mb-5 bg-body-tertiary rounded">
                                                    <div style="display:flex;gap:10px;">
                                                        <h2><strong>Versandarten</strong></h2>
                                                    </div>
                                                    <br />
                                                    <div>

                                                    <input type="hidden" id="gramWert-@z" value="@Gramm[z]" />

                                                        <input type="radio" id="dhl-@z" onchange="changeSend(@z)" checked name="DhlSend" value="DHL">
                                                        <input type="text" readonly style="border: none;outline:none" value="0" id="CostGram-@z" /> <br>
                                                    </div>

                                                    <div style="display: flex;gap: 30px;align-items: center;">
                                                        <input type="radio" readonly style="border: none;" onchange="changeSend(@z)" id="Plase-@z" name="DhlSend" value="0,00 €">
                                                        <label for="css" style="margin-left: -25px;">0,00 €</label><br>
                                                        <h4>
                                                         Abholung in Berlin (Brunnenstraße 8, 10119 Berlin)
                                                        </h4>
                                                    </div>
                                                </div>

                                            <div id="blockSchrite" class="shadow-lg  mb-5 bg-body-tertiary rounded">
                                                    <div style="display:flex;gap:10px;">
                                                        <h2><strong>Zahlungsart</strong></h2>
                                                    </div>
                                                    <br />
                                                    <div style="display: flex;gap: 50px;" id="bezalenMethod-@z">
                                                        <label>
                                                            <input type="radio" onchange="BezaleMethod(@z)" checked name="Pay" value="PayPall">
                                                        <img src="@("/compression/paypal.webp")" height="30" width="30" />
                                                            <h4>PayPall</h4>
                                                        </label><br>                                                   
                                                         <label>
                                                        <input type="radio" onchange="BezaleMethod(@z)" name="Pay" value="Vorkasse">
                                                        <img src="@("/compression/bezahlverfahren.png")" height="40" width="40" />
                                                        <h4>Vorkasse</h4>
                                                        </label>  
                                                    </div>
                                                </div>


                                           @{
                                                decimal costProcentKey = Math.Round(Convert.ToDecimal(orderList[z].KeyCost) * 0.19m, 2);

                                                decimal resultKeyItem = Math.Round(Convert.ToDecimal(orderList[z].KeyCost) - costProcentKey, 2);

                                                string formattedResultKeyI = resultKeyItem.ToString("C");
                                            }

                                            <div id="blockSchrite" class="shadow-lg  mb-5 bg-body-tertiary rounded">

                                                <div class="card shadow-lg mb-4 bg-body-tertiary rounded">
                                                    <div class="row g-0">
                                                        <div class="col-md-2">
                                                            <img style="align-self: center;text-align: center;" src="@("/compression/Schliarticle.webp")" class="img-fluid rounded-start" width="100" height="100" alt="Schliarticle">
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="card-body">
                                                                <h3>@orderList[z].ProductName</h3>
                                                                <div class="card-text" id="schlüssel-@z">
                                                                    <h4>Schlüssel</h4>
                                                                    <h4>Anzahl: @orderList[z].KeyCount</h4>
                                                                    <h4 id="PreisProduct-@z">Preis: @formattedResultKeyI</h4>
                                                                    <input type="hidden" id="preis_schluessel-@z" name="PreisKey" />
                                                                    <input type="hidden" id="PreisProductBruttoSchlussel-@z" value="@orderList[z].KeyCost" />
                                                                    <input type="hidden" id="PreisProductNettoSchlussel-@z" value="@resultKeyItem" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                        @for (int s = 0; s < countProduct[z]; s++)
                                                        {
                                                            decimal costProcentItem = Math.Round(Convert.ToDecimal(orderItem[ProudctItemCounter].Price) * 0.19m, 2);

                                                            // Вычисляем итоговую сумму после вычитания 19%
                                                            decimal resultItem = Math.Round(Convert.ToDecimal(orderItem[ProudctItemCounter].Price) - costProcentItem, 2);

                                                            // Форматируем результат как валюту
                                                            string formattedResultItem = resultItem.ToString("C");


                                                             <div class="card shadow-lg mb-4 bg-body-tertiary rounded">
                                                                <div class="row g-0">
                                                                    <div class="col-md-2">
                                                                        <img style="align-self: center;text-align: center;" src="@($"/compression/{imageList[ProudctItemCounter]}")" class="img-fluid rounded-start" alt="@orderItem[ProudctItemCounter].Name" width="100" height="100">
                                                                    </div>
                                                                    <div class="col-md-8">
                                                                        <div class="card-body">
                                                                            <h3 class="card-title">Name: @orderItem[ProudctItemCounter].Name</h3>
                                                                            <div class="card-text" id="cardProductPrice-@z">
                                                                                  
                                                                            <br />
                                                                               <h4>aussen: @orderItem[ProudctItemCounter].Aussen || innen: @orderItem[ProudctItemCounter].Intern</h4>
                                                                                <h4>Option - @orderItem[ProudctItemCounter].Option</h4>
                                                                                <h4>Anzahl: @orderItem[ProudctItemCounter].Count</h4>
                                                                                <h4 id="PreisProduct-@z">Preis: @formattedResultItem</h4>
                                                                                <input type="hidden" id="preis_product-@z"  name="PreisProduct" />
                                                                                <input type="hidden" id="PreisProductBrutto-@z" value="@orderItem[ProudctItemCounter].Price" />
                                                                                <input type="hidden" id="PreisProductNetto-@z" value="@resultItem" />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            UserOrderId = @orderList[z].Id;
                                                            ProudctItemCounter++;
                                                        }

                                                </div>                                          

                                            <div id="blockSchrite" style="display: grid;justify-content: center;" class="shadow-lg  mb-5 bg-body-tertiary rounded">

                                                <div style="grid-template-columns: auto auto;display: grid;">
                                                    <input id="procent-@z" style="outline:none;border:none;max-width:120px" type="text" readonly name="procent" value="Steuer:" />
                                                    <input redonly name="Steuer" style="text-align: end;border: none;outline: none" type="text" value="0" id="aldProcent-@z" />
                                                </div>

                                                <div style="grid-template-columns: auto auto;display: grid;">
                                                    <h3>Versand:</h3>
                                                    <input name="Versand" type="text" redonly style="text-align: end;border: none;outline: none" value="0" id="CostGram-@z" />
                                                </div>

                                                <div style="grid-template-columns: auto auto; display: grid;">
                                                    <h3>Bestellsumme:</h3>
                                                    <input name="OrderSum" readonly style="text-align: end; border: none; outline: none" value="@formattedResultKey" id="costedI-@z" />
                                                    <input readonly type="hidden" style="text-align: end; border: none; outline: none" value="@orderList[z].OrderSum" id="costedР-@z" />
                                                    <input readonly type="hidden" name="NettoSumOrder" style="text-align: end; border: none; outline: none" value="@formattedResultKey" />
                                                </div> 

                                                <input type="hidden" id="Aufrechnung-@z" name="aufRechnung" value="false" />
                                                <input type="submit" class="btn btn-success" id="SendRechnung-@z" style="display:none; padding:10px 20px 10px 20px" value="Bezahlen an der Kasse" />

                                                <div id="paypal-button-container-@z"> </div>
                                                
                                              
                                                <input type="hidden" value="@orderList[z].Id" id="invoiceNumber-@z" />
                                                <input type="hidden" value="@orderList[z].UserOrderKey" name="userName" />
                                            </div>

                                                <input type="hidden" id="@z" value="true" />

                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn danger" data-bs-dismiss="modal">Schließen</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="card_controll">
                         
                            <div>
                                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal-@z" onclick="OpenModalInfo(@z,@orderList[z].Id)">Bezahlen</button>
                                </div>
                            <div>
                                <button class="btn danger">
                                    <a href="@Url.Action("System_Auswählen","Konfigurator",new{Id = @orderList[z].Id ,userName = @orderList[z].UserOrderKey , isNewKonfig = true, Biarbeiten = true} )">Schließplan bearbeiten</a>
                                </button>
                            </div>
                            <div style="margin-left: auto;">
                                <button id="removeOrder" class="btn danger" onclick="(remove(@orderList[z].Id))">Bestellung entfernen</button>
                            </div>
                        </div>
                    </div>
                   @*  <div id="container"></div> *@
                    costed = costed + orderList[z].OrderSum;
                }
                
            }
           
        </div>
     
    </div>
</div>
@section Scripts 
{  
    <script src="https://www.paypal.com/sdk/js?client-id=AcBDGr9EZyKwRHBxrvvXq2u-vFWhg-e2l09CS97O5fbcwx0JYkjJRfsNUS_lJ6QjdTOwGe830IkBill9&components=buttons&currency=EUR"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/big.js/6.1.1/big.min.js"></script>
     <script defer src="https://x.klarnacdn.net/kp/lib/v1/api.js"></script>  

    <script type="text/javascript">


        const apiKey = '0928aaf5e30b2777f31177d6a2ea6f1c';


        window.klarnaAsyncCallback = function () {
            window.Klarna.Payments.Buttons.init({
                client_id: "54fa6b3e-bd34-4f97-b30d-aebe79849f3c",
            }).load(
                {
                    container: '#container',
                    theme: 'default',
                    shape: 'default',
                    locale: 'de-DE',
                    on_click: (authorize) => {
                        // Создайте orderPayload с актуальными данными
                        const orderPayload = {
                            purchase_country: 'DE',
                            purchase_currency: 'EUR',
                            order_amount: 10000, // Сумма в центах
                            order_lines: [
                                {
                                    quantity: 1,
                                    name: "Товар 1",
                                    total_amount: 10000,
                                    total_discount_amount: 0,
                                    total_tax_amount: 0,
                                    currency: "EUR",
                                },
                            ],
                        };

                        if (authorize) {
                            authorize({ auto_finalize: true, collect_shipping_address: true }, orderPayload, (result) => {
                                if (result && result.authorization_token) {
                                    console.log('Authorization successful:', result.authorization_token);
                                    console.log('Session ID:', result.session_id);

                                    // Получение информации о доставке, если collect_shipping_address был установлен в true
                                    if (result.collected_shipping_address) {
                                        const shippingAddress = result.collected_shipping_address;
                                        console.log('Collected shipping address:', shippingAddress);

                                        // Вы можете использовать эти данные для обработки доставки
                                        // Например, сохранить их в базе данных или отобразить пользователю
                                    }

                                    // Дополнительная обработка, например, перенаправление пользователя или уведомление о завершении заказа
                                    alert("Ваш заказ успешно оформлен!");
                                } else {
                                    console.error('Authorization failed:', result);
                                    alert("Ошибка авторизации. Пожалуйста, попробуйте снова.");
                                }
                            });
                        } else {
                            console.error('Authorization method is not defined. Ensure load was successful.');
                        }
                    }
                },
                function load_callback(loadResult) {
                    // Here you can handle the result of loading the button
                }
            )
        }
       
    </script>

<script>

    let currentPrice = '0.00';

    let removeButton = document.getElementById("removeOrder");
    let AllOrderID = document.querySelector("#OrderId");

    var span = document.getElementsByClassName("close")[0];

    let s = 0;
       
      
    function changeSend(BlockItem) 
    {
        let sendDhl = document.getElementById("dhl-" + BlockItem);

        let sendCost = document.getElementById("CostGram-" + BlockItem);
        
        let cost = document.querySelectorAll("#costedI-" + BlockItem);

        let Plase = document.getElementById("Plase-" + BlockItem);

        let versend = document.querySelectorAll("#CostGram-" + BlockItem);

        let allItemCost = [];

        cost.forEach((item) => {
            allItemCost.push(item.value.replace("€", "").replace(",", ".").trim());
        });

        if (sendDhl.checked == true) 
        {
            for (let i = 0; i < allItemCost.length; i++) 
            {
                allItemCost[i] = parseFloat(allItemCost[i]) + parseFloat(sendCost.value.replace("€", "").replace(",",".").trim());
                cost[i].value = allItemCost[i].toLocaleString('de-DE', {style: 'currency',currency: 'EUR'});
                changePrice(allItemCost[i]);

            }

            versend.forEach((items) => {
                items.value = sendCost.value;
            })
        }
        else 
        {
            for (let i = 0; i < allItemCost.length; i++) 
            {
                allItemCost[i] = parseFloat(allItemCost[i]) - parseFloat(sendCost.value.replace("€", "").trim());
                cost[i].value = allItemCost[i].toLocaleString('de-DE', { style: 'currency', currency: 'EUR' });
                changePrice(allItemCost[i]); 
            }
            versend[1].value = Plase.value;
            
        }

        
    }

    function OpenModalInfo(id,IdOrder) 
    {
        let OrderNum = document.getElementById("invoiceNumber-" + id);
        
        let invoiceNumber = `SK${OrderNum.value}`;

        let cheker = document.getElementById(id);

        let modal = document.getElementById("paypal-button-container-" + id)

        let cost = document.getElementById("costedI-" + id);
        var stringWithoutEuro = cost.innerHTML.replace("€", "");
        var costen = parseFloat(stringWithoutEuro.replace(',', '.').trim());

            if (modal.childNodes.length<2) 
            {
                paypal.Buttons({
                    createOrder: function (data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: currentPrice
                                },
                                invoice_id: invoiceNumber
                            }]
                        });
                    },
                    onApprove: function (data, actions) {
                        return actions.order.capture().then(function (details) {
                            document.getElementById('myForm').submit();
                        });
                    },
                    onError: function (err) {                      
                    }
                }).render(`#paypal-button-container-${id}`);

               

            }
    }
        

    document.addEventListener("DOMContentLoaded", function () 
    {
        let count = document.querySelectorAll("#countOrderSysteam");
        count.forEach((item) => {
            item.value = 1;
        })
        
            let selectCountry = document.querySelectorAll("[name='RechnungLand']");
            selectCountry.forEach((item) => {
                if (item.value == '@Model.Users[0].Rechnun_Land') {
                    item.selected = true;

                    const event = new Event('change', {
                        bubbles: true, 
                        cancelable: true 
                    });

                    item.dispatchEvent(event);
                }
            });
            const vatNumber = document.querySelector('[name="RechnungVat"]');

            console.log(vatNumber.value);
            selectCountry.forEach((item, index) => {
                item.addEventListener('change', (event) => {

                    fetch(`https://apilayer.net/api/validate?access_key=${apiKey}&vat_number=${vatNumber.value}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {

                            if (data.valid) {
                                console.log(`<strong>Результат проверки:</strong><br>
                                        Номер VAT: ${data.vat_number}<br>
                                        Страна: ${data.country_name}<br>
                                        Статус: Действителен`);

                                console.log(data);
                                ProcentMwst(item.value, index, "Действителен");
                            }
                            else {
                                console.log(`<strong>Результат проверки:</strong><br>
                                        Номер VAT: ${data.vat_number}<br>
                                        Страна: ${country_code}<br>
                                        Статус: Недействителен`);
                                console.log(data);
                                ProcentMwst(item.value, index, "Недействителен");
                            }
                        })
                        .catch(error => {
                            console.log(error);
                        });

                });
            });

    });


           

    function remove(empty) 
    {
        $.ajax({
            type: "POST",
            url: "/Konfigurator/RemoveOrder",
            cache:false,
            data: { data: empty},
            success: function (response) {
                window.location.href = '/Identity/Account/Manage/PagePersonalOrders';
            },
            error: function (xhr, status, error) {
                window.location.href = '/Identity/Account/Manage/PagePersonalOrders';
            }
        });

        location.reload();
    }

</script>
<script src="~/Js/Page_Personal_Order/Bezale_Method.js"></script>
<script src="~/Js/Page_Personal_Order/Rehnung_adress.js"></script>
}