@model schliessanlagen_konfigurator.Models.Aussenzylinder_Rundzylinder;
@{
    ViewData["Title"] = "Aussenzylinder Rundzylinder";
}
@if (User.IsInRole("admin"))
{

    <div class="text-center ">
        <div id="myModal_NewSchliessanlagen" class="d-grid gap-3">
            <div id="routBAR">
                <div id="Bar">
                    <button class="btn btn-primary"><a href="@Url.Action("Index","Home")">Profil-Doppelzylinder</a></button>
                    <button class="btn btn-secondary"><a href="@Url.Action("Profil_HalbzylinderRout","Home")">Profil-Halbzylinder</a></button>
                    <button class="btn btn-success"><a href="@Url.Action("Profil_KnaufzylinderRout","Home")">Profil-Knaufzylinder</a></button>
                    <button class="btn btn-danger"><a href="@Url.Action("HebelzylinderRout","Home")">Hebelzylinder</a></button>
                    <button class="btn btn-warning"><a href="@Url.Action("VorhangschlossRout","Home")">Vorhangschloss</a></button>
                </div>
            </div>
            <div>
                <h2>Neuer Außenzylinder Rundzylinder</h2>

                <form asp-action="Create_Aussenzylinder_Rundzylinder" enctype="multipart/form-data" asp-controller="Home">

                    <div id="productMenu">
                        <input style="display:none" asp-for="schliessanlagenId" class="form-control" type="text" value="6" />
                        <div>
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" class="btn btn-success" accept="image/*" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                            @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "error" })
                        </div>
                    </div>

                    <div id="product_desciptions">

                        <div style="margin-bottom: 50px;">
                            <label>Name</label>
                            <input asp-for="Name" required class="form-control" type="text" name="Name" />
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label>Firmenname</label>
                            <input asp-for="companyName" required class="form-control" type="text" />
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label>Name System</label>
                            <input asp-for="NameSystem" required class="form-control" type="text" />
                        </div>

                        <div style="margin-bottom: 50px;">
                            <label>Beschreibungen</label>
                            <textarea asp-for="description" required class="form-control" id="exampleFormControlTextarea1"></textarea>
                        </div>
                        @if (ViewBag.Content != null)
                        {
                            <div>
                                <h3>Submitted Content:</h3>
                                <div>@Html.Raw(ViewBag.Content)</div>
                            </div>
                        }

                        <div style="margin-bottom: 50px;">
                            <label>Price</label>
                            <input asp-for="Price" required class="form-control" />
                        </div>

                        <div id="productOptions">
                        </div>

                    </div>
                    <button id="createBlockBtn" type="button" class="btn btn-success">Optionen hinzufügen</button>
                    <button id="addInputBtn" type="button" class="btn btn-success">+</button>
                    <button id="RemoveInputBtn" type="button" class="btn btn-danger">-</button>

                    <input type="submit" class="btn btn-success" id="input" value="Aussenzylinder Rundzylinder erstellen" />
                </form>


            </div>

        </div>
        <div>

            <h4 id="input">ALL Aussenzylinder / Rundzylinder</h4>
            @using (Html.BeginForm("Aussenzylinder_RundzylinderRout", "Home", FormMethod.Get))
            {
                <table class="table table-bordered">
                    <tbody>
                        <tr id="Table2">
                            <th>Firmenname</th>
                            <th>Systeam</th>
                            <th>Name</th>
                            <th>Bild</th>
                            <th>Price</th>


                            <th>Editieren</th>
                            <th>Optionen</th>
                            <th>Löschen</th>

                            @foreach (var item in ViewBag.item)
                            {
                                <td id="rowTable" class="table-info">@item.companyName</td>
                                <td id="rowTable" class="table-info">@item.NameSystem</td>
                                <td id="rowTable" class="table-info">@item.Name</td>
                                <td id="rowTable" class="table-info"> <img decoding="async" src="@("~/image/"+@item.ImageName)" asp-append-version="true" width="50px" height="50px" /></td>
                                <td id="rowTable " class="table-info"><h6 id="cost">@item.Price.ToString("C")</h6></td>
                                <td id="rowTable" class="table-info"><a href="@Url.Action("Edit_Aussenzylinder_Rundzylinder","Home", new { item.Id })"><img src="@("/Image/edit-tools.png")" height="30" width="30" /></a></td>
                                <td id="rowTable" class="table-info">

                                    <a class="compItem" href="@Url.Action("ProductAussenzylinder","Home", new { item.Id })">
                                        <img src="@("/Image/options.png")" height="30" width="30" />
                                    </a>
                                </td>
                                <td id="rowTable" class="table-info"><a href="@Url.Action("Delete_Aussen","Home", new { item.Id })"><img src="@("/Image/entfernen.png")" height="30" width="30" /></a></td>
                            }

                        </tr>
                    </tbody>
                </table>
            }

        </div>
    </div>
}

@section scripts
{
    <script src="~/lib/tinymce_7.1.2/tinymce/js/tinymce/tinymce.min.js"></script>

    <script type="text/javascript">

            tinymce.init({
                selector: '#exampleFormControlTextarea1'
            });

        let sum = document.querySelectorAll('#cost');

        let costNGF = document.getElementById('costNGF');
        let valueNGF = document.getElementById('valueNGF');

        let productOptions = document.getElementById('productOptions');
        let addOptions = document.getElementById('addOptions');

        document.addEventListener("DOMContentLoaded", function () {
            const container = document.getElementById('productOptions');
            const createBlockBtn = document.getElementById('createBlockBtn');
            const addInputBtn = document.getElementById('addInputBtn');
            const RemoveInputBtn = document.getElementById('RemoveInputBtn');

            let blockCounter = 1;

            createBlockBtn.addEventListener('click', function () {
                const block = createBlock();
                container.appendChild(block);
            });

            addInputBtn.addEventListener('click', function () {
                const blocks = document.querySelectorAll('.input-block');
                const lastBlock = blocks[blocks.length - 1];

                if (lastBlock) {
                    addInputs(lastBlock);
                } else {
                    alert('Сначала создайте блок');
                }
            });

            RemoveInputBtn.addEventListener('click', function () 
            {
                const blocks = document.querySelectorAll('.input-block');
                const lastBlock = blocks[blocks.length - 1];

                let inputProductValue = document.querySelectorAll("#valueNGF  input");
                let inputProductPrice = document.querySelectorAll("#costNGF  input");

                let lastBlockValue = inputProductValue[inputProductValue.length - 1];
                let lastBlockPrice = inputProductPrice[inputProductPrice.length - 1];

                if (lastBlock) {
                    if (inputProductValue.length < 2) {
                        productOptions.removeChild(lastBlock);
                    }
                    else {
                        document.getElementById("valueNGF").removeChild(lastBlockValue);
                        document.getElementById("costNGF").removeChild(lastBlockPrice);
                    }
                }
                else {
                    alert('Сначала создайте блок');
                }
            });

            let counterOptions = 2;
            function createBlock() {

                counterOptions = 2;
                const block = document.createElement('div');
                block.classList.add('input-block');
                block.id = `block-${blockCounter}`;
                block.innerHTML = `<div>
                                                               <h1>Optionen</h1>
                                                                <label>Name</label>
                                                                <input class="form-control" type="text" name="Options" />
                                                                <div>
                                                                    <p></p>
                                                                    <input name="postedFile" type="file" class="btn btn-success" />
                                                                    <p></p>
                                                                </div>
                                                                        <label>Bearbeiten</label>
                                                                <input class="form-control" type="text" name="NGFDescriptions" />
                                                                <h1>Value & Cost </h1>
                                                                <div id="Aussen_Innen_ProfilDopel">
                                                                    <div id="valueNGF">
                                                                       <input type="text" placeholder="Wert" class="form-control" step="0.01" name="valueNGF" />

                                                                    </div>
                                                                    <div id="costNGF">
                                                                        <input type="number" placeholder="Price" class="form-control" step="0.01" name="costNGF" />
                                                                    </div>
                                                                         <input type="hidden" id="counter" name="input_counter" />
                                                                </div>
                                                            </div>`;

                blockCounter++;

                return block;
            }



            function addInputs(block) {

                let d = document.createElement('input');
                d.setAttribute('name', 'costNGF');
                d.setAttribute('placeholder', 'Price');
                d.setAttribute('class', 'form-control');

                let x = document.createElement('input');
                x.setAttribute('name', 'valueNGF');
                x.setAttribute('placeholder', 'Wert');
                x.setAttribute('class', 'form-control');

                const div1 = block.querySelector('#valueNGF');
                const div2 = block.querySelector('#costNGF');

                div1.appendChild(x);

                div2.appendChild(d);

                var counter = document.querySelectorAll('#counter');
                counter[counter.length - 1].value = counterOptions;

                counterOptions++;

                console.log(counterOptions);

            };

        })

    </script>
}