@model schliessanlagen_konfigurator.Models.EditMultipleModelsDopelViewModel;

@{
    ViewData["Title"] = $"Edit/{Model.Profil_Doppelzylinder.Id}";
}
@Html.HiddenFor(m => m.Profil_Doppelzylinder)
@Html.HiddenFor(m => m.Aussen_Innen)
@Html.HiddenFor(m => m.NGF)
@Html.HiddenFor(m => m.NGF_Value)

<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" enctype="multipart/form-data" asp-controller="Home">

            <div id="productMenu">
                <input style="display:none" asp-for="Profil_Doppelzylinder.schliessanlagenId" class="form-control" type="text" value="1" />
                <div>
                    <label asp-for="Profil_Doppelzylinder.ImageFile" class="control-label"></label>
                    <input asp-for="Profil_Doppelzylinder.ImageFile" class="btn btn-success" accept="image/*" />
                    <span asp-validation-for="Profil_Doppelzylinder.ImageFile" class="text-danger"></span>
                    @Html.ValidationMessageFor(m => m.Profil_Doppelzylinder.ImageFile, "", new { @class = "error" })
                </div>
            </div>

            <div id="product_desciptions">

                <div style="margin-bottom: 50px;">
                    <label>Name</label>
                    <input asp-for="Profil_Doppelzylinder.Name" class="form-control" type="text" />
                </div>

                <div style="margin-bottom: 50px;">
                    <label> Company Name</label>
                    <input asp-for="Profil_Doppelzylinder.companyName" class="form-control" type="text" />
                </div>

                <div style="margin-bottom: 50px;">
                    <label>Name System</label>
                    <input asp-for="Profil_Doppelzylinder.NameSystem" class="form-control" type="text" />
                </div>

                <div style="margin-bottom: 50px;">
                    <label>Descriptions</label>
                    <textarea asp-for="Profil_Doppelzylinder.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div style="margin-bottom: 50px;">
                    <label> Artikelnummer</label>
                    <input asp-for="Profil_Doppelzylinder.Artikelnummer" class="form-control" type="text" name="Artikelnummer" />
                </div>

                <div style="margin-bottom: 50px;">
                    <label>Cost</label>
                    <input asp-for="Profil_Doppelzylinder.Cost" class="form-control" />
                </div>

               <h1>Aussen & Innen <input id="addAussen_Innen" class="btn btn-success" type="button" value="+" /></h1>
                <div id="Aussen_Innen_ProfilDopel">

                    <div id="AussenProfilDopel">

                        @{
                            for (var list=0;list < Model.Aussen_Innen.Count;list++)
                            {
                                @Html.EditorFor(m => m.Aussen_Innen[list].aussen)
                               
                            }
                        }
                    </div>

                    <div id="InnenProfilDopel">
                        @{
                            for (var list = 0; list < Model.Aussen_Innen.Count; list++)
                            {
                                @Html.EditorFor(m => m.Aussen_Innen[list].Intern)
                             
                            }
                        } 
                        
                    </div>
                </div>
                <div id="productOptions">
                    @{
                        int valueCount = 0;
                    }
                    @if (ViewBag.countOptionsQuery > 0)
                    {
                        @for (int i = 0; i < ViewBag.optionsName.Count; i++)
                        {
                            <hr/>
                            @Html.EditorFor(m => m.NGF[i].Name)
                            <h6>Value</h6>
                            <hr />
                                @for (int j = 0; j < ViewBag.countOptionsList[i]; j++)
                                {
                                     @Html.EditorFor(m => m.NGF_Value[i].Value)
                                    @Html.EditorFor(m => m.NGF_Value[i].Cost)

                                    valueCount++;
                                }
                            <input type="hidden" id="counter" name="input_counter" value="@ViewBag.countOptionsList[i]" />
                        }
                    }
                    
                </div>

            </div>

            <input type="submit" class="btn btn-success" id="input" value="Create Profil Doppelzylinder" />
        </form>
        <button id="createBlockBtn" class="btn btn-success">Add Options</button>
        <button id="addInputBtn" class="btn btn-success">+</button>
    </div>
    
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        let plusAussen_Innen = document.getElementById('addAussen_Innen');
        let docInnen = document.getElementById('InnenProfilDopel');
        let docAussen = document.getElementById('AussenProfilDopel');
        let sum = document.querySelectorAll('#cost');
        let Aussen_Innen_ProfilDopel = document.getElementById('Aussen_Innen_ProfilDopel');

        let costNGF = document.getElementById('costNGF');
        let valueNGF = document.getElementById('valueNGF');

        let productOptions = document.getElementById('productOptions');
        let addOptions = document.getElementById('addOptions');

        document.addEventListener("DOMContentLoaded", function () {
            const container = document.getElementById('productOptions');
            const createBlockBtn = document.getElementById('createBlockBtn');
            const addInputBtn = document.getElementById('addInputBtn');
            let blockCounter = 1;

            createBlockBtn.addEventListener('click', function () {
                const block = createBlock();
                container.appendChild(block);
            });

            addInputBtn.addEventListener('click', function () {
                const blocks = document.querySelectorAll('.input-block');
                const lastBlock = blocks[blocks.length - 1];

                if (lastBlock) {
                    addInputs(lastBlock);
                } else {
                    alert('Сначала создайте блок');
                }
            });

            let z = ViewBag.countOptionsList.Count +2;
            let counterOptions = z;
            function createBlock() {

                counterOptions = z;
                const block = document.createElement('div');
                block.classList.add('input-block');
                block.id = `block-${blockCounter}`;
                block.innerHTML = `<div>
                                                        <h1>Options</h1>
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" name="Options" />
                                                        <div>
                                                            <p></p>
                                                            <input name="postedFile" type="file" class="btn btn-success" />
                                                            <p></p>
                                                        </div>
                                                        <label>Descriptions</label>
                                                        <input class="form-control" type="text" name="NGFDescriptions" />
                                                        <h1>Value & Cost </h1>
                                                        <div id="Aussen_Innen_ProfilDopel">
                                                            <div id="valueNGF">
                                                                <input type="text" placeholder="valueNGF" step="0.01" name="valueNGF" />

                                                            </div>
                                                            <div id="costNGF">
                                                                        <input type="number" id='cost' placeholder="costNGF" id="cost" step="0.01" name="costNGF" />
                                                            </div>
                                                                        <input type="hidden" id="counter" name="input_counter" />
                                                        </div>
                                                    </div>`;

                blockCounter++;

                return block;
            }



            function addInputs(block) 
            {

                let d = document.createElement('input');
                d.setAttribute('name', 'costNGF');
                d.setAttribute('placeholder', 'costNGF');

                let x = document.createElement('input');
                x.setAttribute('name', 'valueNGF');
                x.setAttribute('placeholder', 'valueNGF');

                const div1 = block.querySelector('#valueNGF');
                const div2 = block.querySelector('#costNGF');

                div1.appendChild(x);

                div2.appendChild(d);

                var counter = document.querySelectorAll('#counter');
                counter[counter.length - 1].value = counterOptions;

                counterOptions++;

                console.log(counterOptions);

            };

            plusAussen_Innen.addEventListener('click', () => {
                let d = document.createElement('input');
                d.setAttribute('name', 'aussen');
                d.setAttribute('placeholder', 'aussen');

                let x = document.createElement('input');
                x.setAttribute('name', 'innen');
                x.setAttribute('placeholder', 'innen');

                docAussen.append(d);
                docInnen.append(x);

            });

        })

        function interfaice() {
            sum.forEach((item) => {
                if (String(item).length < 6) {
                    item.innerHTML = item.innerHTML.slice(0, 5) + '€';
                }

                if (String(item).length > 8) {
                    item.innerHTML = item.innerHTML.slice(0, 6) + '€';
                }

            })
        }

        interfaice();



    </script>
}

