@model schliessanlagen_konfigurator.Models.ProfilDopelZylinder.Profil_Doppelzylinder;

@{
    ViewData["Title"] = $"Edit/{Model.Id}";
}


<h1>Edit</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" enctype="multipart/form-data" asp-controller="Home">
            @Html.HiddenFor(m => m.Id)
            <div id="productMenu">
                <input style="display:none" asp-for="schliessanlagenId" class="form-control" type="text" value="1" />
                <div>
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" class="btn btn-success" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                    @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "error" })
                </div>
            </div> 

            <div id="product_desciptions">

                <div style="margin-bottom: 50px;">
                    <label>Name</label>
                    <input asp-for="Name" class="form-control" type="text" />
                </div>

                <div style="margin-bottom: 50px;">
                    <label> Company Name</label>
                    <input asp-for="companyName" class="form-control" type="text" />
                </div>

                <div style="margin-bottom: 50px;">
                    <label>Name System</label>
                    <input asp-for="NameSystem" class="form-control" type="text" />
                </div>

                <div style="margin-bottom: 50px;">
                    <label>Descriptions</label>
                    <textarea asp-for="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>

                <div style="margin-bottom: 50px;">
                    <label>Cost</label>
                    <input asp-for="Cost" type="number" class="form-control" />
                </div>

            </div>
            <h1>Aussen & Innen <input id="addAussen_Innen" class="btn btn-success" type="button" value="+" /><input id="addAussen_Innen_remove" class="btn btn-danger" type="button" value="-" /></h1>
            <div id="Aussen_Innen_ProfilDopel">

                <div id="AussenProfilDopel">
                    @foreach (var list in ViewBag.AussenProduct)
                    {
                        <input type="number" class="form-control" placeholder="Aussen" id="aus" value="@list" step="0.01" name="aussen" />
                    }
                   
                </div>

                <div id="InnenProfilDopel">
                    @foreach (var list in ViewBag.InternProduct)
                    {
                        <input type="number" class="form-control" placeholder="innen" id="inter" value="@list" step="0.01" name="innen" />
                    }
                   
                </div>
            </div>
            <div id="productOptions">
                @{
                    int valueCount = 0;
                }
                @if (ViewBag.countOptionsQuery > 0)
                {
                    @for (int i = 0; i < ViewBag.optionsName.Count; i++)
                    {
                        <hr />
                        <input class="form-control" name="optionsName" value="@ViewBag.optionsName[i]" />
                        <hr />

                            @for (int j = 0; j < ViewBag.countOptionsList[i]; j++)
                            {
                            <input class="form-control" name="optionsValue" id="@valueCount" value="@ViewBag.optionsValue[valueCount]" />
                            <input class="form-control" name="optionsCost" id="@valueCount" value="@ViewBag.optionsCost[valueCount]" />

                                <input type="hidden" id="counter" name="input_counter" />
                                valueCount++;
                            }
                   
                    }
                }
            </div>
            <input type="submit" class="btn btn-success" id="input" value="Update Profil Doppelzylinder" />
        </form>
        <button id="createBlockBtn" class="btn btn-success">Add Options</button>
        <button id="addInputBtn" class="btn btn-success">+</button>
        <button id="RemoveInputBtn" class="btn btn-danger">-</button>
    </div>
    
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        let plusAussen_Innen = document.getElementById('addAussen_Innen');
        let docInnen = document.getElementById('InnenProfilDopel');
        let docAussen = document.getElementById('AussenProfilDopel');
        let sum = document.querySelectorAll('#cost');
        let Aussen_Innen_ProfilDopel = document.getElementById('Aussen_Innen_ProfilDopel');

        let costNGF = document.getElementById('costNGF');
        let valueNGF = document.getElementById('valueNGF');

        let productOptions = document.getElementById('productOptions');
        let addOptions = document.getElementById('addOptions');

        let removeAussen_Innen = document.getElementById('addAussen_Innen_remove');

        document.addEventListener("DOMContentLoaded", function () {
            const container = document.getElementById('productOptions');
            const createBlockBtn = document.getElementById('createBlockBtn');
            const addInputBtn = document.getElementById('addInputBtn');
            const RemoveInputBtn = document.getElementById('RemoveInputBtn');

            let blockCounter = 1;

            createBlockBtn.addEventListener('click', function () {
                const block = createBlock();
                container.appendChild(block);
            });

            addInputBtn.addEventListener('click', function () {
                const blocks = document.querySelectorAll('.input-block');
                const lastBlock = blocks[blocks.length - 1];

                if (lastBlock) {
                    addInputs(lastBlock);
                } else {
                    alert('Сначала создайте блок');
                }
            });

            RemoveInputBtn.addEventListener('click', function () {
                const blocks = document.querySelectorAll('.input-block');
                const lastBlock = blocks[blocks.length - 1];

                if (lastBlock) {
                    productOptions.removeChild(lastBlock);
                }
                else {
                    alert('Сначала создайте блок');
                }
            });

            let counterOptions = 2;
            function createBlock() {

                counterOptions = 2;
                const block = document.createElement('div');
                block.classList.add('input-block');
                block.id = `block-${blockCounter}`;
                block.innerHTML = `<div>
                                                        <h1>Options</h1>
                                                        <label>Name</label>
                                                        <input class="form-control" type="text" name="Options" />
                                                        <div>
                                                            <p></p>
                                                            <input name="postedFile" type="file" class="btn btn-success" />
                                                            <p></p>
                                                        </div>
                                                        <label>Descriptions</label>
                                                        <input class="form-control" type="text" name="NGFDescriptions" />
                                                        <h1>Value & Cost </h1>
                                                        <div id="Aussen_Innen_ProfilDopel">
                                                            <div id="valueNGF">
                                                                <input type="text" placeholder="valueNGF" step="0.01" name="valueNGF" />

                                                            </div>
                                                            <div id="costNGF">
                                                                        <input type="number" id='cost' placeholder="costNGF" id="cost" step="0.01" name="costNGF" />
                                                            </div>
                                                                        <input type="hidden" id="counter" name="input_counter" />
                                                        </div>
                                                    </div>`;

                blockCounter++;

                return block;
            }



            function addInputs(block) {

                let d = document.createElement('input');
                d.setAttribute('name', 'costNGF');
                d.setAttribute('placeholder', 'costNGF');

                let x = document.createElement('input');
                x.setAttribute('name', 'valueNGF');
                x.setAttribute('placeholder', 'valueNGF');

                const div1 = block.querySelector('#valueNGF');
                const div2 = block.querySelector('#costNGF');

                div1.appendChild(x);

                div2.appendChild(d);

                var counter = document.querySelectorAll('#counter');
                counter[counter.length - 1].value = counterOptions;

                counterOptions++;

                console.log(counterOptions);

            };




            plusAussen_Innen.addEventListener('click', () => {
                let d = document.createElement('input');
                d.setAttribute('name', 'aussen');
                d.setAttribute('placeholder', 'aussen');
                d.id = 'aus';

                let x = document.createElement('input');
                x.setAttribute('name', 'innen');
                x.setAttribute('placeholder', 'innen');
                x.id = 'inter'
                docAussen.append(d);
                docInnen.append(x);

            });
            removeAussen_Innen.addEventListener('click', () => {
                let d = document.querySelectorAll('#aus');
                let x = document.querySelectorAll('#inter');

           
                docAussen.removeChild(d[d.length - 1]);
                docInnen.removeChild(x[x.length - 1]);
            });

        })

        function interfaice() {
            sum.forEach((item) => {
                if (String(item).length < 6) {
                    item.innerHTML = item.innerHTML.slice(0, 5) + '€';
                }

                if (String(item).length > 8) {
                    item.innerHTML = item.innerHTML.slice(0, 6) + '€';
                }

            })
        }

        interfaice();


    </script>
}

