@model IEnumerable<string>
@{
    ViewData["Title"] = "Bild bearbeiten";
}
@if (User.IsInRole("admin"))
{
    <h1>@ViewData["Title"]</h1>
    <hr />
    <br />
    <div>
        <h3>Bild laden</h3>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
        }
    </div>
    <br />
    <hr />
    <div id="gridImg">
        @foreach (var imageName in Model)
        {
            <div>
                <img src="@("/Image/" + imageName)" style="padding:5px" height="300" width="300" alt="@imageName" />
                <a id="deleteImg" href="@Url.Action("Delete", "Home", new { imageName = imageName })">x</a>
                <p>@imageName</p>
            </div>

        }
    </div>
}