<footer class="bg-dark text-white mt-5 p-5 mb-0 text-center">
    <div class="container" style="background-color:rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important">
        <div class="row">
            <div class="col-md-4 mt-2 p-2">

                <img src="@("/Image/basi.png")" height="60" width="120" />

            </div>
            <div class="col-md-4 mt-2 p-2">
                <img src="@("/Image/ces.png")" height="40" width="40" style="margin-left:10px" />
                <br/>
                <div style="margin-top:20px">
                    <li> <a href="#" class="text-white mr-2">UDM5</a></li>
                    <li><a href="#" class="text-white mr-2">RHM5</a></li>
                    <li> <a href="#" class="text-white mr-2">DU5</a></li>
                    <li> <a href="#" class="text-white mr-2">WO5</a></li>
                </div>
               
            </div>
            <div class="col-md-4 mt-2 p-2">

                <img src="@("/Image/logo_abus.png")" height="80" width="60" />

            </div>
            <div class="col-md-4 mt-2 p-2">
                <img src="@("/Image/logo_evva.png")" height="80" width="60" />
               
            </div>
        </div>
        <hr style="height: 3px;">
        <h2><a href="@Url.Action("Impressum","Home")" class="text-white mr-2">Impressum</a></h2>
    </div>
</footer>