<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Schliessanlagen Konfigurator</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area=""><img src="@("/Image/SD_Logo.svg")" height="60" width="60" /> Schliessanlagen Konfigurator</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="margin-left:100px" class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">


                            @if (ViewBag.UserInformStatus == "Admin")
                            {
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Produktbearbeitung</a>
                                </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="OrderSetup">Auftragsbearbeitung</a>
                            </li>
                            }
                        
                        
                       
                        <li class="nav-item">
                            <a class="nav-link text-dark" href=" @Url.Action("IndexKonfigurator", "Konfigurator")">Konfigurator</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav flex-grow-1" style="display: flex;align-items: center;text-align: center;">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href=" @Url.Action("IndexKonfigurator", "Konfigurator")">SCHRITT 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href=" @Url.Action("System_Auswählen", "Konfigurator")">SCHRITT 2</a>
                        </li>
                        <li class="nav-item">   
                            <a class="nav-link text-dark" href=" @Url.Action("OrdersKey", "Konfigurator")">SCHRITT 3</a>
                        </li>
                       
                    </ul>
                    <ul class="navbar-nav flex-grow-1" style="display: flex;align-items: center;text-align: center;">
                        <li class="nav-item">
                            <a style="text-decoration:underline;color:black;" id="Username" href="@Url.Action("AdminConnect","Konfigurator", new {UserId = ViewBag.UserId})">@ViewBag.UserNameItem</a>
                        </li>
                  
                            <li class="nav-item">
                            <button class="nav-link text-dark" type="button" id="schopIcons" data-toggle="modal" data-target="#myModal"><img id="openModalBtn" src="~/Image/shopping-cart.png" width="20" height="20" style="margin-left:-2px;margin-top:-12px" /><span id="CountOrders">@ViewBag.CountOrders</span></button>
                            </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="myModal" class="modal">
            @Html.Partial("_ModalShop")
        </div>
    </header>
    <div class="container">
        <main role="main" >
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>

    let documentOrder = document.getElementById("CountOrders");

    console.log(@ViewBag.UserNameItem);

    $(document).ready(function () {

        var modal = $("#myModal");
        var btn = $("#openModalBtn");
        var closeBtn = $(".close");

        btn.on("click", function () {
            modal.show();
        });

        closeBtn.on("click", function () {
            modal.hide();
        });

        $(window).on("click", function (event) {
            if (event.target == modal[0]) {
                modal.hide();
            }
        });
    });
</script>