<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" defer />
    <link rel="stylesheet" as="style" href="~/css/site.min.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" loading="lazy" alt="logo" href="@("/compression/SD_Logo-rund.webp")" />  
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentUrl = window.location.href;
            var canonicalLink = document.querySelector('link[rel="canonical"]');
            if (canonicalLink) {
                canonicalLink.setAttribute('href', currentUrl);
            }
        });
    </script>
    <link rel="canonical" href="" />
    <meta name="google-site-verification" content="IsNOTjO6GlJpiCjeAVXfTj7CGOcsjaJkC13Tp5q0GQQ" />
     <script async src="https://www.googletagmanager.com/gtag/js?id=G-1D9HDZ80QC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-1D9HDZ80QC');
    </script> 
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-xl navbar-light bg-white border-bottom box-shadow ">
            <div class="container-fluid">
                <h1 class="navbar-brand" asp-area="" asp-action="IndexKonfigurator" asp-controller="Konfigurator"> <img loading="lazy" src="@("/Image/SD_Logo.svg")" height="60" width="100" alt="schliessanlagen.discount" /> Schliessanlagen Konfigurator</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div style="margin-left:100px" class="navbar-collapse collapse d-xl-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">


                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Produktbearbeitung</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AllOrders">Auftragsbearbeitung</a>
                                </li>
                            }

                        <li class="nav-item">
                            <a class="nav-link text-dark" href=" @Url.Action("IndexKonfigurator", "Konfigurator")">Konfigurator</a>
                        </li>                      
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        
    </header>
    <div class="page-wrapper">
        <div class="content">
            @RenderBody()
        </div>
      @await Component.InvokeAsync("Footer")
    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js" async></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" async></script>
    <script src="~/lib/tinymce_7.1.2/tinymce/js/tinymce/tinymce.min.js" async></script>
</body>
</html>
