@using Microsoft.AspNetCore.Identity
@using schliessanlagen_konfigurator.Models.Users

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                @UserManager.GetUserName(User) 
                @{
                    if (ViewBag.CountOrder != null)
                    {
                        <span style="font-size: 12px;color: white;background: red;border-radius: 50%;padding: 4px;">@ViewBag.CountOrder</span>
                    }
                }
        </a>
        <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        Profil
                    </a></li>
                
            <li><hr class="dropdown-divider"/></li>
                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Context.Request.Path">Abmeldung</a></li>
        </ul>
    </li>

}
else
{
        <li class="nav-item">
            <a class="nav-link text-dark" onclick="" asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Context.Request.Path">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" onclick="saveReturnUrl()" asp-area="Identity" asp-route-returnUrl="@Context.Request.Path" asp-page="/Account/Login">Anmeldung</a>
        </li>
}
  
</ul>
